@model IEnumerable<PMSAWebMVC.Models.PurchaseOrderReceive>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PurchaseOrderReceiveOID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PurchaseDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SignStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employee.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PurchaseOrder.SupplierCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SignFlow.OriginatorID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SupplierAccount.ContactName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SupplierInfo.SupplierName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PurchaseOrderReceiveOID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PurchaseDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SignStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employee.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PurchaseOrder.SupplierCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SignFlow.OriginatorID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SupplierAccount.ContactName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SupplierInfo.SupplierName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PurchaseOrderReceiveID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PurchaseOrderReceiveID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PurchaseOrderReceiveID })
        </td>
    </tr>
}

</table>
