@model PMSAWebMVC.ViewModels.BuyerSupAccount.SupInfoViewModel

@{
    ViewBag.Title = "新增供應商公司";
}

@section styles{
    <style>
        @@keyframes fadeinShowBody {
            0% {
                opacity: 0;
            }

            20% {
                opacity: 0.8;
            }

            100% {
                opacity: 1;
            }
        }

        @@keyframes fadeinShow {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }

        body {
            /*animation: 0.3s fadeinShowBody 0.3s both;*/
        }
        /*標題 包在.wrapall中使用*/
        .wrapall h2 {
            font-weight: 500;
            color: #909399;
            letter-spacing: 2px;
            margin-bottom: 0px;
        }

        .wrapall h6 {
            font-size: 13px;
            letter-spacing: 5px;
            margin-left: 3px;
            margin-bottom: 10px;
            font-weight: 500;
            color: #C0C4CC;
        }

        .wrapall h5 {
            margin: 0;
        }

        .wrapall {
            animation: 0.4s fadeinShow 0.3s both;
        }
        /*input ======================*/
        .form-group label {
            margin: 0;
            margin-bottom: 2px;
            /*font-weight: 600;*/
        }

        .disabled {
            background-color: none;
            border: 0;
            font-size: 15px;
            padding: 0;
            padding-left: 2px;
            height: auto;
            color: #909399;
        }

        .row .left, .row .right {
            /*box-shadow: 0 0 3px #909399;*/
            border: 1px solid #E4E7ED;
            background-color: #F4F4F5;
            margin: 10px;
            padding: 20px;
        }

        .supCompanyInfoDiv .form-group {
            background-color: white;
            border: 1px solid #DCDFE6;
            box-shadow: 0 0 2px #DCDFE6;
            border-left: 4px solid #606266;
            padding: 5px;
        }

        .row {
            counter-reset: section;
        }

            .row h4 {
                font-size: 18px;
                margin-bottom: 20px;
                border-bottom: 2px solid #007bff;
                padding-bottom: 5px;
                color: #007bff;
                font-weight: 800 !important;
            }

                .row h4::before {
                    counter-increment: section;
                    display: inline-block;
                    content: counter(section);
                    background-color: #007bff;
                    color: white;
                    font-size: 16px;
                    border-radius: 10px;
                    text-align: center;
                    width: 20px;
                    height: 20px;
                    margin-right: 3px;
                    transform: translateY(-2px)
                }

        .card-header h5 {
            font-size: 18px;
            margin: 0;
        }
    </style>
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="@Url.Action("Index")"><i class="fas fa-building"></i> 供應商公司總覽</a></li>
        <li class="breadcrumb-item active" aria-current="page">新增供應商公司</li>
    </ol>
</nav>
<div class="wrapall">
    <h2>新增供應商公司</h2>
    <h6>新增公司以新增供應商帳號</h6>
    <div class="card">
        <div class="card-body">
            <div class="row" style="margin: 12px;">
                <div class="col-lg-5 col-md-11 col-sm-11">
                    <h4>填寫供應商公司資料</h4>
                    <div class="left" style="margin:0">
                        <form class="supCompanyInfoDiv" action="@Url.Action("Create","SupInfoCompany")" method="post">
                            <div class="form-group">
                                @Html.LabelFor(model => model.SupplierName)
                                @Html.TextBoxFor(model => model.SupplierName, new { @class = "form-control col-lg-12" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.TaxID)
                                @Html.TextBoxFor(model => model.TaxID, new { @class = "form-control col-lg-12" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Address)
                                @Html.TextBoxFor(model => model.Address, new { @class = "form-control col-lg-12" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Email)
                                @Html.TextBoxFor(model => model.Email, new { @class = "form-control col-lg-12" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Tel)
                                @Html.TextBoxFor(model => model.Tel, new { @class = "form-control col-lg-12" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.SupplierRatingOID)
                                @Html.DropDownListFor(m => m.SupplierRatingOID, new List<SelectListItem> { new SelectListItem { Text = "1", Value = "1" }, new SelectListItem { Text = "2", Value = "2" }, new SelectListItem { Text = "3", Value = "3" } }, new { @class = "form-control" })
                            </div>
                            <button id="btnNoCompany" type="submit" class="btn btn-primary">確認新增公司</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script>
 

    </script>
}