@model PMSAWebMVC.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "重設密碼";
}
@section styles
{
    <style>
        @@keyframes fadeinShowBody {
            0% {
                opacity: 0;
            }

            20% {
                opacity: 0.8;
            }

            100% {
                opacity: 1;
            }
        }

        @@keyframes fadeinShow {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }

        table.dataTable tbody th, table.dataTable tbody td {
            vertical-align: middle;
        }

        body {
            /*animation: 0.3s fadeinShowBody 0.3s both;*/
        }
        /*標題 包在.wrapall中使用*/
        .wrapall h2 {
            font-weight: 500;
            color: #909399;
            letter-spacing: 2px;
            margin-bottom: 0px;
        }

        .wrapall h6 {
            font-size: 13px;
            letter-spacing: 5px;
            margin-left: 3px;
            margin-bottom: 10px;
            font-weight: 500;
            color: #C0C4CC;
        }

        .wrapall {
            animation: 0.4s fadeinShow 0.3s both;
        }
        /*===================sorting*/
        table.dataTable.order-column tbody tr > .sorting_1, table.dataTable.order-column tbody tr > .sorting_2, table.dataTable.order-column tbody tr > .sorting_3, table.dataTable.display tbody tr > .sorting_1, table.dataTable.display tbody tr > .sorting_2, table.dataTable.display tbody tr > .sorting_3 {
            background-color: transparent;
            border-left: 2px solid #4385F4 !important;
        }
        /*input ======================*/
        .form-group label {
            margin: 0;
            margin-bottom: 2px;
            font-weight: 600;
        }

        .disabled {
            background-color: none;
            border: 0;
            font-size: 15px;
            padding: 0;
            padding-left: 2px;
            height: auto;
            color: #909399;
        }

        .modal-header {
            background-color: #eee;
        }

        .modal-footer {
            background-color: #eee;
        }

        .card-header {
            display: flex;
            flex-direction: row;
            padding: 0;
        }

            .card-header h5 {
                font-size: 18px;
                margin: 0;
            }

        .row {
            counter-reset: section;
        }

            .row h4 {
                font-size: 18px;
                margin-bottom: 20px;
                border-bottom: 2px solid #007bff;
                padding-bottom: 5px;
                color: #007bff;
                font-weight: 800 !important;
            }

                .row h4::before {
                    counter-increment: section;
                    display: inline-block;
                    content: counter(section);
                    background-color: #007bff;
                    color: white;
                    font-size: 16px;
                    border-radius: 10px;
                    text-align: center;
                    width: 20px;
                    height: 20px;
                    margin-right: 3px;
                    transform: translateY(-2px)
                }
    </style>
}
<div class="wrapall">
    <h2>重設密碼</h2>
    <h6>請重設密碼以確保您的帳戶安全</h6>
    <div class="card col-lg-6 col-12">
        <div class="card-body">
            @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.ValidationSummary("", new { @class = "text-danger" })
                @Html.AntiForgeryToken()
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "control-label col-lg-12" })
                    <div class="col-12">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label col-lg-12" })
                    <div class="col-12">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-6 mt-4 mb-4">
                        <input type="submit" class="btn btn-primary" value="重設" />
                        <input type="button" class="btn btn-success" onclick="$('#Password').val('P@ssw0rd');$('#ConfirmPassword').val('P@ssw0rd');" value="Demo" />
                    </div>
                </div>
            }
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}