@model PMSAWebMVC.ViewModels.Setting.Sup_parent

@{
    ViewBag.Title = "基本資料設定";
    var SuccessMsg = TempData["SuccessMsg"];
    var ErrorMsg = TempData["ErrorMsg"];
    var emailAlert = TempData["Sended"];
}

@section styles
{

    <style>
        @@keyframes fadeinShowBody {
            0% {
                opacity: 0;
            }

            20% {
                opacity: 0.8;
            }

            100% {
                opacity: 1;
            }
        }

        @@keyframes fadeinShow {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }

        table.dataTable tbody th, table.dataTable tbody td {
            vertical-align: middle;
        }

        body {
            /*animation: 0.3s fadeinShowBody 0.3s both;*/
        }
        /*標題 包在.wrapall中使用*/
        .wrapall h2 {
            font-weight: 500;
            color: #909399;
            letter-spacing: 2px;
            margin-bottom: 0px;
        }

        .wrapall h6 {
            font-size: 13px;
            letter-spacing: 5px;
            margin-left: 3px;
            margin-bottom: 10px;
            font-weight: 500;
            color: #C0C4CC;
        }

        .wrapall {
            animation: 0.4s fadeinShow 0.3s both;
        }
        /*===================sorting*/
        table.dataTable.order-column tbody tr > .sorting_1, table.dataTable.order-column tbody tr > .sorting_2, table.dataTable.order-column tbody tr > .sorting_3, table.dataTable.display tbody tr > .sorting_1, table.dataTable.display tbody tr > .sorting_2, table.dataTable.display tbody tr > .sorting_3 {
            background-color: transparent;
            border-left: 2px solid #28A2FC !important;
        }
        /*input ======================*/
        .form-group label {
            margin: 0;
            margin-bottom: 2px;
            font-weight: 600;
        }

        .disabled {
            background-color: #eee;
            border: 0;
            font-size: 16px;
            height: auto;
            color: #909399;
        }

        .modal-header {
            background-color: #eee;
        }

        .modal-footer {
            background-color: #eee;
        }

        .card-header {
            display: flex;
            flex-direction: row;
            padding: 0;
        }

            .card-header h5 {
                font-size: 18px;
                margin: 0;
            }

        .row {
            counter-reset: section;
        }

            .row h4 {
                font-size: 18px;
                margin-bottom: 20px;
                border-bottom: 2px solid #28A2FC;
                padding-bottom: 5px;
                color: #28A2FC;
                font-weight: 800 !important;
            }

                .row h4::before {
                    counter-increment: section;
                    display: inline-block;
                    content: counter(section);
                    background-color: #28A2FC;
                    color: white;
                    font-size: 16px;
                    border-radius: 10px;
                    text-align: center;
                    width: 20px;
                    height: 20px;
                    margin-right: 3px;
                    transform: translateY(-2px)
                }
    </style>
}
<div class="wrapall">
    <h2>基本資料設定</h2>
    <h6>公司資料、個人資料、安全性設定</h6>
    <div class="row">
        <div class="card col-lg-6 col-12 m-2">
            <div class="card-body">
                @using (Html.BeginForm("Index", "SupSetting"))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <h4>個人資料</h4>
                        <div class="form-group">
                            @Html.LabelFor(model => model.SupSettingViewModel.SupplierAccountID, htmlAttributes: new { @class = "control-label  col-lg-12" })
                            <div class="col-12">
                                @Html.EditorFor(model => model.SupSettingViewModel.SupplierAccountID, new { htmlAttributes = new { @class = "form-control col-lg-12 disabled" } })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.SupSettingViewModel.ContactName, htmlAttributes: new { @class = "control-label col-lg-12" })
                            <div class="col-12">
                                @Html.EditorFor(model => model.SupSettingViewModel.ContactName, new { htmlAttributes = new { @class = "form-control  col-lg-12" } })
                                @Html.ValidationMessageFor(model => model.SupSettingViewModel.ContactName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.SupSettingViewModel.Email, htmlAttributes: new { @class = "control-label  col-lg-12" })
                            <div class="col-12">
                                @Html.EditorFor(model => model.SupSettingViewModel.Email, new { htmlAttributes = new { @class = "form-control  col-lg-12" } })
                                @Html.ValidationMessageFor(model => model.SupSettingViewModel.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.SupSettingViewModel.Mobile, htmlAttributes: new { @class = "control-label col-lg-12" })
                            <div class="col-12">
                                @Html.EditorFor(model => model.SupSettingViewModel.Mobile, new { htmlAttributes = new { @class = "form-control  col-lg-12" } })
                                @Html.ValidationMessageFor(model => model.SupSettingViewModel.Mobile, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.SupSettingViewModel.Tel, htmlAttributes: new { @class = "control-label col-lg-12" })
                            <div class="col-12">
                                @Html.EditorFor(model => model.SupSettingViewModel.Tel, new { htmlAttributes = new { @class = "form-control  col-lg-12" } })
                                @Html.ValidationMessageFor(model => model.SupSettingViewModel.Tel, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <h4 class="mt-5">安全性設定</h4>
                        <div id="alert" class="alert alert-danger font-weight-bold"></div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.SupSettingViewModel.EnableTwoFactorAuth, htmlAttributes: new { @class = "control-label col-lg-12" })
                            <div class="col-12">
                                @Html.DropDownListFor(model => model.SupSettingViewModel.EnableTwoFactorAuth, new List<SelectListItem> { new SelectListItem { Text="是", Value="false"},
                                                                                                                        new SelectListItem { Text="否", Value="false"}}, new { @class = "form-control col-lg-12 TFA" })
                                @Html.ValidationMessageFor(model => model.SupSettingViewModel.EnableTwoFactorAuth, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-12 mt-4 mb-4">
                                <input type="submit" value="確定修改" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="card col-lg-5 col-12 m-2">
            <div class="card-body">
                @using (Html.BeginForm("IndexRight", "SupSetting"))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <h4>公司資料</h4>
                        <div class="form-group">
                            @Html.LabelFor(model => model.SupInfoViewModel.SupplierName, htmlAttributes: new { @class = "control-label col-lg-12" })
                            <div class="col-12">
                                @Html.EditorFor(model => model.SupInfoViewModel.SupplierName, new { htmlAttributes = new { @class = "form-control  col-lg-12" } })
                                @Html.ValidationMessageFor(model => model.SupInfoViewModel.SupplierName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.SupInfoViewModel.TaxID, htmlAttributes: new { @class = "control-label col-lg-12" })
                            <div class="col-12">
                                @Html.EditorFor(model => model.SupInfoViewModel.TaxID, new { htmlAttributes = new { @class = "form-control  col-lg-12" } })
                                @Html.ValidationMessageFor(model => model.SupInfoViewModel.TaxID, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.SupInfoViewModel.Email, htmlAttributes: new { @class = "control-label col-lg-12" })
                            <div class="col-12">
                                @Html.EditorFor(model => model.SupInfoViewModel.Email, new { htmlAttributes = new { @class = "form-control  col-lg-12" } })
                                @Html.ValidationMessageFor(model => model.SupInfoViewModel.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.SupInfoViewModel.Tel, htmlAttributes: new { @class = "control-label col-lg-12" })
                            <div class="col-12">
                                @Html.EditorFor(model => model.SupInfoViewModel.Tel, new { htmlAttributes = new { @class = "form-control  col-lg-12" } })
                                @Html.ValidationMessageFor(model => model.SupInfoViewModel.Tel, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.SupInfoViewModel.Address, htmlAttributes: new { @class = "control-label col-lg-12" })
                            <div class="col-12">
                                @Html.EditorFor(model => model.SupInfoViewModel.Address, new { htmlAttributes = new { @class = "form-control  col-lg-12" } })
                                @Html.ValidationMessageFor(model => model.SupInfoViewModel.Address, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-12 mt-4 mb-4">
                                <input type="submit" value="確定修改" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script>
        var err = '@ErrorMsg';
        if(err){
            toastr.options = {
                "closeButton": true,
                "debug": false,
                "newestOnTop": false,
                "progressBar": false,
                "positionClass": "toast-top-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }
            toastr.error(err)
        }
        //SuccessMsg
           var message = '@SuccessMsg';
                    if(message){
                            toastr.options = {
                              "closeButton": true,
                              "debug": false,
                              "newestOnTop": false,
                              "progressBar": false,
                              "positionClass": "toast-top-right",
                              "preventDuplicates": false,
                              "onclick": null,
                              "showDuration": "300",
                              "hideDuration": "1000",
                              "timeOut": "5000",
                              "extendedTimeOut": "1000",
                              "showEasing": "swing",
                              "hideEasing": "linear",
                              "showMethod": "fadeIn",
                              "hideMethod": "fadeOut"
                            }
                            toastr.success(message)
                    }
        $(document).ready(function(){
            $.getJSON( '@Url.Action("isEmailConfirmed","SupSetting")',
                function(d){
                    if(d.isEmailConfirmed == false){
                        $("#alert").html(`<i class="fas fa-flag-checkered"></i> ${d.text} <a href="@Url.Action("sendMailConfirm", "SupSetting")"><i class="fas fa-paper-plane"></i>點此寄送驗證信</a>`)
                        $(".TFA").attr("disabled",'disabled')
                        //emailAlert
                        var message = '@emailAlert';
                        if(message){
                                toastr.options = {
                                  "closeButton": true,
                                  "debug": false,
                                  "newestOnTop": false,
                                  "progressBar": false,
                                  "positionClass": "toast-top-right",
                                  "preventDuplicates": false,
                                  "onclick": null,
                                  "showDuration": "300",
                                  "hideDuration": "1000",
                                  "timeOut": "5000",
                                  "extendedTimeOut": "1000",
                                  "showEasing": "swing",
                                  "hideEasing": "linear",
                                  "showMethod": "fadeIn",
                                  "hideMethod": "fadeOut"
                                }
                                toastr.success(message)
                        }
                    }
                    else{
                        $("#alert").html(`<i class="fas fa-flag-checkered"></i> ${d.text}`)
                    }
                }
            )
        })
    </script>
}