@model PMSAWebMVC.Models.StockInDtl

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>StockInDtl</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StockInQty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StockInQty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EXP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EXP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remark)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InventoryDtl.WarehouseCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InventoryDtl.WarehouseCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Part.PartName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Part.PartName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StockIn.PurchaseOrderReceiveID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StockIn.PurchaseOrderReceiveID)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
