@model IEnumerable<PMSAWebMVC.ViewModels.PurchaseOrders.PurchaseOrderDtlItem>

<table id="dataTablesPO" class="display table table-striped hover order-column nowrap text-left" style="width:100%">
    <thead>
        <tr class="bg-primary text-white text-center">
            <th>&nbsp;</th>
            <th>@Html.DisplayNameFor(m => m.PartNumber)</th>
            <th data-priority="1">@Html.DisplayNameFor(m => m.PartName)</th>
            <th>@Html.DisplayNameFor(m => m.OriginalUnitPrice)</th>
            <th>@Html.DisplayNameFor(m => m.Qty)</th>
            <th>@Html.DisplayNameFor(m => m.Discount)</th>
            <th>@Html.DisplayNameFor(m => m.Total)</th>
            <th>@Html.DisplayNameFor(m => m.DateRequired)</th>
            <th data-priority="1">功能</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td></td>
                <td>@Html.DisplayFor(m => item.PartNumber)</td>
                <td>@Html.DisplayFor(m => item.PartName)</td>
                <td>@Html.DisplayFor(m => item.OriginalUnitPrice)</td>
                <td>@Html.DisplayFor(m => item.Qty)</td>
                <td>@Html.DisplayFor(m => item.Discount)</td>
                <td>@Html.DisplayFor(m => item.Total)</td>
                <td>@Html.DisplayFor(m => item.DateRequired)</td>
                <td>
                    <div class="table-data-feature">
                        <button class="btn btn-outline-secondary btn-icon" data-toggle="tooltip" title="編輯">
                            <i class="far fa-edit"></i>
                        </button>
                        <button class="btn btn-outline-secondary btn-icon" data-toggle="tooltip" title="刪除">
                            <i class='far fa-trash-alt'></i>
                        </button>
                    </div>
                </td>
            </tr>
        }

    </tbody>
</table>