@model PMSAWebMVC.ViewModels.PurchaseOrders.PurchaseOrderCreateViewModel

@*舊版採購單明細View*@

@Html.HiddenFor(m => m.PurchaseOrderOID)
@Html.HiddenFor(m => m.PurchaseRequisitionID)

<table class="table table-striped table-bordered tablesaw tablesaw-stack" data-tablesaw-mode="stack" id="dataTable" cellspacing="0" style="width:100%">
    <thead>
        <tr>
            <th><input type="checkbox" name="chkAll" />@Html.DisplayNameFor(model => model.CheckedResultSetVM.FirstOrDefault().Checked)</th>
            <th>@Html.DisplayNameFor(model => model.PurchaseOrderDtlSetVM.FirstOrDefault().PartNumber)</th>
            <th>@Html.DisplayNameFor(model => model.PurchaseOrderDtlSetVM.FirstOrDefault().PartName)</th>
            <th>@Html.DisplayNameFor(model => model.PurchaseOrderDtlSetVM.FirstOrDefault().OriginalUnitPrice)</th>
            <th>@Html.DisplayNameFor(model => model.PurchaseOrderDtlSetVM.FirstOrDefault().Qty)</th>
            <th>@Html.DisplayNameFor(model => model.PurchaseOrderDtlSetVM.FirstOrDefault().Discount)</th>
            <th>@Html.DisplayNameFor(model => model.PurchaseOrderDtlSetVM.FirstOrDefault().Total)</th>
            <th>@Html.DisplayNameFor(model => model.PurchaseOrderDtlSetVM.FirstOrDefault().DateRequired)</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.PurchaseOrderDtlSetVM.Count(); i++)
        {
            <tr>
                <td>
                    @Html.CheckBoxFor(m => m.CheckedResultSetVM[i].Checked)
                    @Html.HiddenFor(m => m.CheckedResultSetVM[i].PurchaseOrderDtlOID)
                    @Html.HiddenFor(m => m.CheckedResultSetVM[i].PurchaseRequisitionDtlCode)
                </td>
                <td>
                    @Html.DisplayFor(m => Model.PurchaseOrderDtlSetVM.ElementAt(i).PartNumber)
                </td>
                <td>
                    @Html.DisplayFor(m => Model.PurchaseOrderDtlSetVM.ElementAt(i).PartName)
                </td>
                <td>
                    @Html.DisplayFor(m => Model.PurchaseOrderDtlSetVM.ElementAt(i).OriginalUnitPrice)
                </td>
                <td>
                    @Html.DisplayFor(m => Model.PurchaseOrderDtlSetVM.ElementAt(i).Qty)
                </td>
                <td>
                    @Html.DisplayFor(m => Model.PurchaseOrderDtlSetVM.ElementAt(i).Discount)
                </td>
                <td>
                    @Html.DisplayFor(m => Model.PurchaseOrderDtlSetVM.ElementAt(i).Total)
                </td>
                <td>
                    @Html.DisplayFor(m => Model.PurchaseOrderDtlSetVM.ElementAt(i).DateRequired)
                </td>
            </tr>
        }
    </tbody>
</table>