@model IEnumerable<PMSAWebMVC.ViewModels.PurchaseOrders.PurchaseOrderIndexViewModel>

<table id="dataTablesPO" class="display table table-striped hover order-column nowrap text-left" style="width:100%">
    <thead>
        <tr class="bg-primary text-white text-center">
            <th>&nbsp;</th>
            <th>@Html.DisplayNameFor(m => m.FirstOrDefault().PurchaseOrderID)</th>
            <th data-priority="1">@Html.DisplayNameFor(m => m.FirstOrDefault().CreateDate)</th>
            <th>@Html.DisplayNameFor(m => m.FirstOrDefault().SupplierName)</th>
            <th>@Html.DisplayNameFor(m => m.FirstOrDefault().PurchaseRequisitionID)</th>
            <th>@Html.DisplayNameFor(m => m.FirstOrDefault().PurchaseOrderStatus)</th>
            <th data-priority="1">功能</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td></td>
                <td>@Html.DisplayFor(m => item.PurchaseOrderID)</td>
                <td>@Html.DisplayFor(m => item.CreateDate)</td>
                <td>@Html.DisplayFor(m => item.SupplierName)</td>
                <td>@Html.DisplayFor(m => item.PurchaseRequisitionID)</td>
                <td>@Html.DisplayFor(m => item.PurchaseOrderStatus)</td>
                <td data-poid="@item.PurchaseOrderID">
                    <div class="table-data-feature">
                        <a href="@Url.Action("SendToSupplier","PurchaseOrders", routeValues:new { id = item.PurchaseOrderID})" class="btn btn-outline-secondary btn-icon" data-toggle="tooltip" title="送出至供應商">
                            <i class="far fa-paper-plane"></i>
                        </a>
                        <span data-toggle="modal" data-target="#detailModal">
                            <button type="button" class="btn btn-outline-secondary btn-icon" data-toggle="tooltip" title="編輯">
                                <i class="far fa-edit"></i>
                            </button>
                        </span>
                        <span data-model="del">
                            <button type="button" class="btn btn-outline-secondary btn-icon" data-toggle="tooltip" title="刪除">
                                <i class='far fa-trash-alt'></i>
                            </button>
                        </span>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

