@model PMSAWebMVC.ViewModels.PurchaseOrders.PurchaseOrderCreateViewModel

@{
    ViewBag.Title = "新增採購單";
}

<h2>@ViewBag.Title</h2>


<div class="card mb-3">
    <div class="card-header">
        <i class="fab fa-wpforms"></i> 採購單資訊
    </div>
    <div class="card-body pb-0">
        <div class="form-horizontal">
            <div class="row mb-0 align-items-center">

                @Html.LabelFor(m => m.SelectedPurchaseRequisitionID, htmlAttributes: new { @class = "control-label col-md-3 font-weight-bold" })
                <div class="col-md-6">
                    @Html.DropDownListFor(m => m.SelectedPurchaseRequisitionID, Model.PurchaseRequisitionList, "請選擇", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.SelectedPurchaseRequisitionID, "", new { @class = "text-danger" })
                </div>

                <div class="w-100"></div>

                <div class="card-body mb-0 pb-0 pt-2 border-top mt-3">
                    <div class="row">
                        <div class="col-md-3 col-6">
                            <strong>請購人員</strong>
                            <br>
                            <p class="text-muted">邱利雯</p>
                        </div>
                        <div class="col-md-3 col-6">
                            <strong>請購日期</strong>
                            <br>
                            <p class="text-muted">2019/11/20</p>
                        </div>
                        <div class="col-md-3 col-6">
                            <strong>電子信箱</strong>
                            <br>
                            <p class="text-muted">as123471@yahoo.com</p>
                        </div>
                        <div class="col-md-3 col-6">
                            <strong>聯絡電話</strong>
                            <br>
                            <p class="text-muted">02-5656788#13</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="card mb-3">
    <div class="card-header">
        <i class="far fa-building"></i> 供應商
    </div>
    <div class="card-body pb-0 pt-0">
        <div class="form-horizontal">
            <div class="row mb-0 mt-0 align-items-center">

                @*@Html.LabelFor(m => m.SelectedSupplierName, htmlAttributes: new { @class = "control-label col-md-3 font-weight-bold" })
                    <div class="col-md-5">
                        @Html.DropDownListFor(m => m.SelectedSupplierName, Model.SupplierList, "請選擇", htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.SelectedSupplierName, "", new { @class = "text-danger" })
                    </div>

                    <div class="w-100"></div>*@

                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3 col-6">
                            <strong>供應商名稱</strong>
                            <br>
                            <p class="text-muted">誌慶股份有限公司</p>
                        </div>
                        <div class="col-md-3 col-6">
                            <strong>聯絡人</strong>
                            <br>
                            <p class="text-muted">林政苓</p>
                        </div>
                        <div class="col-md-3 col-6">
                            <strong>電子信箱</strong>
                            <br>
                            <p class="text-muted">h1051235@gmail.com</p>
                        </div>
                        <div class="col-md-3 col-6">
                            <strong>聯絡電話</strong>
                            <br>
                            <p class="text-muted">02-4076125</p>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<div id="tab" class="btn-group btn-group-toggle btn-block mb-3" data-toggle="buttons">

    <a href="#features" class="btn btn-outline-primary active" data-toggle="tab">
        <input type="radio" name="options" id="option1" autocomplete="off" checked>
        請購明細 <span class="badge badge-pill badge-danger">10</span>
    </a>
    <a href="#contact" class="btn btn-outline-primary" data-toggle="tab">
        <input type="radio" name="options" id="option3" autocomplete="off">
        採購明細 <span class="badge badge-pill badge-danger">5</span>
    </a>

</div>

<div class="tab-content">
    <div class="tab-pane active" id="features">
        @using (Html.BeginForm("Create", "PurchaseOrders", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-list"></i> 採購細項
                </div>
                <div class="card-body">
                    @if (TempData["ErrorMessage"] != null)
                    {
                        <div class="alert alert-warning" id="warning">
                            <a href="#" class="close" data-dismiss="alert">&times;</a>
                            @TempData["ErrorMessage"]
                        </div>
                    }
                    <div class="table-responsive" id="dataTablesContainer"></div>
                </div>
            </div>

            <div class="form-group">
                <button id="btnSubmit" type="submit" class="btn btn-primary btn-block"><i class="far fa-paper-plane"></i> 送出申請</button>
            </div>

        }

    </div>
    <div class="tab-pane" id="contact">Contact Content</div>
</div>

@section scripts
{

    <script src="~/Scripts/bootstrap4-responsive-tabs/responsive-tabs.js"></script>
    <script>
        $(document).ready(function () {

            $(".btn-group-toggle a[data-toggle='tab']").click(function () {
                $(this).tab('show');
                $(this).addClass("active").siblings().removeClass("active");
            });

            let supplierListUrl = '@Url.Action("GetSupplierList", "PurchaseOrders")';
            let supplierList = $('#SelectedSupplierName');
            $("#btnSubmit").prop("disabled", true);

        $('#SelectedPurchaseRequisitionID').change(function() {
            supplierList.empty();
            $("#dataTablesContainer").html('');
            $.getJSON(supplierListUrl, { id: $(this).val() }, function (data) {
                if (!data) {
                    return;
                }
                supplierList.append($('<option></option>').val('').text('請選擇'));
                $.each(data, function (index, item) {
                    supplierList.append($('<option></option>').val(item.Value).text(item.Text));
                });
                $("#btnSubmit").prop("disabled", true);
            });
            })

            $('#SelectedSupplierName').change(function () {
                $.ajax({
                    url: "@Url.Action("GetPurchaseOrderDtlList", "PurchaseOrders")",
                    type: "get",
                    data: {
                        id: $("#SelectedPurchaseRequisitionID").val(),
                        supplierCode: $("#SelectedSupplierName").val()
                    },
                }).done(function (result) {
                    $("#dataTablesContainer").html(result);
                    $("#warning").remove();
                    $("#PurchaseRequisitionID").val($("#SelectedPurchaseRequisitionID").val());

                    //全選、全勾消
                    $("input[name=chkAll]").change(function () {
                        let checked = $(this).prop("checked");
                        $("#dataTable > tbody input:checkbox").prop("checked", checked);
                    });
                    $("#btnSubmit").prop("disabled", false);
                }).fail(function (e) {
                    alert(e.responseText);
                    });

                $.fn.dataTable.ext.errMode = 'throw';

                $('#dataTable').DataTable(
                    {
                        paging: false,
                        ordering: false,
                        searching: false,
                        language: {
                            url: "@Url.Content("~/Scripts/DataTables/i18n/chinese-traditional.json")",
                        },
                    }
                );
            })
        });
    </script>
}


@*@using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>PurchaseOrder</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.PurchaseOrderID, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PurchaseOrderID, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PurchaseOrderID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.SupplierCode, "來自請購單號", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("PurchaseRequisitionID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.SupplierCode, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.EmployeeID, "EmployeeID", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("EmployeeID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.EmployeeID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ReceiverName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ReceiverName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ReceiverName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ReceiverTel, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ReceiverTel, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ReceiverTel, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ReceiverMobile, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ReceiverMobile, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ReceiverMobile, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ReceiptAddress, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ReceiptAddress, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ReceiptAddress, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CreateDate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CreateDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CreateDate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PurchaseOrderStatus, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PurchaseOrderStatus, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PurchaseOrderStatus, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.SignStatus, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SignStatus, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SignStatus, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.SignFlowOID, "SignFlowOID", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("SignFlowOID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.SignFlowOID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@
