@model PMSAWebMVC.ViewModels.PurchaseOrders.PurchaseOrderCreateViewModel

@{
    ViewBag.Title = "新增採購單";
}

<style>
    /*內容分隔線*/
    .border-top-dashed {
        border-top: 1px dashed #3C4055;
    }
    /*連結無底線*/
    .nounderline {
        text-decoration: none !important
    }
    /*收合內容*/
    .card-header .fa {
        transition: .3s transform ease-in-out;
    }

    .card-header .collapsed .fa-chevron-down {
        transform: rotate(90deg);
    }
    /*表格欄位內容對齊*/
    #dataTablesPR tbody tr td:nth-child(n+4):nth-child(-n+5),
    #dataTablesPO tbody tr td:nth-child(n+4):nth-child(-n+8) {
        text-align: right;
    }
</style>

<h2 class="text-dark">@ViewBag.Title</h2>

@*請購單資訊*@
<div class="card mb-3">
    <div class="card-header">
        <a data-toggle="collapse" href="#collapse-rpinfo" aria-expanded="true" aria-controls="collapse-rpinfo" id="heading-rpinfo" class="d-block nounderline">
            <i class="fab fa-wpforms"></i> 請購單資訊 <i class="fa fa-chevron-down"></i>
        </a>
    </div>

    <div id="collapse-rpinfo" class="collapse show" aria-labelledby="heading-rpinfo">
        <div class="card-body pb-0">
            <div class="form-horizontal">
                <div class="row mb-0 align-items-center">

                    @Html.LabelFor(m => m.SelectedPurchaseRequisitionID, htmlAttributes: new { @class = "control-label col-md-3 font-weight-bold" })
                    <div class="col-md-6">
                        @Html.DropDownListFor(m => m.SelectedPurchaseRequisitionID, Model.PurchaseRequisitionList, "請選擇", htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.SelectedPurchaseRequisitionID, "", new { @class = "text-danger" })
                    </div>

                    <div class="w-100"></div>

                    <div class="card-body mb-0 pb-0 pt-2 border-top-dashed mt-3">
                        <div class="row">
                            <div class="col-md-3 col-6">
                                <strong>請購人員</strong>
                                <br>
                                <p class="text-muted">邱利雯</p>
                            </div>
                            <div class="col-md-3 col-6">
                                <strong>請購日期</strong>
                                <br>
                                <p class="text-muted">2019/11/20</p>
                            </div>
                            <div class="col-md-3 col-6">
                                <strong>電子信箱</strong>
                                <br>
                                <p class="text-muted">as123471@yahoo.com</p>
                            </div>
                            <div class="col-md-3 col-6">
                                <strong>聯絡電話</strong>
                                <br>
                                <p class="text-muted">02-5656788#13</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

</div>

@*供應商資訊*@
<div class="card mb-3">
    <div class="card-header">
        <a data-toggle="collapse" href="#collapse-supplierinfo" aria-expanded="true" aria-controls="collapse-supplierinfo" id="heading-supplierinfo" class="d-block nounderline">
            <i class="far fa-building"></i> 供應商 <i class="fa fa-chevron-down"></i>
        </a>
    </div>

    <div id="collapse-supplierinfo" class="collapse show" aria-labelledby="heading-supplierinfo">
        <div class="card-body pb-0 pt-0">
            <div class="form-horizontal">
                <div class="row mb-0 mt-0 align-items-center">

                    @*@Html.LabelFor(m => m.SelectedSupplierName, htmlAttributes: new { @class = "control-label col-md-3 font-weight-bold" })
                        <div class="col-md-5">
                            @Html.DropDownListFor(m => m.SelectedSupplierName, Model.SupplierList, "請選擇", htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.SelectedSupplierName, "", new { @class = "text-danger" })
                        </div>

                        <div class="w-100"></div>*@

                    <div class="card-body pb-0">
                        <div class="row">
                            <div class="col-md-3 col-6">
                                <strong>供應商名稱</strong>
                                <br>
                                <p class="text-muted">誌慶股份有限公司</p>
                            </div>
                            <div class="col-md-3 col-6">
                                <strong>聯絡人</strong>
                                <br>
                                <p class="text-muted">林政苓</p>
                            </div>
                            <div class="col-md-3 col-6">
                                <strong>電子信箱</strong>
                                <br>
                                <p class="text-muted">h1051235@gmail.com</p>
                            </div>
                            <div class="col-md-3 col-6">
                                <strong>聯絡電話</strong>
                                <br>
                                <p class="text-muted">02-4076125</p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

</div>

@*明細分頁*@
<div id="tab" class="btn-group btn-group-toggle btn-block mb-3" data-toggle="buttons">

    <a href="#prdtl" class="btn btn-outline-primary active" data-toggle="tab">
        <input type="radio" name="options" id="optprdtl" autocomplete="off" checked>
        請購明細 <span class="badge badge-pill badge-danger">10</span>
    </a>
    <a href="#podtl" class="btn btn-outline-primary" data-toggle="tab">
        <input type="radio" name="options" id="optpodtl" autocomplete="off">
        採購明細 <span class="badge badge-pill badge-danger">5</span>
    </a>

</div>

<div class="tab-content">
    @*請購明細內容*@
    <div class="tab-pane active" id="prdtl">

        <table id="dataTablesPR" class="display table table-striped hover order-column nowrap text-left" style="width:100%">
            <thead>
                <tr class="bg-primary text-white text-center">
                    <th>&nbsp;</th>
                    <th>請購單明細編號</th>
                    <th data-priority="1">料件品名</th>
                    <th>請購數量</th>
                    <th>需求日期</th>
                    <th>建議供應商</th>
                    <th data-priority="1">功能</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td>Nixon</td>
                    <td>Edinburgh</td>
                    <td>61</td>
                    <td>2011/04/25</td>
                    <td>誌慶股份有限公司</td>
                    <td>
                        <div class="table-data-feature">
                            <button class="btn btn-outline-secondary btn-icon" data-toggle="tooltip" title="加入採購單">
                                <i class="far fa-file"></i>
                            </button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>Nixon</td>
                    <td>Edinburgh</td>
                    <td>61</td>
                    <td>2011/04/25</td>
                    <td>邱泉順企業有限公司</td>
                    <td>
                        <div class="table-data-feature">
                            <div class="table-data-feature">
                                <button class="btn btn-outline-secondary btn-icon" data-toggle="tooltip" title="加入採購單">
                                    <i class="far fa-file"></i>
                                </button>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        @*<div class="form-group">
                <button id="btnSubmit2" type="submit" class="btn btn-primary btn-block"><i class="far fa-paper-plane"></i> 送出申請</button>
            </div>*@

    </div>

    @*採購明細內容*@
    <div class="tab-pane" id="podtl">
        <table id="dataTablesPO" class="display table table-striped hover order-column nowrap text-left" style="width:100%">
            <thead>
                <tr class="bg-primary text-white text-center">
                    <th>&nbsp;</th>
                    <th>料件編號</th>
                    <th data-priority="1">料件品名</th>
                    <th>單價</th>
                    <th>採購數量</th>
                    <th>折扣</th>
                    <th>金額</th>
                    <th>要求到貨日期</th>
                    <th data-priority="1">功能</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td>S12345</td>
                    <td>Edinburgh</td>
                    <td>$500</td>
                    <td>61</td>
                    <td>1%</td>
                    <td>$320,800</td>
                    <td>2011/04/25</td>
                    <td>
                        <div class="table-data-feature">
                            <button class="btn btn-outline-secondary btn-icon" data-toggle="tooltip" title="編輯">
                                <i class="far fa-edit"></i>
                            </button>
                            <button class="btn btn-outline-secondary btn-icon" data-toggle="tooltip" title="刪除">
                                <i class='far fa-trash-alt'></i>
                            </button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>S45678</td>
                    <td>Edinburgh</td>
                    <td>$450</td>
                    <td>10</td>
                    <td>0%</td>
                    <td>$320,800</td>
                    <td>2011/04/25</td>
                    <td>
                        <div class="table-data-feature">
                            <button class="btn btn-outline-secondary btn-icon" data-toggle="tooltip" title="編輯">
                                <i class="far fa-edit"></i>
                            </button>
                            <button class="btn btn-outline-secondary btn-icon" data-toggle="tooltip" title="刪除">
                                <i class='far fa-trash-alt'></i>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="form-group">
            <button id="btnSubmit2" type="button" class="btn btn-primary btn-block"><i class="far fa-paper-plane"></i> 送出申請</button>
        </div>


        @*@using (Html.BeginForm("Create", "PurchaseOrders", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="card mb-3">
                    <div class="card-header">
                        <i class="fas fa-list"></i> 請購明細
                    </div>
                    <div class="card-body">
                        @if (TempData["ErrorMessage"] != null)
                        {
                            <div class="alert alert-warning" id="warning">
                                <a href="#" class="close" data-dismiss="alert">&times;</a>
                                @TempData["ErrorMessage"]
                            </div>
                        }
                        <div class="table-responsive" id="dataTablesContainer"></div>
                    </div>
                </div>

                <div class="form-group">
                    <button id="btnSubmit" type="submit" class="btn btn-primary btn-block"><i class="far fa-paper-plane"></i> 送出申請</button>
                </div>


            }*@

    </div>
</div>

@section scripts
{

    <script>
        $(document).ready(function () {

            //分頁樣式
            $(".btn-group-toggle a[data-toggle='tab']").click(function () {
                $(this).tab('show');
                $(this).addClass("active").siblings().removeClass("active");
                //切換分頁會造成RWD不作用
                $($.fn.dataTable.tables(true)).DataTable().columns.adjust().responsive.recalc();
            });

            //請購明細
            let dtPR = $('#dataTablesPR').DataTable({
                ordering: false,
                fixedHeader: false,
                //預設第1欄會有排序按鈕，需指定其他排序欄位才會消失
                order: [[2, 'desc']],
                //如第1欄是checkbox，會造成只有縮放按鈕有效，checkbox無法使用，所以縮放按鈕要分欄
                responsive: {
                    details: {
                        type: 'column',
                        target: 0
                    }
                },
                columnDefs: [{
                    targets: 0,
                    className: 'control',
                    searchable: false
                },
                { orderable: false, targets: [0, 1, -1] },
                ],
            });

            dtPR.on('responsive-resize', function (e, datatable, columns) {
                //修正縮放大小不正確的問題
                dtPR.columns.adjust().responsive.recalc();
            });

            //採購明細
            let dtPO = $('#dataTablesPO').DataTable({
                ordering: false,
                fixedHeader: false,
                //預設第1欄會有排序按鈕，需指定其他排序欄位才會消失
                order: [[2, 'desc']],
                //如第1欄是checkbox，會造成只有縮放按鈕有效，checkbox無法使用，所以縮放按鈕要分欄
                responsive: {
                    details: {
                        type: 'column',
                        target: 0
                    }
                },
                columnDefs: [{
                    targets: 0,
                    className: 'control',
                    searchable: false
                },
                { orderable: false, targets: [0, 1, -1] },
                ],
            });

            dtPO.on('responsive-resize', function (e, datatable, columns) {
                //修正縮放大小不正確的問題
                dtPO.columns.adjust().responsive.recalc();
            });

            let supplierListUrl = '@Url.Action("GetSupplierList", "PurchaseOrders")';
            let supplierList = $('#SelectedSupplierName');
            $("#btnSubmit").prop("disabled", true);

        $('#SelectedPurchaseRequisitionID').change(function() {
            supplierList.empty();
            $("#dataTablesContainer").html('');
            $.getJSON(supplierListUrl, { id: $(this).val() }, function (data) {
                if (!data) {
                    return;
                }
                supplierList.append($('<option></option>').val('').text('請選擇'));
                $.each(data, function (index, item) {
                    supplierList.append($('<option></option>').val(item.Value).text(item.Text));
                });
                $("#btnSubmit").prop("disabled", true);
            });
            })

            $('#SelectedSupplierName').change(function () {
                $.ajax({
                    url: "@Url.Action("GetPurchaseOrderDtlList", "PurchaseOrders")",
                    type: "get",
                    data: {
                        id: $("#SelectedPurchaseRequisitionID").val(),
                        supplierCode: $("#SelectedSupplierName").val()
                    },
                }).done(function (result) {
                    $("#dataTablesContainer").html(result);
                    $("#warning").remove();
                    $("#PurchaseRequisitionID").val($("#SelectedPurchaseRequisitionID").val());

                    //全選、全勾消
                    $("input[name=chkAll]").change(function () {
                        let checked = $(this).prop("checked");
                        $("#dataTable > tbody input:checkbox").prop("checked", checked);
                    });
                    $("#btnSubmit").prop("disabled", false);
                }).fail(function (e) {
                    alert(e.responseText);
                    });

                $.fn.dataTable.ext.errMode = 'throw';

                $('#dataTable').DataTable(
                    {
                        paging: false,
                        ordering: false,
                        searching: false,
                        language: {
                            url: "@Url.Content("~/Scripts/DataTables/i18n/chinese-traditional.json")",
                        },
                    }
                );
            })
        });
    </script>
}


@*@using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>PurchaseOrder</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.PurchaseOrderID, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PurchaseOrderID, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PurchaseOrderID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.SupplierCode, "來自請購單號", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("PurchaseRequisitionID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.SupplierCode, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.EmployeeID, "EmployeeID", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("EmployeeID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.EmployeeID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ReceiverName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ReceiverName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ReceiverName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ReceiverTel, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ReceiverTel, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ReceiverTel, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ReceiverMobile, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ReceiverMobile, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ReceiverMobile, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ReceiptAddress, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ReceiptAddress, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ReceiptAddress, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CreateDate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CreateDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CreateDate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PurchaseOrderStatus, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PurchaseOrderStatus, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PurchaseOrderStatus, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.SignStatus, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SignStatus, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SignStatus, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.SignFlowOID, "SignFlowOID", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("SignFlowOID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.SignFlowOID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@
