@model PMSAWebMVC.ViewModels.PurchaseOrders.PurchaseOrderCreateViewModel

@section styles{
    <style>
        /*內容分隔線*/
        .border-top-dashed {
            border-top: 1px dashed #3C4055;
        }

        .border-bottom-dashed {
            border-bottom: 1px dashed #3C4055;
        }
        /*連結無底線*/
        .nounderline {
            text-decoration: none !important
        }
        /*收合內容*/
        .card-header .fa {
            transition: .3s transform ease-in-out;
        }

        .card-header .collapsed .fa-chevron-down {
            transform: rotate(90deg);
        }
        /*表格欄位內容對齊*/
        #dataTablesPR tbody tr td:nth-child(n+4):nth-child(-n+5),
        #dataTablesPO tbody tr td:nth-child(n+4):nth-child(-n+8) {
            text-align: right;
        }

        .md-form {
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
        }

        #collapse-receiverinfo .md-form .prefix ~ label {
            margin-left: 3.4rem;
        }

        #collapse-receiverinfo .md-form input[data-val-required] + label:before {
            content: '*';
            color: #dc3545;
        }

        #collapse-prdtlInput label[for="DateRequired"] {
            transform: translateY(-14px) scale(0.8);
            font-size: 1rem;
            font-weight: 300;
            position: absolute;
            top: 0;
            left: 0;
        }

        @@media (min-width: 768px) and (max-width: 992px) {
            .modal-fluid .col-md-8, .modal-fluid .col-md-4 {
                flex: 0 0 100%;
                max-width: 100%;
            }

            .modal-fluid .col-6 {
                flex: 0 0 50%;
                max-width: 50%;
            }
        }
    </style>
}

@{
    ViewBag.Title = "新增採購單";
}

<h2 class="text-dark">@ViewBag.Title</h2>

@*請購單資訊*@
<div class="card mb-3">
    <div class="card-header">
        <a data-toggle="collapse" href="#collapse-rpinfo" aria-expanded="true" aria-controls="collapse-rpinfo" id="heading-rpinfo" class="d-block nounderline">
            <i class="fab fa-wpforms"></i> 請購單資訊 <i class="fa fa-chevron-down"></i>
        </a>
    </div>

    <div id="collapse-rpinfo" class="collapse show" aria-labelledby="heading-rpinfo">
        <div class="card-body pb-0">
            <div class="form-horizontal">
                <div class="row align-items-center">

                    @Html.LabelFor(m => m.SelectedPurchaseRequisitionID, htmlAttributes: new { @class = "control-label col-md-3 font-weight-bold" })
                    <div class="col-md-6 mb-3">
                        <div class="input-group">
                            @Html.DropDownListFor(m => m.SelectedPurchaseRequisitionID, Model.PurchaseRequisitionList, "請選擇", htmlAttributes: new { @class = "form-control  col-md-8" })
                            <button class="btn btn-primary input-group-append" id="btnImportPR" type="button">匯入</button>
                        </div>
                        @Html.ValidationMessageFor(m => m.SelectedPurchaseRequisitionID, "", new { @class = "text-danger" })
                    </div>

                    <div class="w-100"></div>

                    <div id="PRInfoContainer" class="col-md-12"></div>

                </div>
            </div>
        </div>

    </div>

</div>

@*供應商資訊*@
<div id="supplierInfo" class="card mb-3 d-none">
    <div class="card-header">
        <a data-toggle="collapse" href="#collapse-supplierinfo" aria-expanded="true" aria-controls="collapse-supplierinfo" id="heading-supplierinfo" class="d-block nounderline">
            <i class="far fa-building"></i> 供應商 <i class="fa fa-chevron-down"></i>
        </a>
    </div>

    <div id="collapse-supplierinfo" class="collapse show" aria-labelledby="heading-supplierinfo"></div>
</div>

@*明細分頁*@
<div id="tab" class="btn-group btn-group-toggle btn-block mb-3 dtl-content d-none" data-toggle="buttons">

    <a href="#prdtl" class="btn btn-outline-primary active" data-toggle="tab">
        <input type="radio" name="options" id="optprdtl" autocomplete="off" checked>
        請購明細 <span class="badge badge-pill badge-danger" id="prdtlCount">0</span>
    </a>
    <a href="#podtl" class="btn btn-outline-primary" data-toggle="tab">
        <input type="radio" name="options" id="optpodtl" autocomplete="off">
        採購明細 <span class="badge badge-pill badge-danger" id="podtlCount">0</span>
    </a>

</div>

<div class="tab-content dtl-content d-none">
    @*請購明細內容*@
    <div class="tab-pane active" id="prdtl"></div>

    @*採購明細內容*@
    <div class="tab-pane" id="podtl"></div>

</div>


@*交貨資訊*@
<div class="card mb-3 d-none" id="receiverinfo">
    <div class="card-header">
        <a data-toggle="collapse" href="#collapse-receiverinfo" aria-expanded="true" aria-controls="collapse-receiverinfo" id="heading-receiverinfo" class="d-block nounderline">
            <i class="fas fa-truck-moving"></i> 交貨資訊 <i class="fa fa-chevron-down"></i>
        </a>
    </div>

    <div id="collapse-receiverinfo" class="collapse show" aria-labelledby="heading-receiverinfo">
        <div class="card-body pb-0 pt-2">
            <div class="row">
                @Html.LabelFor(m => m.SelectedWarehouseCode, htmlAttributes: new { @class = "control-label col-md-3 font-weight-bold" })
                <div class="col-md-6 mb-3">
                    <div class="input-group">
                        @Html.DropDownListFor(m => m.SelectedWarehouseCode, Model.WarehouseInfoList, "請選擇", htmlAttributes: new { @class = "form-control  col-md-8" })
                        <button class="btn btn-primary input-group-append" id="btnAddWHInfo" type="button">帶入交貨資訊</button>
                    </div>
                </div>
            </div>

            @using (Html.BeginForm("Create", "PurchaseOrders", FormMethod.Post, new { @id = "formCreatePurchaseOrders" }))
            {
                @Html.AntiForgeryToken()

                <div class="row">
                    <div class="md-form col-md-3 col-6">
                        <i class="far fa-user prefix"></i>
                        @Html.TextBoxFor(m => m.POInfoItem.ReceiverName, new { @class = "form-control" })
                        @Html.LabelFor(m => m.POInfoItem.ReceiverName)
                        @Html.ValidationMessageFor(m => m.POInfoItem.ReceiverName, "", new { @class = "text-danger" })
                    </div>
                    <div class="md-form col-md-6 col-6">
                        <i class="far fa-map prefix"></i>
                        @Html.TextBoxFor(m => m.POInfoItem.ReceiptAddress, new { @class = "form-control" })
                        @Html.LabelFor(m => m.POInfoItem.ReceiptAddress)
                        @Html.ValidationMessageFor(m => m.POInfoItem.ReceiptAddress, "", new { @class = "text-danger" })
                    </div>

                    <div class="w-100"></div>

                    <div class="md-form col-md-3 col-6">
                        <i class="fas fa-phone prefix"></i>
                        @Html.TextBoxFor(m => m.POInfoItem.ReceiverTel, new { @class = "form-control" })
                        @Html.LabelFor(m => m.POInfoItem.ReceiverTel)
                    </div>
                    <div class="md-form col-md-3 col-6">
                        <i class="fas fa-mobile-alt prefix"></i>
                        @Html.TextBoxFor(m => m.POInfoItem.ReceiverMobile, new { @class = "form-control" })
                        @Html.LabelFor(m => m.POInfoItem.ReceiverMobile)
                    </div>
                    <h6 class="col-12 small text-danger">* @Html.DisplayNameFor(m => m.POInfoItem.ReceiverTel) 與 @Html.DisplayNameFor(m => m.POInfoItem.ReceiverMobile) 至少需輸入一個</h6>
                </div>
            }
        </div>
    </div>
</div>

<div class="form-group">
    <button id="btnSubmit" type="button" class="btn btn-primary btn-block d-none" disabled><i class="far fa-paper-plane"></i> 送出申請</button>
</div>



@*加入採購單、編輯Modal*@
<!-- Central Modal Fluid Success-->
<div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-fluid modal-notify modal-primary" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <p class="heading lead" id="detailModalTitle">新增採購項目</p>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="white-text">&times;</span>
                </button>
            </div>

            <!--Body-->
            <div class="modal-body">
                <!--請購明細資料-->
                <div class="row">
                    <div id="modalPRDtlInfo" class="col-12"></div>
                </div>

                <div class="row">
                    <!--貨源清單-->
                    <div id="modalSLDtlInfo" class="col-sm-12 col-lg-6">

                        <div class="card mb-3">
                            <div class="card-header">
                                <a href="#collapse-sldtlInfo" aria-expanded="true" aria-controls="collapse-sldtlInfo" id="heading-sldtlInfo" class="d-block nounderline">
                                    <i class="fab fa-wpforms"></i> 貨源清單 <span class="text-danger">*</span>
                                </a>
                            </div>
                            <div id="collapse-sldtlInfo" class="collapse show" aria-labelledby="heading-sldtlInfo">
                                <div class="card-body mb-0 pb-0 pt-2">
                                    <div class="mb-3 justify-content-md-center">

                                        <div id="sldtl-items" class="col-md-12 u-slick--gutters-1"
                                             data-arrows-classes="d-none d-lg-inline-block u-slick__arrow-classic u-slick__arrow-centered--y rounded-circle"
                                             data-arrow-left-classes="fas fa-arrow-left u-slick__arrow-classic-inner u-slick__arrow-classic-inner--left ml-lg-2 ml-xl-4"
                                             data-arrow-right-classes="fas fa-arrow-right u-slick__arrow-classic-inner u-slick__arrow-classic-inner--right mr-lg-2 mr-xl-4">

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <!--採購明細資料-->
                    <div id="modalPRDtlInput" class="col-sm-12 col-lg-6">

                        <div class="card mb-3">
                            <div class="card-header">
                                <a data-toggle="collapse" href="#collapse-prdtlInput" aria-expanded="true" aria-controls="collapse-prdtlInput" id="heading-prdtlInput" class="d-block nounderline">
                                    <i class="fab fa-wpforms"></i> 採購明細資料 <i class="fa fa-chevron-down"></i>
                                </a>
                            </div>

                            <div id="collapse-prdtlInput" class="collapse show" aria-labelledby="heading-prdtlInput">
                                <div class="card-body mb-0 pb-0 pt-2">

                                    <form>
                                        <div class="form-row">

                                            <div class="md-form col-12 border-bottom-dashed pb-1">
                                                <h6 class="text-primary"><i class="far fa-edit"></i> 輸入內容</h6>
                                            </div>

                                            <div class="md-form col-md-4 col-6">
                                                <input type="number" id="Qty" class="form-control" value="0">
                                                <label for="Qty">數量 <span class="text-danger">*</span></label>
                                            </div>

                                            <div class="md-form col-md-4 col-6">
                                                <div class="form-group">
                                                    <label for="DateRequired">要求到貨日期 <span class="text-danger">*</span></label>
                                                    <div class="input-group date" id="datetimepickerId" data-target-input="nearest">
                                                        <input id="DateRequired" type="text" class="form-control datetimepicker-input" data-target="#datetimepickerId" data-toggle="datetimepicker" value="2019/01/01">
                                                        <div class="input-group-append d-none" data-target="#datetimepickerId" data-toggle="datetimepicker">
                                                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="md-form col-12 border-bottom-dashed pb-1">
                                                <h6 class="text-primary"><i class="fas fa-calculator"></i> 採購結果</h6>
                                            </div>

                                            <div class="md-form col-md-4 col-6 text-info">
                                                <input type="text" id="TotalSourceListQty" class="form-control" disabled value=" ">
                                                <label for="TotalSourceListQty" class="disabled text-info">料件總數</label>
                                            </div>

                                            <div class="md-form col-md-4 col-6 text-info">
                                                <input type="text" id="OriginalUnitPrice" class="form-control" disabled value=" ">
                                                <label for="OriginalUnitPrice" class="disabled text-info">單價</label>
                                            </div>

                                            <div class="md-form col-md-4 col-6 text-info">
                                                <input type="text" id="Discount" class="form-control" disabled value=" ">
                                                <label for="Discount" class="disabled text-info">折扣</label>
                                            </div>

                                            <div class="md-form col-md-4 col-6 text-info">
                                                <input type="text" id="Total" class="form-control" disabled value=" ">
                                                <label for="Total" class="disabled text-info">小計</label>
                                            </div>

                                        </div>

                                        <div class="row mt-0 mb-3">

                                            <div class="col-6">
                                                <button id="btnPODAdd" class="btn btn-primary btn-block" type="button"><i class="far fa-file"></i> 加入採購單</button>
                                            </div>

                                            <div class="col-6">
                                                <button class="btn btn-outline-primary btn-block" data-dismiss="modal">取消</button>
                                            </div>

                                        </div>

                                    </form>

                                </div>
                            </div>

                        </div>

                    </div>
                    <!--採購明細資料 End-->
                </div>

            </div>

        </div>
        <!--/.Content-->
    </div>
</div>
<!-- Central Modal Fluid Success-->

@section scripts
{
    <script>
        $(document).ready(function () {

            //$(window).on('resize', function () {
            //    console.log($(window).width());
            //    console.log($(".sidebar").width());
            //});

            //toastr測試
            toastr.options = {
                "closeButton": true,
                "progressBar": true,
            }

            // infinite: true 會造成 radio button 無法正常顯示 checked 狀態
            var slickOptions = {
                infinite: false,
                arrows: true,
                dots: true,
                fade: false,
                centerMode: false,
                slidesToShow: 2,
                slidesToScroll: 1,
                focusOnSelect: false,
                swipeToSlide: false,
                responsive: [
                    {
                        breakpoint: 554, settings: {
                            slidesToShow: 1,
                        }
                    },
                    {
                        breakpoint: 768, settings: {
                            slidesToShow: 1,
                        }
                    },
                    {
                        breakpoint: 992, settings: {
                            slidesToShow: 1,
                        }
                    },
                    {
                        breakpoint: 1200, settings: {
                            slidesToShow: 1,
                        }
                    },
                ],
            };

            //Modal顯示前
            $('#detailModal').on('show.bs.modal', function (event) {
                let td = $(event.relatedTarget).parents("td");
                let dtlcode = td.data('dtlcode');;
                let partnumber = td.data('partnumber');

                let title = $("#detailModalTitle");
                let btn = $("#btnPODAdd");
                if (td.data("mode") == "edit") {
                    title.text("編輯採購項目");
                    btn.text("更新採購單");
                } else {
                    title.text("新增採購項目");
                    btn.text("加入採購單");
                }
                detailModalShow(dtlcode, partnumber);
            });

            async function detailModalShow(dtlcode, partnumber) {
                //設定請購單明細
                await setPRDtlInfo(dtlcode);
                //設定貨源清單
                await setSLDtlInfo(partnumber);
                //設定採購明細
                await setPRDtlInputInit(dtlcode);
            }

            //Modal已顯示
            $('#detailModal').on('shown.bs.modal', function (event) {
                $('#sldtl-items').slick(slickOptions);
                //$('#sldtl-items').not('.slick-initialized').slick(slickOptions);
                setTimeout(function () {
                    //$('#sldtl-items').slick(slickOptions);
                    //$('#sldtl-items').slick('setPosition');
                }, 100);
            })

            //Modal已隱藏
            $('#detailModal').on('hidden.bs.modal', function (event) {
                $('#sldtl-items').slick('unslick');
            })

            //設定Modal貨源清單
            async function setSLDtlInfo(partNumber) {
                await $.ajax({
                    url: "@Url.Action("GetPOCSourceListViewModel", "PurchaseOrders")",
                    type: "get",
                    data: {
                        id: partNumber
                    },
                }).done(function (result) {
                    $("#sldtl-items").html(result);
                }).fail(function (e) {
                    toastr.error(e.responseText);
                });
            }

            //設定Modal新增採購明細
            async function setPRDtlInputInit(prdtlcode) {
                await $.getJSON(
                    '@Url.Action("GetPODtlItemViewModel", "PurchaseOrders")',
                    { id: prdtlcode },
                    function (data) {
                        if (!data) {
                            return;
                        }
                        let btn = $("#btnPODAdd");
                        btn.prop("disabled", true);
                        $("#Qty").trigger("focus").val(data.Qty);
                        $("#DateRequired").trigger("focus").val(data.DateRequiredToShow);
                        $("#TotalSourceListQty").trigger("focus").val(data.TotalSourceListQty);
                        $("#OriginalUnitPrice").trigger("focus").val(data.OriginalUnitPriceToShow);
                        $("#Discount").trigger("focus").val(data.DiscountToShow);
                        $("#Total").trigger("focus").val(data.TotalToShow);
                        if (data.SourceListID) {
                            let sl = $(`input[name=sourceList][value='${data.SourceListID}']`);
                            sl.prop('checked', true);
                        }
                        btn.prop("disabled", false);
                        $('#datetimepickerId').datetimepicker();
                    });
            }

            //數量和貨源改變要重新計算折扣
            $("#Qty").on("keyup mouseup", function (e) {
                setPRDtlInputUpdate("edit");
            });

            $("body").on('change', 'input[type=radio][name=sourceList]', function (e) {
                e.preventDefault();
                e.stopPropagation();
                setPRDtlInputUpdate("edit");
            });

            //刪除採購項目
            async function delPODItem(dtlcode) {
                await $.ajax({
                    url: "@Url.Action("DeletePODtlItem", "PurchaseOrders")",
                    type: "get",
                    data: {
                        id: dtlcode
                    },
                }).done(function (result) {
                    toastr.success(result.message);
                    console.log("delPODItem");
                    }).fail(function (e) {
                        toastr.error(e.responseText);
                    });
            }

            //刪除按鈕觸發
            async function delBtnClick(dtlcode) {
                await delPODItem(dtlcode);
                await showPODtlToTableViewModel();
                await showPRDtlToTableViewModel();
                let rowcount = dtPO.context[0].aoData.length;
                if (rowcount == 0) {
                    hideSupplierInfo();
                }
            }

            function hideSupplierInfo() {
                $("#supplierInfo").hide();
                $("#collapse-supplierinfo").html("");
                $("#receiverinfo").hide();
                $("#btnSubmit").hide();
            }

            //刪除按鈕觸發
            $("body").on('click', "span[data-model='del']", function (e) {
                e.preventDefault();
                e.stopPropagation();

                let span = $(this);
                let dtlcode = span.parent("td").data('dtlcode');
                //delBtnClick(dtlcode, partnumber);
                Swal.fire({
                    title: '刪除確認',
                    text: "確定要刪除嗎？",
                    type: 'warning',
                    showCancelButton: true,
                    customClass: {
                        confirmButton: 'bg-primary',
                        cancelButton: 'bg-danger',
                    },
                    cancelButtonText: '取消',
                    confirmButtonText: '確定'
                }).then((result) => {
                    if (result.value) {
                        delBtnClick(dtlcode);
                    }
                    })
            });

            //送出採購單
            $("body").on('click', '#btnSubmit', function (e) {
                e.preventDefault();
                e.stopPropagation();

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("Create", "PurchaseOrders")",
                    data: $("#formCreatePurchaseOrders").serialize(),
                }).done(function (result) {
                    if (result.status == "warning") {
                        //錯誤訊息延長顯示
                        toastr.warning(result.message.replace(/(?:\r\n|\r|\n)/g, '<br>'), { timeOut: 6000 });
                    } else if (result.status == "success") {
                        toastr.success(result.message);
                        setTimeout(function () {
                             location.href = '@Url.Action("Index", "PurchaseOrders")';
                        }, 2000);
                    }
                }).fail(function (e) {
                    toastr.error(e.responseText);
                });
            });

            function chkQtyValue() {
                if ($("#Qty").val() == "") {
                    toastr.warning("數量為必填");
                    return false;
                } else {
                    return true;
                }
            }

            function chkDateRequiredValue() {
                let date = $("#DateRequired").val();
                if (date == "") {
                    toastr.warning("要求到貨日期為必填");
                    return false;
                } else {
                    return true;
                }
            }

            //加入採購單
            $("#btnPODAdd").on('click', function (e) {
                e.preventDefault();
                e.stopPropagation();
                $(this).prop("disabled", true);
                btnPODAddClick();
            });

           async function btnPODAddClick() {
                //先更新資料
                await setPRDtlInputUpdate("add");
               //顯示表格
               await showPODtlToTableViewModel();
               await showPRDtlToTableViewModel();
               console.log($("#collapse-supplierinfo").children());
               if ($("#collapse-supplierinfo").children().length == 0) {
                   showSUPInfoViewModel();
               }
               $('#detailModal').modal('hide');
               $(this).prop("disabled", false);
            }

            //顯示供應商資訊
            async function showSUPInfoViewModel() {
                await $.ajax({
                    url: "@Url.Action("GetSUPInfoViewModel", "PurchaseOrders")",
                    type: "get",
                }).done(function (result) {
                    if (result == "") {
                        hideSupplierInfo();
                    } else {
                        $("#collapse-supplierinfo").html(result);
                        $("#supplierInfo").hide().removeClass("d-none").fadeIn(500);
                        $("#receiverinfo").hide().removeClass("d-none").fadeIn(500);
                        $("#btnSubmit").hide().removeClass("d-none").fadeIn(500);
                    }
                    }).fail(function (e) {
                        toastr.error(e.responseText);
                    });
            }

            //顯示採購明細表
            async function showPODtlToTableViewModel() {
                await $.ajax({
                    url: "@Url.Action("AddPODtlToTableViewModel", "PurchaseOrders")",
                    type: "get",
                 }).done(function (result) {
                     //建立內容
                     $('#podtl').html(result);
                     initDataTablesPO();
                     let rowcount = dtPO.context[0].aoData.length;
                     $('#podtlCount').text(rowcount);
                     $("#btnSubmit").prop("disabled", rowcount == 0);
                     //顯示內容
                     resizeDatatable();
                     console.log("showPODtlToTableViewModel");
                    }).fail(function (e) {
                        toastr.error(e.responseText);
                        console.log(e);
                    });
            }

            //設定採購單輸入內容更新
            async function setPRDtlInputUpdate(mode) {
                let btn = $("#btnPODAdd");
                let qty = $("#Qty").val();
                let dateRequired = $("#DateRequired").val();
                let sourceList = $("input[name=sourceList]:checked").val();
                let modalPrdCode = $("#modalPrdCode").text();

                if (!chkQtyValue() | !chkDateRequiredValue()) {
                    //toastr.warning("請輸入必填欄位");
                    btn.prop("disabled", true);
                    return;
                }

                await $.getJSON('@Url.Action("GetPODtlUpdateItemViewModel", "PurchaseOrders")', {
                    qty: qty,
                    dateRequired: dateRequired,
                    sourceList: sourceList,
                    modalPrdCode: modalPrdCode,
                    mode: mode
                }, function (data) {
                    if (!data) {
                        return;
                    }
                    $("#Qty").val(data.Qty);
                    $("#DateRequired").val(data.DateRequiredToShow);
                    $("#TotalSourceListQty").val(data.TotalSourceListQty);
                    $("#OriginalUnitPrice").val(data.OriginalUnitPriceToShow);
                    $("#Discount").val(data.DiscountToShow);
                    $("#Total").val(data.TotalToShow);
                    btn.prop("disabled", false);
                    console.log('setPRDtlInputUpdate');
                });
            }

           //設定Modal請購單資訊
            async function setPRDtlInfo(purchaseRequisitionDtlCode) {
                await $.ajax({
                    url: "@Url.Action("GetPRDtlInfoViewModel", "PurchaseOrders")",
                    type: "get",
                    data: {
                        id: purchaseRequisitionDtlCode
                    },
                }).done(function (result) {
                    $("#modalPRDtlInfo").html(result);
                    }).fail(function (e) {
                        toastr.error(e.responseText);
                    });
            }

            //分頁樣式測試
            $(".btn-group-toggle a[data-toggle='tab']").click(function () {
                $(this).tab('show');
                $(this).addClass("active").siblings().removeClass("active");
                //切換分頁會造成RWD不作用
                resizeDatatable();
            });

            //顯示請購單資訊
            async function showPRDtlToTableViewModel() {
                await $.ajax({
                    url: "@Url.Action("GetPRDtlTableViewModel", "PurchaseOrders")",
                    type: "get",
                    data: {
                        id: $("#SelectedPurchaseRequisitionID").val()
                    },
                 }).done(function (result) {
                     //建立內容
                     $('#prdtl').html(result);
                     initDataTablesPR();
                     $('#prdtlCount').text(dtPR.context[0].aoData.length);
                     //顯示內容
                     $('.dtl-content').hide().removeClass("d-none").fadeIn(500);
                     resizeDatatable();
                     //暫時限制單筆請購單
                    $('#SelectedPurchaseRequisitionID').prop("disabled", true);
                     $("#btnImportPR").fadeOut(500, function () {
                        $(this).remove();
                    });
                     $("#PurchaseRequisitionID").val($("#SelectedPurchaseRequisitionID").val());
                     console.log("showPRDtlToTableViewModel");
                    }).fail(function (e) {
                        toastr.error(e.responseText);
                    });
            }

            //倉庫資訊改變
            $("#btnAddWHInfo").prop("disabled", true);
            $('#SelectedWarehouseCode').change(function () {
                if (this.selectedIndex == 0) {
                    $("#btnAddWHInfo").prop("disabled", true);
                    return;
                }
                GetWHInfoToReceiverViewModel($(this).val());
                $("#btnAddWHInfo").prop("disabled", false);
            });

            $("#btnAddWHInfo").click(function () {
                if ($(this).prop("disabled")) {
                    return;
                }
                let wi = WHInfo.filter(function (item) {
                    return item.WarehouseCode == $('#SelectedWarehouseCode').val();
                });
                $("#POInfoItem_ReceiverName").trigger("focus").val(wi[0].Name);
                $("#POInfoItem_ReceiptAddress").trigger("focus").val(wi[0].Address);
                $("#POInfoItem_ReceiverTel").trigger("focus").val(wi[0].Tel);
            });

            async function GetWHInfoToReceiverViewModel(warehouseCode) {
                await GetWHInfo();
            }

             //將倉庫資訊加入交貨資訊
            var WHInfo = [];
            async function GetWHInfo() {
                if (WHInfo.length > 0) {
                    return;
                }
                await $.getJSON('@Url.Action("GetWarehouseInfoList", "PurchaseOrders")',
                    function (data) {
                        if (!data) {
                            return;
                        }
                        console.log(data);
                        WHInfo = data;
                    }).fail(function (e) {
                        console.log(e);
                    });
            }

            $("#btnImportPR").prop("disabled", true);
            $('#SelectedPurchaseRequisitionID').change(function () {
                if (this.selectedIndex == 0) {
                    $("btnImportPR").prop("disabled", true);
                    return;
                }
                showPRInfoViewModel();
            });

            //顯示請購單資訊
            async function showPRInfoViewModel() {
                await $.ajax({
                    url: "@Url.Action("GetPRInfoViewModel", "PurchaseOrders")",
                    type: "get",
                    data: {
                        id: $("#SelectedPurchaseRequisitionID").val()
                    },
                }).done(function (result) {
                    $("#btnImportPR").prop("disabled", false);
                    $(this).parent().parent().removeClass("mb-3");
                    $('#PRInfoContainer').fadeOut(250, function () {
                        $(this).html(result).fadeIn(250);
                    });
                    $("#warning").remove();
                    $("#PurchaseRequisitionID").val($("#SelectedPurchaseRequisitionID").val());
                    }).fail(function (e) {
                        toastr.error(e.responseText);
                    });
            }

            //匯入請購單資料
            $("#btnImportPR").click(function () {
                showPRDtlToTableViewModel();
                showPODtlToTableViewModel();
            });

            //採購明細表
            var dtPO;
            function initDataTablesPO() {
                dtPO = $('#dataTablesPO').DataTable({
                    ordering: false,
                    fixedHeader: false,
                    paging: false,
                    //預設第1欄會有排序按鈕，需指定其他排序欄位才會消失
                    order: [[2, 'desc']],
                    //如第1欄是checkbox，會造成只有縮放按鈕有效，checkbox無法使用，所以縮放按鈕要分欄
                    responsive: {
                        details: {
                            type: 'column',
                            target: 0
                        }
                    },
                    columnDefs: [{
                        targets: 0,
                        className: 'control',
                        searchable: false
                    },
                    { orderable: false, targets: [0, 1, -1] },
                    ],
                });

                dtPO.on('responsive-resize', function (e, datatable, columns) {
                    //修正縮放大小不正確的問題
                    dtPO.columns.adjust().responsive.recalc();
                });
            }

            //請購明細表
            var dtPR;
            function initDataTablesPR() {
                //請購明細
                dtPR = $('#dataTablesPR').DataTable({
                    ordering: false,
                    fixedHeader: false,
                    paging: false,
                    //預設第1欄會有排序按鈕，需指定其他排序欄位才會消失
                    order: [[2, 'desc']],
                    //如第1欄是checkbox，會造成只有縮放按鈕有效，checkbox無法使用，所以縮放按鈕要分欄
                    responsive: {
                        details: {
                            type: 'column',
                            target: 0
                        }
                    },
                    columnDefs: [{
                        targets: 0,
                        className: 'control',
                        searchable: false
                    },
                        { orderable: false, targets: [0, 1, -1] }
                    ],
                });

                dtPR.on('responsive-resize', function (e, datatable, columns) {
                    //修正縮放大小不正確的問題
                    dtPR.columns.adjust().responsive.recalc();
                });
            }

        });
    </script>
}

