@model PMSAWebMVC.ViewModels.PurchaseOrders.POSendToSupplierViewModel.SendToSupplierViewModel


@section styles{
    <style>
        /*內容分隔線*/
        .border-top-dashed {
            border-top: 1px dashed #3C4055;
        }

        .border-bottom-dashed {
            border-bottom: 1px dashed #3C4055;
        }
        /*連結無底線*/
        .nounderline {
            text-decoration: none !important
        }
        /*收合內容*/
        .card-header .fa {
            transition: .3s transform ease-in-out;
        }

        .card-header .collapsed .fa-chevron-down {
            transform: rotate(90deg);
        }

        .md-form {
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
        }
        /*表格欄位內容對齊*/
        #dataTablesPO tbody tr td:nth-child(n+4) {
            text-align: right;
        }
    </style>
}

@{
    ViewBag.Title = "送出至供應商";
}

<h2 class="text-dark">@ViewBag.Title</h2>

@*採購單資訊*@
<div class="card mb-3">
    <div class="card-header">
        <a data-toggle="collapse" href="#collapse-roinfo" aria-expanded="true" aria-controls="collapse-roinfo" id="heading-roinfo" class="d-block nounderline">
            <i class="fab fa-wpforms"></i> 採購單資訊 <i class="fa fa-chevron-down"></i>
        </a>
    </div>

    <div id="collapse-roinfo" class="collapse show" aria-labelledby="heading-roinfo">
        <div class="card-body pt-2 pb-0">
            <div class="row">
                <div class="col-md-3 col-6">
                    <small><strong>@Html.DisplayNameFor(model => Model.POItem.PurchaseOrderID)</strong></small>
                    <br>
                    <p class="text-muted">@Html.DisplayFor(model => Model.POItem.PurchaseOrderID)</p>
                </div>
                <div class="col-md-3 col-6">
                    <small><strong>@Html.DisplayNameFor(model => Model.POItem.CreateDate)</strong></small>
                    <br>
                    <p class="text-muted">@Html.DisplayFor(model => Model.POItem.CreateDate)</p>
                </div>
                <div class="col-md-3 col-6">
                    <small><strong>@Html.DisplayNameFor(model => Model.POItem.Buyer)</strong></small>
                    <br>
                    <p class="text-muted">@Html.DisplayFor(model => Model.POItem.Buyer)</p>
                </div>
                <div class="col-md-3 col-6">
                    <small><strong>@Html.DisplayNameFor(model => Model.POItem.PurchaseOrderStatus)</strong></small>
                    <br>
                    <p class="text-muted">@Html.DisplayFor(model => Model.POItem.PurchaseOrderStatus)</p>
                </div>
                <div class="col-md-3 col-6">
                    <small><strong>@Html.DisplayNameFor(model => Model.POItem.PurchaseRequisitionID)</strong></small>
                    <br>
                    <p class="text-muted">@Html.DisplayFor(model => Model.POItem.PurchaseRequisitionID)</p>
                </div>
            </div>
        </div>
    </div>
</div>

@*供應商資訊*@
<div class="card mb-3">
    <div class="card-header">
        <a data-toggle="collapse" href="#collapse-supplierinfo" aria-expanded="true" aria-controls="collapse-supplierinfo" id="heading-supplierinfo" class="d-block nounderline">
            <i class="far fa-building"></i> 供應商 <i class="fa fa-chevron-down"></i>
        </a>
    </div>

    <div id="collapse-supplierinfo" class="collapse show" aria-labelledby="heading-supplierinfo">
        <div class="card-body pt-2 pb-0">
            <div class="row">
                <div class="col-md-3 col-6">
                    <small><strong>@Html.DisplayNameFor(m => m.SUPItem.SupplierName)</strong></small>
                    <br>
                    <p class="text-muted">@Html.DisplayFor(m => m.SUPItem.SupplierName)</p>
                </div>
                <div class="col-md-3 col-6">
                    <small><strong>@Html.DisplayNameFor(m => m.SUPItem.ContactName)</strong></small>
                    <br>
                    <p class="text-muted">@Html.DisplayFor(m => m.SUPItem.ContactName)</p>
                </div>
                <div class="col-md-3 col-6">
                    <small><strong>@Html.DisplayNameFor(m => m.SUPItem.Email)</strong></small>
                    <br>
                    <p class="text-muted">@Html.DisplayFor(m => m.SUPItem.Email)</p>
                </div>
                <div class="col-md-3 col-6">
                    <small><strong>@Html.DisplayNameFor(m => m.SUPItem.Tel)</strong></small>
                    <br>
                    <p class="text-muted">@Html.DisplayFor(m => m.SUPItem.Tel)</p>
                </div>
            </div>
        </div>
    </div>
</div>

@*採購明細*@
<div class="card mb-3">
    <div class="card-header">
        <a data-toggle="collapse" href="#collapse-podsinfo" aria-expanded="true" aria-controls="collapse-podsinfo" id="heading-podsinfo" class="d-block nounderline">
            <i class="far fa-building"></i> 採購明細 <i class="fa fa-chevron-down"></i>
        </a>
    </div>

    <div id="collapse-podsinfo" class="collapse show" aria-labelledby="heading-podsinfo">
        <div class="card-body pb-0 pt-2">
            <table id="dataTablesPO" class="display table table-striped hover order-column nowrap text-left" style="width:100%">
                <thead>
                    <tr class="bg-primary text-white text-center">
                        <th>&nbsp;</th>
                        <th data-priority="1">@Html.DisplayNameFor(m => m.PODItems.FirstOrDefault().PurchaseOrderDtlCode)</thdata-priority="1">
                        <th>@Html.DisplayNameFor(m => m.PODItems.FirstOrDefault().PartName)</th>
                        <th>@Html.DisplayNameFor(m => m.PODItems.FirstOrDefault().DateRequired)</th>
                        <th>@Html.DisplayNameFor(m => m.PODItems.FirstOrDefault().OriginalUnitPrice)</th>
                        <th>@Html.DisplayNameFor(m => m.PODItems.FirstOrDefault().Qty)</th>
                        <th>@Html.DisplayNameFor(m => m.PODItems.FirstOrDefault().Discount)</th>
                        <th data-priority="1">@Html.DisplayNameFor(m => m.PODItems.FirstOrDefault().Total)</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.PODItems)
                    {
                        <tr>
                            <td></td>
                            <td>@Html.DisplayFor(m => item.PurchaseOrderDtlCode)</td>
                            <td>@Html.DisplayFor(m => item.PartName)</td>
                            <td>@Html.DisplayFor(m => item.DateRequired)</td>
                            <td>@Html.DisplayFor(m => item.OriginalUnitPrice)</td>
                            <td>@Html.DisplayFor(m => item.Qty)</td>
                            <td>@Html.DisplayFor(m => item.Discount)</td>
                            <td>@Html.DisplayFor(m => item.Total)</td>
                        </tr>
                    }
                </tbody>
            </table>

            <div class="d-flex justify-content-between align-items-center border-top-dashed col-12 p-2">
                <p>@Html.DisplayNameFor(m => Model.PODItemsAggregate)</p><p>@Html.DisplayFor(m => Model.PODItemsAggregate)</p>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            //==$(document).ready begin==

            initDataTablesPO();
            //採購明細
            var dtPO;
            function initDataTablesPO() {
                dtPO = $('#dataTablesPO').DataTable({
                    ordering: false,
                    fixedHeader: true,
                    searching: false,
                    paging: false,
                    info: false,
                    //如第1欄是checkbox，會造成只有縮放按鈕有效，checkbox無法使用，所以縮放按鈕要分欄
                    responsive: {
                        details: {
                            type: 'column',
                            target: 0
                        }
                    },
                    columnDefs: [{
                        targets: 0,
                        className: 'control'
                    },
                    ],
                });
                dtPO.on('responsive-resize', function (e, datatable, columns) {
                    //修正縮放大小不正確的問題
                    dtPO.columns.adjust().responsive.recalc();
                });
                resizeDatatable();
            }

            //==$(document).ready end==
        });
    </script>

}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>PurchaseOrderDetailViewModel</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
