@model PMSAWebMVC.ViewModels.PurchaseOrders.POSendToSupplierViewModel.SendToSupplierViewModel


@section styles{
    <style>
        /*內容分隔線*/
        .border-top-dashed {
            border-top: 1px dashed #3C4055;
        }

        .border-bottom-dashed {
            border-bottom: 1px dashed #3C4055;
        }
        /*連結無底線*/
        .nounderline {
            text-decoration: none !important
        }
        /*收合內容*/
        .card-header .fa {
            transition: .3s transform ease-in-out;
        }

        .card-header .collapsed .fa-chevron-down {
            transform: rotate(90deg);
        }

        .md-form {
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
        }
        /*表格欄位內容對齊*/
        #dataTablesPO tbody tr td:nth-child(n+4) {
            text-align: right;
        }
    </style>
}

@{
    ViewBag.Title = "送出至供應商";
}

<h2 class="text-dark">@ViewBag.Title</h2>

@*採購單資訊*@
<div class="card mb-3">
    <div class="card-header">
        <a data-toggle="collapse" href="#collapse-roinfo" aria-expanded="true" aria-controls="collapse-roinfo" id="heading-roinfo" class="d-block nounderline">
            <i class="fab fa-wpforms"></i> 採購單資訊 <i class="fa fa-chevron-down"></i>
        </a>
    </div>

    <div id="collapse-roinfo" class="collapse show" aria-labelledby="heading-roinfo">
        <div class="card-body pt-2 pb-0">
            <div class="row">
                <div class="col-md-3 col-6">
                    <small><strong>@Html.DisplayNameFor(model => Model.POItem.PurchaseOrderID)</strong></small>
                    <br>
                    <p class="text-muted">@Html.DisplayFor(model => Model.POItem.PurchaseOrderID)</p>
                </div>
                <div class="col-md-3 col-6">
                    <small><strong>@Html.DisplayNameFor(model => Model.POItem.Buyer)</strong></small>
                    <br>
                    <p class="text-muted">@Html.DisplayFor(model => Model.POItem.Buyer)</p>
                </div>
                <div class="col-md-3 col-6">
                    <small><strong>@Html.DisplayNameFor(model => Model.POItem.Email)</strong></small>
                    <br>
                    <p class="text-muted">@Html.DisplayFor(model => Model.POItem.Email)</p>
                </div>
                <div class="col-md-3 col-6">
                    <small><strong>@Html.DisplayNameFor(model => Model.POItem.Tel)</strong></small>
                    <br>
                    <p class="text-muted">@Html.DisplayFor(model => Model.POItem.Tel)</p>
                </div>
                <div class="col-md-3 col-6">
                    <small><strong>@Html.DisplayNameFor(model => Model.POItem.PurchaseRequisitionID)</strong></small>
                    <br>
                    <p class="text-muted">@Html.DisplayFor(model => Model.POItem.PurchaseRequisitionID)</p>
                </div>
                <div class="col-md-3 col-6">
                    <small><strong>@Html.DisplayNameFor(model => Model.POItem.CreateDate)</strong></small>
                    <br>
                    <p class="text-muted">@Html.DisplayFor(model => Model.POItem.CreateDate)</p>
                </div>
                <div class="col-md-3 col-6">
                    <small><strong>@Html.DisplayNameFor(model => Model.POItem.PurchaseOrderStatus)</strong></small>
                    <br>
                    <p class="text-muted">@Html.DisplayFor(model => Model.POItem.PurchaseOrderStatus)</p>
                </div>
            </div>
        </div>
    </div>
</div>

@*供應商資訊*@
<div class="card mb-3">
    <div class="card-header">
        <a data-toggle="collapse" href="#collapse-supplierinfo" aria-expanded="true" aria-controls="collapse-supplierinfo" id="heading-supplierinfo" class="d-block nounderline">
            <i class="far fa-building"></i> 供應商 <i class="fa fa-chevron-down"></i>
        </a>
    </div>

    <div id="collapse-supplierinfo" class="collapse show" aria-labelledby="heading-supplierinfo">
        <div class="card-body pt-2 pb-0">
            <div class="row">
                <div class="col-md-3 col-6">
                    <small><strong>@Html.DisplayNameFor(m => m.SUPItem.SupplierName)</strong></small>
                    <br>
                    <p class="text-muted">@Html.DisplayFor(m => m.SUPItem.SupplierName)</p>
                </div>
                <div class="col-md-3 col-6">
                    <small><strong>@Html.DisplayNameFor(m => m.SUPItem.ContactName)</strong></small>
                    <br>
                    <p class="text-muted">@Html.DisplayFor(m => m.SUPItem.ContactName)</p>
                </div>
                <div class="col-md-3 col-6">
                    <small><strong>@Html.DisplayNameFor(m => m.SUPItem.Email)</strong></small>
                    <br>
                    <p class="text-muted">@Html.DisplayFor(m => m.SUPItem.Email)</p>
                </div>
                <div class="col-md-3 col-6">
                    <small><strong>@Html.DisplayNameFor(m => m.SUPItem.Tel)</strong></small>
                    <br>
                    <p class="text-muted">@Html.DisplayFor(m => m.SUPItem.Tel)</p>
                </div>
            </div>
        </div>
    </div>
</div>

@*採購明細*@
<div class="card mb-3">
    <div class="card-header">
        <a data-toggle="collapse" href="#collapse-podsinfo" aria-expanded="true" aria-controls="collapse-podsinfo" id="heading-podsinfo" class="d-block nounderline">
            <i class="fas fa-file-invoice-dollar"></i> 採購明細 <i class="fa fa-chevron-down"></i>
        </a>
    </div>

    <div id="collapse-podsinfo" class="collapse show" aria-labelledby="heading-podsinfo">
        <div class="card-body pb-0 pt-2">
            <table id="dataTablesPO" class="display table table-striped hover order-column nowrap text-left" style="width:100%">
                <thead>
                    <tr class="bg-primary text-white text-center">
                        <th>&nbsp;</th>
                        <th data-priority="1">@Html.DisplayNameFor(m => m.PODItems.FirstOrDefault().PurchaseOrderDtlCode)</thdata-priority="1">
                        <th>@Html.DisplayNameFor(m => m.PODItems.FirstOrDefault().PartName)</th>
                        <th>@Html.DisplayNameFor(m => m.PODItems.FirstOrDefault().DateRequired)</th>
                        <th>@Html.DisplayNameFor(m => m.PODItems.FirstOrDefault().OriginalUnitPrice)</th>
                        <th>@Html.DisplayNameFor(m => m.PODItems.FirstOrDefault().Qty)</th>
                        <th>@Html.DisplayNameFor(m => m.PODItems.FirstOrDefault().Discount)</th>
                        <th data-priority="1">@Html.DisplayNameFor(m => m.PODItems.FirstOrDefault().Total)</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.PODItems)
                    {
                        <tr>
                            <td></td>
                            <td>@Html.DisplayFor(m => item.PurchaseOrderDtlCode)</td>
                            <td>@Html.DisplayFor(m => item.PartName)</td>
                            <td>@Html.DisplayFor(m => item.DateRequired)</td>
                            <td>@Html.DisplayFor(m => item.OriginalUnitPrice)</td>
                            <td>@Html.DisplayFor(m => item.Qty)</td>
                            <td>@Html.DisplayFor(m => item.Discount)</td>
                            <td>@Html.DisplayFor(m => item.Total)</td>
                        </tr>
                    }
                </tbody>
            </table>

            <div class="d-flex justify-content-between align-items-center border-top-dashed col-12 p-2">
                <p class="mb-1">@Html.DisplayNameFor(m => Model.PODItemsAggregate)</p><p class="mb-1">@Html.DisplayFor(m => Model.PODItemsAggregate)</p>
            </div>
        </div>
    </div>
</div>

@*交貨資訊*@
<div class="card mb-3">
    <div class="card-header">
        <a data-toggle="collapse" href="#collapse-receiverinfo" aria-expanded="true" aria-controls="collapse-receiverinfo" id="heading-receiverinfo" class="d-block nounderline">
            <i class="fas fa-truck-moving"></i> 交貨資訊 <i class="fa fa-chevron-down"></i>
        </a>
    </div>

    <div id="collapse-receiverinfo" class="collapse show" aria-labelledby="heading-receiverinfo">
        <div class="card-body pb-0 pt-2">
            <div class="row">
                <div class="col-md-3 col-6">
                    <small><strong>@Html.DisplayNameFor(m => m.POItem.ReceiverName)</strong></small>
                    <br>
                    <p class="text-muted">@Html.DisplayFor(m => m.POItem.ReceiverName)</p>
                </div>
                <div class="col-md-6 col-6">
                    <small><strong>@Html.DisplayNameFor(m => m.POItem.ReceiptAddress)</strong></small>
                    <br>
                    <p class="text-muted">@Html.DisplayFor(m => m.POItem.ReceiptAddress)</p>
                </div>

                <div class="w-100"></div>

                <div class="col-md-3 col-6">
                    <small><strong>@Html.DisplayNameFor(m => m.POItem.ReceiverTel)</strong></small>
                    <br>
                    <p class="text-muted">
                        @if (String.IsNullOrEmpty(Model.POItem.ReceiverTel))
                        {
                            @:無
                        }
                        else
                        {
                            @Html.DisplayFor(m => m.POItem.ReceiverTel)
                        }
                    </p>
                </div>
                <div class="col-md-3 col-6">
                    <small><strong>@Html.DisplayNameFor(m => m.POItem.ReceiverMobile)</strong></small>
                    <br>
                    <p class="text-muted">
                        @if (String.IsNullOrEmpty(Model.POItem.ReceiverMobile))
                        {
                            @:無
                        }
                        else
                        {
                            @Html.DisplayFor(m => m.POItem.ReceiverMobile)
                        }
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

@using (Html.BeginForm("SendToSupplier", "PurchaseOrders", FormMethod.Post, new { @id = "formSendToSupplierPurchaseOrders" }))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.POItem.PurchaseOrderID)

    <div class="form-group">
        <button id="btnSubmit" type="button" class="btn btn-primary btn-block"><i class="far fa-paper-plane"></i> 送出至供應商</button>
    </div>
}

@section scripts{
    <script>
        $(document).ready(function () {
            //==$(document).ready begin==

            toastr.options = {
                "closeButton": true,
                "progressBar": true,
            }

            //送出採購單
            $("body").on('click', '#btnSubmit', function (e) {
                e.preventDefault();
                e.stopPropagation();

                Swal.fire({
                    title: '送出確認',
                    text: "確定內容填寫正確並將採購單送至供應商嗎？",
                    type: 'warning',
                    showCancelButton: true,
                    customClass: {
                        confirmButton: 'bg-primary',
                        cancelButton: 'bg-danger',
                    },
                    cancelButtonText: '取消',
                    confirmButtonText: '確定'
                }).then((result) => {
                    if (result.value) {
                        updatePOStatus();
                        }
                    })
            });

            async function updatePOStatus() {
              await  $.ajax({
                    type: "POST",
                    url: "@Url.Action("SendToSupplier", "PurchaseOrders")",
                    data: $("#formSendToSupplierPurchaseOrders").serialize(),
                }).done(function (result) {
                  if (result.status == "success") {
                        toastr.success(result.message);
                        setTimeout(function () {
                             location.href = '@Url.Action("Index", "PurchaseOrders")';
                        }, 2000);
                    }
                }).fail(function (e) {
                    toastr.error(e.responseText);
                });
            }

            initDataTablesPO();
            //採購明細
            var dtPO;
            function initDataTablesPO() {
                dtPO = $('#dataTablesPO').DataTable({
                    ordering: false,
                    fixedHeader: true,
                    searching: false,
                    paging: false,
                    info: false,
                    //如第1欄是checkbox，會造成只有縮放按鈕有效，checkbox無法使用，所以縮放按鈕要分欄
                    responsive: {
                        details: {
                            type: 'column',
                            target: 0
                        }
                    },
                    columnDefs: [{
                        targets: 0,
                        className: 'control'
                    },
                    ],
                });
                dtPO.on('responsive-resize', function (e, datatable, columns) {
                    //修正縮放大小不正確的問題
                    dtPO.columns.adjust().responsive.recalc();
                });
                resizeDatatable();
            }

            //==$(document).ready end==
        });
    </script>

}
