@model PMSAWebMVC.ViewModels.PurchaseRequisitions.PurchaseRequisitionCreateViewModel

@Html.HiddenFor(m => m.PurchaseRequisitionOID)
@Html.HiddenFor(m => m.ProductNumber)

<table class="table table-striped table-bordered" id="dataTable" cellspacing="0" style="width:100%">
    <thead>
        <tr>
            <th><input type="checkbox" name="chkAll" />@Html.DisplayNameFor(model => model.CheckedResultSetVM.FirstOrDefault().Checked)</th>
            <th>@Html.DisplayNameFor(model => model.PurchaseRequisitionDtlSetVM.FirstOrDefault().SupplierName)</th>
            <th>@Html.DisplayNameFor(model => model.PurchaseRequisitionDtlSetVM.FirstOrDefault().PartNumber)</th>
            <th>@Html.DisplayNameFor(model => model.PurchaseRequisitionDtlSetVM.FirstOrDefault().PartName)</th>
            <th>@Html.DisplayNameFor(model => model.PurchaseRequisitionDtlSetVM.FirstOrDefault().OriginalUnitPrice)</th>
            <th>@Html.DisplayNameFor(model => model.PurchaseRequisitionDtlSetVM.FirstOrDefault().Qty)</th>
            <th>@Html.DisplayNameFor(model => model.PurchaseRequisitionDtlSetVM.FirstOrDefault().Discount)</th>
            <th>@Html.DisplayNameFor(model => model.PurchaseRequisitionDtlSetVM.FirstOrDefault().DateRequired)</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.PurchaseRequisitionDtlSetVM.Count(); i++)
        {
        <tr>
            <td>
                @Html.CheckBoxFor(m => m.CheckedResultSetVM[i].Checked)
                @Html.HiddenFor(m => m.CheckedResultSetVM[i].PurchaseRequisitionDtlOID)
                @Html.HiddenFor(m => m.CheckedResultSetVM[i].ProductNumber)
            </td>
            <td>
                @Html.DisplayFor(m => Model.PurchaseRequisitionDtlSetVM.ElementAt(i).SupplierName)
            </td>
            <td>
                @Html.DisplayFor(m => Model.PurchaseRequisitionDtlSetVM.ElementAt(i).PartNumber)
            </td>
            <td>
                @Html.DisplayFor(m => Model.PurchaseRequisitionDtlSetVM.ElementAt(i).PartName)
            </td>
            <td>
                @Html.DisplayFor(m => Model.PurchaseRequisitionDtlSetVM.ElementAt(i).OriginalUnitPrice)
            </td>
            <td>
                @Html.DisplayFor(m => Model.PurchaseRequisitionDtlSetVM.ElementAt(i).Qty)
            </td>
            <td>
                @Html.DisplayFor(m => Model.PurchaseRequisitionDtlSetVM.ElementAt(i).Discount)
            </td>
            <td>
                @Html.DisplayFor(m => Model.PurchaseRequisitionDtlSetVM.ElementAt(i).DateRequired)
            </td>
        </tr>
        }
    </tbody>
</table>
