@model PMSAWebMVC.ViewModels.PurchaseRequisitions.PurchaseRequisitionCreateViewModel
@{
    ViewBag.Title = "新增請購單";
}

<h2>@ViewBag.Title</h2>



<div class="card mb-3">
    <div class="card-header">
        <i class="fab fa-wpforms"></i> 請購單
    </div>
    <div class="card-body">
        <div class="form-horizontal">
            <div class="form-group row">
                @Html.LabelFor(m => m.SelectedProductNume, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-5">
                    @Html.DropDownListFor(m => m.SelectedProductNume, Model.ProductList, "請選擇", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.SelectedProductNume, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card mb-3">
    <div class="card-header">
        <i class="far fa-building"></i> 料件
    </div>
    <div class="card-body">
        <div class="form-horizontal">
            <div class="form-group row">
                @Html.LabelFor(m => m.SelectedPartName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-5">
                    @Html.DropDownListFor(m => m.SelectedPartName, Model.PartList, "請選擇", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.SelectedPartName, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
</div>
@*@using (Html.BeginForm("Create", "PurchaseOrders", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="card mb-3">
            <div class="card-header">
                <i class="fas fa-list"></i> 採購細項
            </div>
            <div class="card-body">
                @if (TempData["ErrorMessage"] != null)
                {
                    <div class="alert alert-warning" id="warning">
                        <a href="#" class="close" data-dismiss="alert">&times;</a>
                        @TempData["ErrorMessage"]
                    </div>
                }
                <div class="table-responsive" id="dataTablesContainer"></div>
            </div>
        </div>

        <div class="form-group">
            <div class="d-flex justify-content-center">
                <button id="btnSubmit" type="submit" class="btn btn-success btn-block"><i class="far fa-paper-plane"></i>送出申請</button>
            </div>
        </div>

    }*@

@section scripts
{
    <script>
        $(document).ready(function () {

            let PartListUrl = '@Url.Action("GetPartList", "PurchaseRequisitions")';
            let PartList = $('#SelectedPartName');
            $("#btnSubmit").prop("disabled", true);

            $('#SelectedProductNume').change(function() {
              PartList.empty();
            $("#dataTablesContainer").html('');
                $.getJSON(PartListUrl, { id: $(this).val() }, function (data) {
                if (!data) {
                    return;
                }
                 PartList.append($('<option></option>').val('').text('請選擇'));
                $.each(data, function (index, item) {
                    PartList.append($('<option></option>').val(item.Value).text(item.Text));
                });
                $("#btnSubmit").prop("disabled", true);
            });
            })

            @*$('#SelectedSupplierName').change(function () {
                $.ajax({
                    url: "@Url.Action("GetPurchaseOrderDtlList", "PurchaseOrders")",
                    type: "get",
                    data: {
                        id: $("#SelectedPurchaseRequisitionID").val(),
                        supplierCode: $("#SelectedSupplierName").val()
                    },
                }).done(function (result) {
                    $("#dataTablesContainer").html(result);
                    $("#warning").remove();
                    $("#PurchaseRequisitionID").val($("#SelectedPurchaseRequisitionID").val());

                    //全選、全勾消
                    $("input[name=chkAll]").change(function () {
                        let checked = $(this).prop("checked");
                        $("#dataTable > tbody input:checkbox").prop("checked", checked);
                    });
                    $("#btnSubmit").prop("disabled", false);
                }).fail(function (e) {
                    alert(e.responseText);
                    });

                $.fn.dataTable.ext.errMode = 'throw';

                $('#dataTable').DataTable(
                    {
                        paging: false,
                        ordering: false,
                        searching: false,
                        language: {
                            url: "@Url.Content("~/Scripts/dataTables_js/i18n/Chinese-traditional.json")",
                        },
                    }
                );
            })*@
        });
    </script>
}