@model PMSAWebMVC.Models.PurchaseRequisitionDtl

@{
    ViewBag.Title = "檢視請購單明細";
}

<h2>檢視請購單明細</h2>

<div>
    @*<h4>PurchaseRequisitionDtl</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PurchaseRequisitionDtlOID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PurchaseRequisitionDtlOID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Qty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Qty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateRequired)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateRequired)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Part.PartName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Part.PartName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PurchaseRequisition.ProductNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PurchaseRequisition.ProductNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SupplierInfo.SupplierName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SupplierInfo.SupplierName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("編輯", "EditDtl", new { id = Model.PurchaseRequisitionDtlCode }, new { @class = "btn btn-info" }) 
    @Html.ActionLink("返回", "IndexDtl",null, new { @class = "btn btn-info" })
</p>
