@model IEnumerable<PMSAWebMVC.Models.PurchaseRequisition>

@{
    ViewBag.Title = "請購單";
}

<h2>請購單</h2>

<p>@Html.ActionLink("查詢請購單明細", "IndexDtl", null, new { @class = "btn btn-success" })</p>
<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>
        @Html.ActionLink("新增請購單", "Createtest", null, new { @class = "btn btn-info" })
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-striped table-bordered" id="dataTable" cellspacing="0" style="width:100%">
                <thead>
                    <tr>
                        @*<th>
            @Html.DisplayNameFor(model => model.PurchaseRequisitionOID)
        </th>*@
                        <th>
                            @Html.DisplayNameFor(model => model.PurchaseRequisitionID)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Product.ProductName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PRBeginDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ProcessStatus)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SignStatus)
                        </th>
                        @*<th>
                            @Html.DisplayNameFor(model => model.Employee.Name)
                        </th>*@
                        @*<th>
            @Html.DisplayNameFor(model => model.SignFlow.OriginatorID)
        </th>*@
                        <th>動作</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        @*<th>
            @Html.DisplayNameFor(model => model.PurchaseRequisitionOID)
        </th>*@
                        <th>
                            @Html.DisplayNameFor(model => model.PurchaseRequisitionID)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Product.ProductName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PRBeginDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ProcessStatus)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SignStatus)
                        </th>
                        @*<th>
                            @Html.DisplayNameFor(model => model.Employee.Name)
                        </th>*@
                        @*<th>
            @Html.DisplayNameFor(model => model.SignFlow.OriginatorID)
        </th>*@
                        <th>動作</th>
                    </tr>
                </tfoot>
                @foreach (var item in Model)
                {
                <tr>
                    @*<td>
            @Html.DisplayFor(modelItem => item.PurchaseRequisitionOID)
        </td>*@
                    <th>
                        @Html.DisplayFor(modelItem => item.PurchaseRequisitionID)
                    </th>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.ProductName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PRBeginDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProcessStatus)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SignStatus)
                    </td>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.Employee.Name)
                    </td>*@
                    @*<td>
            @Html.DisplayFor(modelItem => item.SignFlow.OriginatorID)
        </td>*@
                    <td>
                        @Html.ActionLink("新增明細", "CreateDtl2", new { id = item.PurchaseRequisitionID }, new { @class = "btn btn-info" })
                        @Html.ActionLink("編輯", "Edit", new { id = item.PurchaseRequisitionID }, new { @class = "btn btn-info" }) |
                        @Html.ActionLink("檢視", "Details", new { id = item.PurchaseRequisitionID }, new { @class = "btn btn-info" }) 
                    </td>
                </tr>
                }
            </table>
        </div>
    </div>
    <div class="card-footer small text-muted">Updated at 10/23</div>
</div>
@section scripts
{
    <script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script>

    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable();

        });
        $('#myInput').on('keyup', function () {
            table.search(this.value).draw();
        });
        function A() {
            window.location.reload();
        }
        
    </script>

}