@model IEnumerable<PMSAWebMVC.Models.PurchaseRequisition>

@{
    ViewBag.Title = "請購單";
}

<h2>採購單</h2>

<p>@Html.ActionLink("查詢請購單明細", "IndexDtl", null, new { @class = "btn btn-success" })</p>
<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>
        @Html.ActionLink("新增請購單", "Create", null, new { @class = "btn btn-info" })
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-striped table-bordered" id="dataTable" cellspacing="0" style="width:100%">
                <thead>
                    <tr>
                        @*<th>
            @Html.DisplayNameFor(model => model.PurchaseRequisitionOID)
        </th>*@
                        <th>
                            @Html.DisplayNameFor(model => model.PurchaseRequisitionID)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Product.ProductName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PRBeginDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ProcessStatus)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SignStatus)
                        </th>
                        @*<th>
                            @Html.DisplayNameFor(model => model.Employee.Name)
                        </th>*@
                        @*<th>
            @Html.DisplayNameFor(model => model.SignFlow.OriginatorID)
        </th>*@
                        <th>動作</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        @*<th>
            @Html.DisplayNameFor(model => model.PurchaseRequisitionOID)
        </th>*@
                        <th>
                            @Html.DisplayNameFor(model => model.PurchaseRequisitionID)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Product.ProductName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PRBeginDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ProcessStatus)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SignStatus)
                        </th>
                        @*<th>
                            @Html.DisplayNameFor(model => model.Employee.Name)
                        </th>*@
                        @*<th>
            @Html.DisplayNameFor(model => model.SignFlow.OriginatorID)
        </th>*@
                        <th>動作</th>
                    </tr>
                </tfoot>
                @foreach (var item in Model)
                {
                <tr>
                    @*<td>
            @Html.DisplayFor(modelItem => item.PurchaseRequisitionOID)
        </td>*@
                    <th>
                        @Html.DisplayFor(modelItem => item.PurchaseRequisitionID)
                    </th>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.ProductName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PRBeginDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProcessStatus)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SignStatus)
                    </td>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.Employee.Name)
                    </td>*@
                    @*<td>
            @Html.DisplayFor(modelItem => item.SignFlow.OriginatorID)
        </td>*@
                    <td>
                        @Html.ActionLink("新增明細", "CreateDtl2", new { id = item.PurchaseRequisitionID }, new { @class = "btn btn-info" })
                        @Html.ActionLink("編輯", "Edit", new { id = item.PurchaseRequisitionID }, new { @class = "btn btn-info" }) |
                        @Html.ActionLink("檢視", "Details", new { id = item.PurchaseRequisitionID }, new { @class = "btn btn-info" }) |
                        <a name="click01" class="btn btn-danger" data-wc="@item.PurchaseRequisitionID"><i class="fa fa-close"></i> 刪除</a>
                    </td>
                </tr>
                }
            </table>
        </div>
    </div>
    <div class="card-footer small text-muted">Updated at 10/23</div>
</div>
@section scripts
{
    <script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script>

    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable();

        });
        $('#myInput').on('keyup', function () {
            table.search(this.value).draw();
        });
        function A() {
            window.location.reload();
        }
        $("a[name = 'click01']").click(function () {
            Swal.fire({
                title: '確定要刪除 ?',
                text: "刪除後你將沒有機會後悔 !",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                cancelButtonText: '取消',
                confirmButtonText: '刪除'
            }).then((result) => {
                if (result.value) {
                    let id1 = this.dataset.wc;
                    $.ajax({
                        url: `@Url.Action("Delete", "PurchaseRequisitions")`,
                        type: 'POST',
                        data: { id: id1 }
                    }).done(function () {
                        Swal.fire(
                            '刪除成功 !',
                            '此資料已被刪除',
                            'success'
                        )
                    }).fail(function () {
                        '刪除成功 !',
                            '此資料已被刪除',
                            'error'
                        }).always(function () {
                            setTimeout('A()', 2000);
                        });
                    }
                })
        });
    </script>

}