@model PMSAWebMVC.ViewModels.PurchaseRequisitions.PurchaseRequisitionConfirmViewModel
@{
    ViewBag.Title = "審核請購單";
}
@Html.HiddenFor(m => m.PurchaseRequisitionID)
@Html.HiddenFor(m => m.SignFlowOID)
@Html.HiddenFor(m => m.SignFlowDtlOID)
@Html.HiddenFor(m => m.SignStatus)


@*@Html.TextBoxFor(m => m.PurchaseRequisitionID)
    @Html.TextBoxFor(m => m.SignFlowOID)
    @Html.TextBoxFor(m => m.SignFlowDtlOID)
    @Html.TextBoxFor(m => m.SignStatus)*@
<label></label>
<h2 class="text-dark">@ViewBag.Title</h2>

<h6 class="note note-editor text-muted small">確認內容無誤後，請點選<span class="text-danger">進行簽核</span>按鈕，完成簽核動作</h6>
<button type="button" class="btn btn-primary btn-lg waves-effect waves-light mb-2" data-toggle="modal" data-target="#fluidModalLeftInfoDemo"><i class="fas fa-clipboard-check"></i> 進行簽核</button>


<!-- Full Height Modal Left Info Demo-->
<div class="modal fade left" id="fluidModalLeftInfoDemo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog modal-full-height modal-left modal-notify modal-info" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <p class="heading lead"><i class="fas fa-clipboard-check"></i> 簽核</p>
                <button type="button" class="btn btn-primary" id="btnSignDemo">Demo</button>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="white-text">&times;</span>
                </button>
            </div>

            <!--Body-->
            <div class="modal-body pt-0 pb-0 d-flex justify-content-center">
                @using (Html.BeginForm("Sign", "PurchaseRequisition", FormMethod.Post, new { @id = "formSignPurchaseRequisition" }))
                {
                    @Html.AntiForgeryToken()


                    <!-- Stepers Wrapper -->
                    <ul class="stepper stepper-vertical p-0 m-0">

                        <!-- First Step -->
                        <li class="active">
                            <a href="#" class="text-decoration-none">
                                <span class="circle">1</span>
                                <span class="label">第一步 資料輸入</span>
                            </a>

                            <div class="step-content grey lighten-4">
                                <small><strong>簽核人</strong></small>
                                <br>
                                <p class="text-muted">@ViewBag.ApprovingOfficerName</p>

                                <small><strong>@Html.DisplayNameFor(m => m.SignStatus)</strong></small>
                                <br>
                                <div id="tab" class="btn-group btn-group-toggle btn-block mb-2" data-toggle="buttons">
                                    <a href="#" class="btn btn-outline-primary p-1 d-flex justify-content-center" data-toggle="tab"><input type="radio" name="statusCode" value="Y" autocomplete="off">同意</a>
                                    <a href="#" class="btn btn-outline-primary p-1 d-flex justify-content-center" data-toggle="tab"><input type="radio" name="statusCode" value="N" autocomplete="off">拒絕</a>
                                </div>
                                <br />

                                <div class="md-form">
                                    <i class="fas fa-pencil-alt prefix text-primary"></i>
                                    @Html.TextAreaFor(m => m.SignOpinion, 2, 20, new { @class = "md-textarea form-control", maxlength = 128 })
                                    <label for="signOpinion">簽核意見</label>
                                </div>

                            </div>
                        </li>

                        <!-- Second Step -->
                        <li class="active">

                            <!--Section Title -->
                            <a href="#" class="text-decoration-none">
                                <span class="circle">2</span>
                                <span class="label">第二步 身份驗證</span>
                            </a>

                            <!-- Section Description -->
                            <div class="step-content grey lighten-4">
                                <div class="md-form">
                                    <i class="fas fa-lock prefix text-primary"></i>
                                    @Html.PasswordFor(m => m.SignPassword, new { @class = "form-control" })
                                    <label for="signValidation">登入密碼</label>
                                </div>

                                <button id="btnSignSubmit" type="button" class="btn btn-primary btn-block">送出</button>
                            </div>
                        </li>

                        <li class="completed">
                            <a href="#" class="text-decoration-none">
                                <span class="circle">3</span>
                                <span class="label">完成簽核</span>
                            </a>
                        </li>

                    </ul>
                    <!-- /.Stepers Wrapper -->
                }
            </div>

        </div>
        <!--/.Content-->
    </div>
</div>



@*購單資訊*@
<div class="card mb-3">
    <div class="card-header">
        <a data-toggle="collapse" href="#collapse-roinfo" aria-expanded="true" aria-controls="collapse-roinfo" id="heading-roinfo" class="d-block nounderline">
            <i class="fab fa-wpforms"></i> 請購單資訊 <i class="fa fa-chevron-down"></i>
        </a>
    </div>
    <div id="collapse-roinfo" class="collapse show" aria-labelledby="heading-roinfo">
        <div class="card-body pt-2 pb-0">
            <div class="row">
                <div class="col-md-3 col-6">
                    <small><strong>@Html.DisplayNameFor(model => Model.PurchaseRequisitionID)</strong></small>
                    <br>
                    <p class="text-muted">@ViewBag.PurchaseRequisitionID</p>
                </div>
                <div class="col-md-3 col-6">
                    <small><strong>@Html.DisplayNameFor(model => Model.ProductName)</strong></small>
                    <br>
                    <p class="text-muted">@ViewBag.ProductName</p>
                </div>
                <div class="col-md-2 col-6">
                    <small><strong>請購人員</strong></small>
                    <br>
                    <p class="text-muted">@ViewBag.EmployeeName</p>
                </div>
                <div class="col-md-2 col-6">
                    <small><strong>@Html.DisplayNameFor(model => Model.PRBeginDate)</strong></small>
                    <br>
                    <p class="text-muted">@ViewBag.PRBeginDate</p>
                </div>
                <div class="col-md-2 col-6">
                    <small><strong>@Html.DisplayNameFor(model => Model.ProcessStatus)</strong></small>
                    <br>
                    <p class="text-muted">@ViewBag.ProcessStatus</p>
                </div>
            </div>
        </div>
    </div>
</div>






@*請購明細*@
<div class="card mb-3">
    <div class="card-header">
        <a data-toggle="collapse" href="#collapse-podsinfo" aria-expanded="true" aria-controls="collapse-podsinfo" id="heading-podsinfo" class="d-block nounderline">
            <i class="fas fa-file-invoice-dollar"></i> 請購明細 <i class="fa fa-chevron-down"></i>
        </a>
    </div>

    <div id="collapse-podsinfo" class="card-body">
        <div class="card-body pb-0 pt-2">
            <table class="table table-striped hover order-column nowrap text-left" id="dataTable" cellspacing="0" style="width:100%">
                <thead style="border:double">
                    <tr class="bg-primary text-white text-center text-left">

                        <th data-priority="1">@Html.DisplayNameFor(model => model.PurchaseRequisitionDtlCode)</th>
                        <th>@Html.DisplayNameFor(model => model.PartName)</th>
                        <th>@Html.DisplayNameFor(model => model.SupplierName)</th>
                        <th>@Html.DisplayNameFor(model => model.Qty)</th>
                        <th>@Html.DisplayNameFor(model => model.DateRequired)</th>

                    </tr>
                </thead>
                <tbody style="border:double">
                    @for (int i = 0; i < Model.PurchaseRequisitionDtlSetVM.Count(); i++)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(m => Model.PurchaseRequisitionDtlSetVM.ElementAt(i).PurchaseRequisitionDtlCode)
                            </td>
                            <td>
                                @Html.DisplayFor(m => Model.PurchaseRequisitionDtlSetVM.ElementAt(i).PartName)
                            </td>
                            <td>
                                @Html.DisplayFor(m => Model.PurchaseRequisitionDtlSetVM.ElementAt(i).SupplierName)
                            </td>
                            <td>
                                @Html.DisplayFor(m => Model.PurchaseRequisitionDtlSetVM.ElementAt(i).Qty)
                            </td>
                            <td>
                                @Html.DisplayFor(m => Model.PurchaseRequisitionDtlSetVM.ElementAt(i).DateRequired)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>

</div>

@section scripts{
    <script src="~/Scripts/Views/_PurchaseOrdersDetailsPartial.js"></script>
    <script>

        toastr.options = {
            "closeButton": true,
            "progressBar": true,
        }
        //Demo鍵點擊
        $("body").on('click', "#btnSignDemo", function () {
            $("input[type='radio'][value='Y']").trigger("click");
            $("#SignOpinion").trigger("focus").val("內容無誤，準予同意");
            $("#SignPassword").trigger("focus").val("P@ssw0rd");
        });
        //簽核狀態點擊
        $("body").on('click', ".btn-group-toggle a[data-toggle='tab']", function () {
            $(this).addClass("active").siblings().removeClass("active");
            let signStatusCode = $(this).children("input[type=radio]").val();
            $("#SignStatus").val(signStatusCode);

        });

        //送出簽核
        $("body").on('click', "#btnSignSubmit", function () {
            let result = true;
            let temp = $("#SignStatus").val() != "S";
            result = result && temp;
            if (!temp) {
                toastr.warning("簽核狀態 為必填", "", { timeOut: "6000" });
            }
            temp = $("#SignPassword").val() != "";
            result = result && temp;
            if (!temp) {
                toastr.warning("登入密碼 為必填", "", { timeOut: "6000" });
            }
            $(this).prop("disabled", true);
            if (result) {
                updatePOSignStatus();
            }
        });

        async function updatePOSignStatus() {
            var PurchaseRequisitionObj = {
                SignPassword: $("#SignPassword").val(),
                PurchaseRequisitionID: $("#PurchaseRequisitionID").val(),
                SignStatus: $("#SignStatus").val(),
                SignFlowOID: $("#SignFlowOID").val(),
                SignFlowDtlOID: $("#SignFlowDtlOID").val(),
                SignOpinion: $("#SignOpinion").val()
            }

            await $.ajax({
                type: "POST",
                url: "@Url.Action("Sign1", "PurchaseRequisitions")",
                data: PurchaseRequisitionObj,
            }).done(function (result) {
                if (result.status == "success") {
                    toastr.success(result.message);
                    setTimeout(function () {
                        location.href = '@Url.Action("Index", "PurchaseRequisitions")';
                    }, 2000);
                } else if (result.status == "warning") {
                    toastr.warning(result.message.replace(/(?:\r\n|\r|\n)/g, '<br>'), "", { timeOut: 6000 });
                }
                    $("#btnSignSubmit").prop("disabled", false);
                }).fail(function (e) {
                    toastr.error(e.responseText);
                    $("#btnSignSubmit").prop("disabled", false);
                });
        }

    </script>

}