@model PMSAWebMVC.Models.WarehouseInfo

@{
    ViewBag.Title = "明細";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>明細</h2>

<div>
    <h4>倉庫資訊</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.WarehouseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WarehouseName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remark)
        </dd>

        <dt>
            聯絡人
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.Name)
        </dd>

    </dl>
</div>
<p>
    <a class="btn btn-primary" href='@Url.Action("Edit", new { id = Model.WarehouseCode })'>
        <i class="fa fa-edit">修改</i>
    </a>|
    <a class="btn btn-warning" href='@Url.Action("Index")'>
        <i class="fa fa-mail-reply"></i>@PMSAWebMVC.Resources.AppResource.BackToList
    </a>
</p>
