@model IEnumerable<PMSAWebMVC.Models.WarehouseInfo>

@{
    ViewBag.Title = "倉庫資訊";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>
        倉庫資訊
    </div>
    <div class="card-body">
        <div>
            <div style="float:left">
                <button type="button" class="btn btn-primary" id="btnAdd" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="fas fa-plus"></i></button>
            </div>
            <div style="float:right" id="dabtn"></div>
        </div>
        <div class="table-responsive">
            <br />
            <table class="table table-striped hover order-column nowrap text-left" id="dataTable" cellspacing="0" style="width:100%">
                <thead>
                    <tr class="bg-primary text-white text-center">
                        <th style="width:15%;">@Html.DisplayNameFor(model => model.WarehouseCode)</th>
                        <th style="width:20%;">@Html.DisplayNameFor(model => model.WarehouseName)</th>
                        <th style="width:55%;">@Html.DisplayNameFor(model => model.Address)</th>
                        <th style="width:10%;">編輯</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.WarehouseCode)</td>
                            <td>@Html.DisplayFor(modelItem => item.WarehouseName)</td>
                            <td id="cel">@Html.DisplayFor(modelItem => item.Address)</td>
                            <td class="table-data-feature">
                                <span data-toggle="modal" data-target=".bd-example-modal-lg">
                                    <button name="click03" class="btn btn-outline-secondary btn-icon" data-toggle="tooltip" title="檢視" data-dc="@item.WarehouseCode">
                                        <i class="far fa-eye"></i>
                                    </button>
                                </span>
                                <span data-toggle="modal" data-target=".bd-example-modal-lg">
                                    <button name="click04" class="btn btn-outline-secondary btn-icon" data-toggle="tooltip" title="編輯" data-dc="@item.WarehouseCode">
                                        <i class="far fa-edit"></i>
                                    </button>
                                </span>
                                <button name="click01" class="btn btn-outline-secondary btn-icon" data-toggle="tooltip" title="刪除" data-wc="@item.WarehouseCode">
                                    <i class='far fa-trash-alt'></i>
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<style>
    .modal-header {
        padding: 15px;
        border-bottom: 1px solid #e5e5e5;
        background-color: blueviolet;
    }

    .modal-title {
        color: white;
    }

    .required:after {
        margin: 2px;
        content: '*';
        color: red;
    }

    #bt {
        border-style: none;
    }
</style>

@section scripts
{
    @*製作datatables 按鈕*@
    @*https://code.jquery.com/jquery-3.3.1.js
        https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js
        https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js
        https://cdn.datatables.net/buttons/1.6.1/js/buttons.flash.min.js
        https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js
        https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js
        https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js
        https://cdn.datatables.net/buttons/1.6.1/js/buttons.html5.min.js
        https://cdn.datatables.net/buttons/1.6.1/js/buttons.print.min.js*@

    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>*@
    <script>
        $(document).ready(function () {
            var table = $('#dataTable').DataTable({
                buttons: [
                    'excel', 'pdf'
                ]
            });
            table.buttons().container().appendTo($('.col-sm-6:eq(0)', table.buttons().container().appendTo($('#dabtn'))));
        });

        $('#myInput').on('keyup', function () {
            table.search(this.value).draw();
        });

        //下拉選單
        loadEmployees();
        async function loadEmployees() {
            var response = await fetch('@Url.Action("getemployeeid", "WarehouseInfoes")');
            var datas = await response.json();
            for (var i = 0, max = datas.length; i < max; i++) {
                var employeeId = datas[i].EmployeeID
                var employeeName = datas[i].Name
                var opt = new Option(employeeId+" "+employeeName, employeeId);
                $('#EmployeeID').append(opt)
            }
        }

        //新增
        $('#btnAdd').click(function () {
            $('#ModalTitle').text('新增倉庫資訊');
            $('*[name="da"]').attr('disabled', false);
            $('*[name="da"]').attr('disabled', false);
            $('input[name="da"]').val("");
            $('input[name="dta"]').val("");
            $('#EmployeeID')[0].selectedIndex = 0;
            $('#btnDemo').show();
            $('#btnSave').show();
            $('#btnUpdate').hide();
            document.getElementById("code2").innerHTML = '';
            document.getElementById("name2").innerHTML = '';
            document.getElementById("add2").innerHTML = '';
            document.getElementById("tel2").innerHTML = '';
        })

        $('#btnSave').click(function () {
            var table = $('#dataTable').DataTable();
            var cell4 = '&nbsp;<span data-toggle="modal" data-target=".bd-example-modal-lg"><button id="bt" name="click03" class="btn btn-outline-secondary btn-icon" data-toggle="tooltip" title="檢視"><i class="far fa-eye"></i></button></span> &nbsp;<span data-toggle="modal" data-target=".bd-example-modal-lg"><button id="bt" name="click04" class="btn btn-outline-secondary btn-icon" data-toggle="tooltip" title="編輯"><i class="far fa-edit"></i></button></span> &nbsp;<button id="bt" name="click01" class="btn btn-outline-secondary btn-icon" data-toggle="tooltip" title="刪除"><i class="far fa-trash-alt"></i></button>'
            if($("#WarehouseCode").val() == '' || $("#WarehouseName").val() == '' || $("#Address").val() == ''){
                toastr.error("'*' 為必填欄位","警告");
            } else {
                var warehouseinfoObj = {
                    WarehouseCode:$("#WarehouseCode").val(),
                    WarehouseName:$("#WarehouseName").val(),
                    Address:$("#Address").val(),
                    EmployeeID:$("#EmployeeID").val(),
                    Tel:$("#Tel").val(),
                    Remark:$("#Remark").val()
                }
                $.ajax({
                    url: '@Url.Action("Create", "WarehouseInfoes")',
                    dataType: 'json',
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(warehouseinfoObj)
                }).done(function (response) {
                    if (response.status) {
                        toastr.success(response.message, "通知");
                        table.row.add([$("#WarehouseCode").val(), $("#WarehouseName").val(), $("#Address").val(), cell4]).draw(false);
                    }
                }).fail(function(response){
                    toastr.error(response.message, "警告");
                })
                $('#warehouseModal').modal('hide');
            }

        })

        //刪除
        $(document).on('click', "button[name = 'click01']", function () {
            var $this = $(this);
            var table = $('#dataTable').DataTable();
            let id1 = this.dataset.wc;
            if(id1 == undefined){
                id1 = $(this).parents('tr').find('td:first-child').text();
            }
            Swal.fire({
                title: '確定要刪除 ?',
                text: "刪除後將沒有機會後悔 !",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                cancelButtonText: '取消',
                confirmButtonText: '刪除'
            }).then((result) => {
                if (result.value) {

                    $.ajax({
                        url: `@Url.Action("Delete", "WarehouseInfoes")`,
                        type: 'POST',
                        data: { id: id1 }

                    }).done(function () {
                        Swal.fire(
                            '刪除成功 !',
                            '此資料已被刪除',
                            'success'
                        );
                        table.row($($this).parents('tr')).remove().draw();
                    }).fail(function () {
                            toastr.error("刪除失敗", "警告");
                        })
                    }
                })
        });

        //檢視
        $(document).on('click', "button[name = 'click03']", function () {
            let id1 = this.dataset.dc;
            if(id1 == undefined){
                id1 = $(this).parents('tr').find('td:first-child').text();
            }
            $.getJSON("@Url.Action("Detail", "WarehouseInfoes")/" + id1, function (datas) {
                document.getElementById("code2").innerHTML = '';
                document.getElementById("name2").innerHTML = '';
                document.getElementById("add2").innerHTML = '';
                document.getElementById("tel2").innerHTML = '';
                $('#ModalTitle').text('檢視倉庫資訊');
                $('*[name="da"]').attr('disabled', true);
                $('*[name="dta"]').attr('disabled', true);
                $('#btnSave').hide();
                $('#btnUpdate').hide();
                $('#btnDemo').hide();
                $("#WarehouseCode").val(datas[0].WarehouseCode);
                $("#WarehouseName").val(datas[0].WarehouseName);
                $("#Address").val(datas[0].Address);
                $("#EmployeeID").val(datas[0].EmployeeID);
                $("#Tel").val(datas[0].Tel);
                $("#Remark").val(datas[0].Remark);
            })
        });

        //Demo
        $(document).on('click', "#btnDemo", function () {
            $("#WarehouseCode").val("NTPUN05");
            $("#WarehouseName").val("新北永和05倉");
            $("#Address").val("新北市永和區民權路53號");
            $("#Tel").val("02-2942-9900");
        })

        //更新
        var sell;
        $(document).on('click', "td", function () {
            var table = $('#dataTable').DataTable();
            var rowss = $(this).closest("tr");  //抓取列
            var celss = $(this).siblings("#cel"); //抓取欄
            sell = table.row(rowss).cell(celss);
        })
        $(document).on('click', "button[name = 'click04']", function () {
            let id1 = this.dataset.dc;
            if(id1 == undefined){
                id1 = $(this).parents('tr').find('td:first-child').text();
            }
            $.getJSON("@Url.Action("Detail", "WarehouseInfoes")/" + id1, function (datas) {
                document.getElementById("code2").innerHTML = '';
                document.getElementById("name2").innerHTML = '';
                document.getElementById("add2").innerHTML = '';
                document.getElementById("tel2").innerHTML = '';
                $('#ModalTitle').text('修改倉庫資訊');
                $('*[name="da"]').attr('disabled', true);
                $('*[name="dta"]').attr('disabled', false);
                $('#btnSave').hide();
                $('#btnUpdate').show();
                $('#btnDemo').hide();
                $("#WarehouseCode").val(datas[0].WarehouseCode);
                $("#WarehouseName").val(datas[0].WarehouseName);
                $("#Address").val(datas[0].Address);
                $("#EmployeeID").val(datas[0].EmployeeID);
                $("#Tel").val(datas[0].Tel);
                $("#Remark").val(datas[0].Remark);
            })
        });

        $('#btnUpdate').click(function () {
            var table = $('#dataTable').DataTable();
            if($("#Address").val() == ''){
                toastr.error("'*' 為必填欄位","警告");
            }else{
                var warehouseinfoObj = {
                    WarehouseCode:$("#WarehouseCode").val(),
                    WarehouseName:$("#WarehouseName").val(),
                    Address:$("#Address").val(),
                    EmployeeID:$("#EmployeeID").val(),
                    Tel:$("#Tel").val(),
                    Remark:$("#Remark").val()
                }
                $.ajax({
                    url: '@Url.Action("Edit", "WarehouseInfoes")',
                    dataType: 'json',
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(warehouseinfoObj)
                }).done(function (response) {
                    if (response.status) {
                        toastr.success(response.message, "通知");
                        sell.data($("#Address").val()).draw();
                    }
                }).fail(function(response){
                    toastr.error(response.message, "警告");
                })
                $('#warehouseModal').modal('hide');
            }
        })

        //輸入
        function strcode() {
            let thepwd = document.getElementById("WarehouseCode").value.trim();
            let str1 = "";

            reg = /^.*(?=.*[0-9])(?=.*[A-Za-z]).*$/;
            if (thepwd.length >= 4) {
                if (reg.test(thepwd)) {

                }
                else {
                    str1 = '<i class="fa fa-exclamation-circle" aria-hidden="true"></i>&nbsp;請輸入英文、數字';
                }
            } else {
                str1 = '<i class="fa fa-exclamation-circle" aria-hidden="true"></i>&nbsp;至少輸入四個字';
            }

            document.getElementById("code2").innerHTML = str1;
        }

        function strname() {
            let thepwd = document.getElementById("WarehouseName").value.trim();
            let str1 = "";

            if (thepwd.length <= 0) {
                str1 = '<i class="fa fa-exclamation-circle" aria-hidden="true"></i>&nbsp;不可為空值';
            }

            document.getElementById("name2").innerHTML = str1;
        }

        function stradd() {
            let thepwd = document.getElementById("Address").value.trim();
            let str1 = "";

            if (thepwd.length <= 0) {
                str1 = '<i class="fa fa-exclamation-circle" aria-hidden="true"></i>&nbsp;不可為空值';
            }

            document.getElementById("add2").innerHTML = str1;
        }

        function strtel() {
            let thepwd = document.getElementById("Tel").value.trim();
            let str1 = "";

            reg = /^.*(?=.*[A-Za-z]).*$/;
            if (thepwd.length >= 0) {
                if (reg.test(thepwd)) {
                    str1 = '<i class="fa fa-exclamation-circle" aria-hidden="true"></i>&nbsp;請輸入正確的電話號碼';
                }
            }

            document.getElementById("tel2").innerHTML = str1;
        }

    </script>

}

<!--Model-->
<div class="modal fade bd-example-modal-lg" id="warehouseModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalTitle"></h5>
            </div>
            <div class="modal-body">
                <form id="addForm">
                    <div class="form-group">
                        <label class="required" for="WarehouseCode">@Html.DisplayNameFor(model => model.WarehouseCode)</label>
                        <input type="text" class="form-control" id="WarehouseCode" name="da" onblur="strcode()">
                        <span id="code2" style="color:red"></span>
                    </div>
                    <div class="form-group">
                        <label class="required" for="WarehouseName">@Html.DisplayNameFor(model => model.WarehouseName)</label>
                        <input type="text" class="form-control" id="WarehouseName" name="da" onblur="strname()">
                        <span id="name2" style="color:red"></span>
                    </div>
                    <div class="form-group">
                        <label class="required" for="Address">@Html.DisplayNameFor(model => model.Address)</label>
                        <input type="text" class="form-control" id="Address" name="dta" onblur="stradd()">
                        <span id="add2" style="color:red"></span>
                    </div>
                    <div class="form-group">
                        <label for="EmployeeID">聯絡人</label>
                        <br />
                        <select class="form-control" id="EmployeeID" name="dta"></select>
                    </div>
                    <div class="form-group">
                        <label for="Tel">@Html.DisplayNameFor(model => model.Tel)</label>
                        <input type="text" class="form-control" id="Tel" name="dta" onblur="strtel()">
                        <span id="tel2" style="color:red"></span>
                    </div>
                    <div class="form-group">
                        <label for="Remark">@Html.DisplayNameFor(model => model.Remark)</label>
                        <input type="text" class="form-control" id="Remark" name="dta">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="btnClose" type="button" class="btn btn-danger" data-dismiss="modal">取消</button>
                <button id="btnSave" name="btnSave" type="button" class="btn btn-primary">新增</button>
                <button id="btnUpdate" name="btnUpdate" type="button" class="btn btn-success">修改</button>
                <button id="btnDemo" name="btnDemo" type="button" class="btn btn-success">Demo</button>
            </div>
        </div>
    </div>
</div>