@model PMSAWebMVC.ViewModels.ShipNotices.PurchaseOrderViewModel

@{
    ViewBag.Title = "Edit";

    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Raw(ViewBag.failMessage)

<h2>@PMSAWebMVC.Resources.AppResource.ShipNotice</h2>
@using (Html.BeginForm("shipCheck", "ShipNotices", new { purchaseOrderID = Model.PurchaseOrderID }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h4>@PMSAWebMVC.Resources.AppResource.Ship</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.PurchaseOrderID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                @Html.EditorFor(model => model.PurchaseOrderID, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.PurchaseOrderID, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label(PMSAWebMVC.Resources.AppResource.ShipmentAmount, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <p class="form-control">@ViewBag.amount</p>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ReceiverName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ReceiverName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.ReceiverName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ReceiverTel, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ReceiverTel, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.ReceiverTel, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ReceiverMobile, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ReceiverMobile, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.ReceiverMobile, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ReceiptAddress, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ReceiptAddress, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.ReceiptAddress, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @*@Html.ActionLink(PMSAWebMVC.Resources.AppResource.ShipCheck, "shipCheck","ShipNotices", new {  purchaseOrderID = Model.PurchaseOrderID })*@
                @*<button type="submit">Submit</button>*@
                <a><input id="submit" onclick="check()" name="submit" type="submit" value=@PMSAWebMVC.Resources.AppResource.ShipCheck class="btn btn-primary" /></a>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink(PMSAWebMVC.Resources.AppResource.BackToList, "Index",new {@class="btn btn-primary" })
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
    $(document).ready(function () {
              $("#failMessage").html(@Model.failMessage)
    });
    </script>
    @*<script>Swal.fire(`@PMSAWebMVC.Resources.AppResource.NoStock`)</script>*@
    @*<script>
            function check() {
                $ajax({
                    type: 'POST',
                    url: `@Url.Action("shipCheck", "ShipNotices",new {purchaseOrderID = Model.PurchaseOrderID })`,

                }).done(function (result) {
                    Swal.fire('Success');
                }).fail(function (err) {
                    Swal.fire('fail');
                    });
            }
        </script>*@
}
