@model IEnumerable<PMSAWebMVC.Models.SourceListDtl>

@{
    ViewBag.Title = "貨源清單明細";
}
<h2>貨源清單明細</h2>
<p>@Html.ActionLink("查詢貨源清單", "Index", null, new { @class = "btn btn-success" })</p>
<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>
        @*@Html.ActionLink("新增貨源清單明細", "CreateDtl", null, new { @class = "btn btn-info" })*@
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-striped hover order-column nowrap text-left" style="width:100%" id="dataTable">
                <thead>
                    <tr class="bg-primary text-white text-left">
                        <th>
                            @Html.DisplayNameFor(model => model.SourceList.SourceListID)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SourceList.Part.PartName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SourceList.SupplierInfo.SupplierName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.QtyDemanded)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Discount)
                            (%)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DiscountBeginDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DiscountEndDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CreateDate)
                        </th>
                        <th>動作</th>
                    </tr>
                </thead>
                @*<tfoot>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.SourceList.SourceListID)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.SourceList.Part.PartName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.SourceList.SupplierInfo.SupplierName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.QtyDemanded)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Discount)
                                (%)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DiscountBeginDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DiscountEndDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CreateDate)
                            </th>
                            <th>動作</th>
                        </tr>
                    </tfoot>*@
                @*@{ decimal runningTotal = 0M; } // assumes Total is typeof decimal*@
                @{ int x = 0; string y = ""; }
                @foreach (var item in Model)
                {
                    //runningTotal=(-((item.Discount*100)-100)).ToString()+"%"
                    x = Convert.ToInt32(item.Discount * 100);
                    y = x + "%";
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.SourceList.SourceListID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SourceList.Part.PartName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SourceList.SupplierInfo.SupplierName)
                        </td>
                        <td id="qd">
                            @Html.DisplayFor(modelItem => item.QtyDemanded)
                        </td>
                        <td id="d">
                            @*@Html.DisplayFor(modelItem => item.Discount)*@
                            @y
                        </td>
                        <td id="dbd">
                            @Html.DisplayFor(modelItem => item.DiscountBeginDate)
                        </td>
                        <td id="ded">
                            @Html.DisplayFor(modelItem => item.DiscountEndDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreateDate)
                        </td>
                        <td>
                            @*@Html.ActionLink("編輯", "EditDtl", new { id = item.SourceListDtlOID }, new { @class = "btn btn-info" }) |
                                @Html.ActionLink("檢視", "DetailsDtl", new { id = item.SourceListDtlOID }, new { @class = "btn btn-info" }) |*@
                            @*<a name="click01" class="btn btn-danger" data-wc="@item.SourceListDtlOID"><i class="fa fa-close"></i> 刪除</a>*@
                            <button name="click1" type="button" data-toggle="modal" data-target=".bd-example-modal-lg" class="btn btn-outline-secondary btn-icon" title="檢視" data-dc="@item.SourceListDtlOID">
                                <i class="far fa-eye"></i>
                            </button>
                            <button name="click2" type="button" data-toggle="modal" data-target=".bd-example-modal-lg" class="btn btn-outline-secondary btn-icon" title="修改" data-dc="@item.SourceListDtlOID">
                                <i class="far fa-edit"></i>
                            </button>
                            <a name="click01" class="btn btn-outline-secondary btn-icon" data-wc="@item.SourceListDtlOID"><i class="far fa-trash-alt"></i></a>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
    <div class="card-footer small text-muted">Updated at 10/23</div>
</div>


@section scripts
{
    <script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script>

    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable();

        });
        $('#myInput').on('keyup', function () {
            table.search(this.value).draw();
        });
        function A() {
            window.location.reload();
        }
        $("a[name = 'click01']").click(function () {
            Swal.fire({
                title: '確定要刪除 ?',
                text: "刪除後你將沒有機會後悔 !",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                cancelButtonText: '取消',
                confirmButtonText: '刪除'
            }).then((result) => {
                if (result.value) {
                    let id1 = this.dataset.wc;
                    $.ajax({
                        url: `@Url.Action("DeleteDtl", "SourceLists")`,
                        type: 'POST',
                        data: { id: id1 }
                    }).done(function () {
                        Swal.fire(
                            '刪除成功 !',
                            '此資料已被刪除',
                            'success'
                        )
                    }).fail(function () {
                            alert("error");
                        }).always(function () {
                            setTimeout('A()', 2000);
                        });
                    }
                })
        });

        //貨源清單明細檢視
            $(document).on('click', "button[name = 'click1']", function () {
                document.getElementById("btnClose").innerHTML = "關閉";
            let id1 = this.dataset.dc;
            if(id1 == undefined){
                id1 = $(this).parents('tr').find('td:first-child').text();
            }
            $.getJSON("@Url.Action("DetailDtl", "SourceLists")/" + id1, function (datas) {
                $('#ModalTitle').text('檢視請購單資訊');
                $('*[name="da"]').attr('disabled', true);
                $('*[name="dta"]').attr('disabled', true);
                //$('*[id="btnUpdate"]').attr('display', false);
                $('#btnUpdate').hide();
                $("#SourceListDtlOID").val(datas[0].SourceListDtlOID);
                $("#SourceListID").val(datas[0].SourceListID);
                $("#QtyDemanded").val(datas[0].QtyDemanded);
                $("#Discount").val(datas[0].Discount);
                //$('#DiscountBeginDate').datetimepicker({
                //    defaultDate: datas[0].DiscountBeginDate
                //});
                //$('#DiscountEndDate').datetimepicker({
                //    defaultDate: datas[0].DiscountEndDate
                //});
                //$('#CreateDate').datetimepicker({
                //    defaultDate: datas[0].CreateDate
                //});
                $('#DiscountBeginDate').children("input").val(datas[0].DiscountBeginDate);
                $('#DiscountEndDate').children("input").val(datas[0].DiscountEndDate);
                $('#CreateDate').children("input").val(datas[0].CreateDate);
            })
        });

        //貨源清單明細修改檢視
            $(document).on('click', "button[name = 'click2']", function () {
                document.getElementById("btnClose").innerHTML = "關閉";
            let id1 = this.dataset.dc;
            if(id1 == undefined){
                id1 = $(this).parents('tr').find('td:first-child').text();
            }
            $.getJSON("@Url.Action("DetailDtl", "SourceLists")/" + id1, function (datas) {
                $('#ModalTitle').text('檢視請購單資訊');
                $('*[name="da"]').attr('disabled', true);
                $('*[name="dta"]').attr('disabled', false);
                //$('*[id="btnUpdate"]').attr('display', false);
                $('#btnUpdate').show();
                $("#SourceListDtlOID").val(datas[0].SourceListDtlOID);
                $("#SourceListID").val(datas[0].SourceListID);
                $("#QtyDemanded").val(datas[0].QtyDemanded);
                $("#Discount").val(datas[0].Discount);
                                //$('#DiscountBeginDate').datetimepicker({
                //    defaultDate: datas[0].DiscountBeginDate
                //});
                $('#DiscountBeginDate').children("input").val(datas[0].DiscountBeginDate);
                $('#DiscountEndDate').children("input").val(datas[0].DiscountEndDate);
                $('#CreateDate').children("input").val(datas[0].CreateDate);
            })
        });

        //局部更新時取得欄位 位置
        var sell; var sell2; var sell3; var sell4; 
        $(document).on('click', "td", function () {

            var table = $('#dataTable').DataTable();
            var rowss = $(this).closest("tr");  //抓取列
            var celss = $(this).siblings("#qd"); //抓取欄
            var celss2 = $(this).siblings("#d"); //抓取欄
            var celss3 = $(this).siblings("#dbd"); //抓取欄
            var celss4 = $(this).siblings("#ded"); //抓取欄
            sell = table.row(rowss).cell(celss);
            sell2 = table.row(rowss).cell(celss2);
            sell3 = table.row(rowss).cell(celss3);
            sell4 = table.row(rowss).cell(celss4);

        })

        //修改更新
        $('#btnUpdate').click(function () {
            var table = $('#dataTable').DataTable();
            if ($("#QtyPerUnit").val() == '') {
                toastr.error("'*' 為必填欄位", "警告");
            } else {
                var SourceListDtlObj = {
                    SourceListDtlOID: $("#SourceListDtlOID").val(),
                    SourceListID: $("#SourceListID").val(),
                    QtyDemanded: $("#QtyDemanded").val(),
                    Discount: $("#Discount").val(),
                    DiscountBeginDate: $("#DiscountBeginDate2").val(),
                    DiscountEndDate: $("#DiscountEndDate2").val(),
                    CreateDate: $("#CreateDate2").val(),
                }
                $.ajax({
                    url: '@Url.Action("EditDtl", "SourceLists")',
                    dataType: 'json',
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(SourceListDtlObj)
                }).done(function (response) {
                    
                    if (response.status) {
                        toastr.success(response.message, "通知");
                        //sell.data($("#ProcessStatus").find('option:selected').val()).draw();//取得選取的值
                        sell.data($("#QtyDemanded").val()).draw();
                        //sell2.data($("#Discount").val()).draw();
                        sell3.data($("#DiscountBeginDate2").val()).draw();
                        sell4.data($("#DiscountEndDate2").val()).draw();

                        var x = Math.round($("#Discount").val() * 100);
                        var y = x + "%";
                        sell2.data(y).draw();
                    }
                }).fail(function (response) {
                    toastr.error(response.message, "警告");
                })
                $('#purchaserequisitionModal').modal('hide');
            }
        });

    </script>

}

<!--Model-->
<div class="modal fade bd-example-modal-lg" id="purchaserequisitionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalTitle"></h5>
            </div>
            <div class="modal-body">
                <form id="addForm">
                    <div class="form-group">
                        <label class="required" for="SourceListDtlOID">@Html.DisplayNameFor(model => model.SourceListDtlOID)</label>
                        <input type="text" class="form-control" id="SourceListDtlOID" name="da">
                    </div>
                    <div class="form-group">
                        <label class="required" for="SourceListID">@Html.DisplayNameFor(model => model.SourceListID)</label>
                        <input type="text" class="form-control" id="SourceListID" name="da">
                    </div>
                    <div class="form-group">
                        <label class="required" for="QtyDemanded">@Html.DisplayNameFor(model => model.QtyDemanded)</label>
                        <input type="text" class="form-control" id="QtyDemanded" name="dta">
                    </div>
                    <div class="form-group">
                        <label class="required" for="Discount">@Html.DisplayNameFor(model => model.Discount)</label>
                        <input type="text" class="form-control" id="Discount" name="dta">
                    </div>

                    <div class="form-group">
                        <label for="DiscountBeginDate">@Html.DisplayNameFor(model => model.DiscountBeginDate)</label>
                        <div class="input-group date" id="DiscountBeginDate" data-target-input="nearest">
                            <input type="text" id="DiscountBeginDate2" class="form-control datetimepicker-input" data-target="#DiscountBeginDate" data-toggle="datetimepicker"name="dta" />
                            <div class="input-group-append" data-target="#DiscountBeginDate" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="DiscountEndDate">@Html.DisplayNameFor(model => model.DiscountEndDate)</label>
                        <div id="DiscountEndDate" class="input-group date" data-target-input="nearest">
                            <input type="text" id="DiscountEndDate2" class="form-control datetimepicker-input" @*data-target="#PRBeginDate"*@ data-toggle="datetimepicker" name="dta" />
                            <div class="input-group-append" data-target="#DiscountEndDate" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="CreateDate">@Html.DisplayNameFor(model => model.CreateDate)</label>
                        <div id="CreateDate" class="input-group date" data-target-input="nearest">
                            <input type="text" id="CreateDate2" class="form-control datetimepicker-input" @*data-target="#PRBeginDate"*@ data-toggle="datetimepicker" name="da" />
                            <div class="input-group-append" data-target="#CreateDate" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button id="btnClose" type="button" class="btn btn-danger" data-dismiss="modal">關閉</button>
                <button id="btnUpdate" type="button" class="btn btn-success" data-dismiss="modal">修改</button>
                @*<button id="btnSave" type="button" class="btn btn-primary" data-dismiss="modal">新增</button>*@

            </div>
        </div>
    </div>
</div>