@model IEnumerable<PMSAWebMVC.Models.Part>

@{
    ViewBag.Title = "Index";
}


<h2>料件總覽</h2>

<p>
    <button class="btn btn-outline-success btn-lg" id="CreatBtn" data-toggle="tooltip" title="新增料件資料">
        <i class="far fa-edit"></i>新增料件資料
    </button>
</p>

<!-- DataTables Example -->
<div class="card mb-3">
    <div class="card-header">
    </div>
    <br />
    <div class="card-body">
        <div class="table-responsive">
            @*<table class="table table-striped table-bordered" id="dataTable" cellspacing="0" style="width:100%">*@
            <table id="dataTablesId" class="table table-striped hover order-column nowrap text-left" style="width:100%">
                <thead>
                    @*<tr>*@
                    <tr class="bg-primary text-white">
                        @*<th>*@
                        <th data-priority="1">料件編號</th>
                        <th>料件名稱</th>
                        <th>料件規格</th>
                        <th>料件圖片</th>
                        <th>料件單位</th>
                        <th>料件批量</th>
                        <th>料件分類</th>
                        <th>料件新增時間</th>
                        <th data-priority="1">功能</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                        var modalId = "modal-" + item.PartNumber;
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.PartNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PartName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PartSpec)
                            </td>
                            <td>
                                <img style="height:200px; width:200px;" src='@Url.Content(item.PictureAdress)' alt="" />
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.PartUnit.PartUnitName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.QtyPerUnit)
                            </td>
                            <td>
                                @foreach (var gg in item.PartCategoryDtl)
                                {
                                    @Html.DisplayFor(hh => gg.PartCategory.CategoryName)
                                }

                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreatedDate)
                            </td>

                            <td>
                                <div class="table-data-feature">
                                    <button class="btn btn-outline-secondary btn-icon" id="DetailsBtn" data-toggle="tooltip" data-dc="@item.PartNumber" title="檢視">
                                        <i class="far fa-eye"></i>
                                    </button>
                                    <button class="btn btn-outline-secondary btn-icon" id="EditBtn" data-toggle="tooltip" data-dc="@item.PartNumber" title="編輯">
                                        <i class="far fa-edit"></i>
                                    </button>
                                    <button class="btn btn-outline-secondary btn-icon" id="DeleteBtn" data-toggle="tooltip" data-dc="@item.PartNumber" title="刪除">
                                        <i class='far fa-trash-alt'></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>

<!-- Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content qq">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalTitle">Modal title</h5>

            </div>
            <div>
                <br />
                <div class="modal-body">
                    <form action="@Url.Action("Up","Parts")" method="post" id="addForm" enctype="multipart/form-data">
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <label class="required" for="PartNumber">@Html.DisplayNameFor(model => model.PartNumber)</label>
                            <input type="text" class="form-control" id="PartNumber" name="da">
                            <span id="code2" style="color:red"></span>
                        </div>

                        <div class="form-group">
                            <label class="required" for="PartName">@Html.DisplayNameFor(model => model.PartName)</label>
                            <input type="text" class="form-control" id="PartName" name="da">
                            <span id="name2" style="color:red"></span>
                        </div>

                        <div class="form-group">
                            <label class="required" for="PartSpec">@Html.DisplayNameFor(model => model.PartSpec)</label>
                            <input type="text" class="form-control" id="PartSpec" name="dta">
                            <span id="add2" style="color:red"></span>
                        </div>

                        <div class="form-group">
                            <label for="PartUnitName">@Html.DisplayNameFor(model => model.QtyPerUnit)</label>
                            <br />
                            <input type="text" class="form-control" id="QtyPerUnit" name="dta">
                        </div>

                        <div class="form-group">
                            <label for="PartUnitName">@Html.DisplayNameFor(model => model.PartUnit.PartUnitName)</label>
                            <br />
                            <input type="text" class="form-control" id="PartUnitName" name="dta">
                            <div class="col-sm-auto" id="PartUnitName1" style="width:2000px; margin:0px ; padding:0px">
                                @Html.DropDownList("selectlist", new SelectList(new[]
                             {
                                new SelectListItem { Text = "個", Value = "1",Selected=false },
                                new SelectListItem { Text = "條",Value="2",Selected=false },
                                new SelectListItem { Text = "對", Value = "3",Selected=false },
                                new SelectListItem { Text = "座", Value = "4",Selected=false },

                             }, "Value", "Text"),
                             new { id = "PartUnitName2", @class = "form-control" }
                             )
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="PartUnitName">料件分類</label>
                            <br />
                            <input type="text" class="form-control" id="CategoryName" name="dta">
                            <div class="col-sm-auto" id="CategoryName1" style="width:2000px; margin:0px ; padding:0px">
                                @Html.DropDownList("selectlist", new SelectList(new[]
                             {
                                new SelectListItem { Text = "輪組", Value = "1",Selected=false },
                                new SelectListItem { Text = "傳動系統",Value="2",Selected=false },
                                new SelectListItem { Text = "煞車系統", Value = "3",Selected=false },
                                new SelectListItem { Text = "配件裝置", Value = "4",Selected=false },
                                new SelectListItem { Text = "車體裝置", Value = "5",Selected=false }
                             }, "Value", "Text"),
                             new { id ="CategoryName2", @class = "form-control" }
                             )
                            </div>
                        </div>
                        <hr />
                        <div class="form-group">
                            <label for="PartImg">料件圖片</label>
                            <br />
                            <div>
                                <img style="height:200px; width:200px;" id="partImg1" src="" alt="" />
                            </div>
                        </div>
                        <div></div>
                        <div class="form-group" id="partImg2Div">
                            <h3>料件圖片上傳</h3>
                            <img id="partImg2" src="@Url.Content("~/images/NoImage.jpg")" style="width:320px;height:240px" />
                            <br />
                            <br />
                            @*<input type="file"name="PtImgFile" id="PtImgFile" />*@
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroupFileAddon01">檔案</span>
                                </div>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" name="PtImgFile" id="PtImgFile"
                                           aria-describedby="inputGroupFileAddon01">
                                    <label class="custom-file-label" for="inputGroupFile01">選擇檔案</label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group" id="CreatedDateDiv">
                            <label for="CreatedDate">@Html.DisplayNameFor(model => model.CreatedDate)</label>
                            <div class="input-group date" id="CreatedDate" data-target-input="nearest">
                                <input type="text" id="CreatedDate2" class="form-control datetimepicker-input" data-target="#CreatedDate" data-toggle="datetimepicker" name="da" />
                                <div class="input-group-append" data-target="#CreatedDate" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button id="btnClose" type="button" class="btn btn-danger" data-dismiss="modal">取消</button>
                            <button id="btnSave" name="btnSave" type="button" class="btn btn-primary">新增</button>
                            <button id="btnUpdate" name="btnUpdate" type="button" class="btn btn-success">修改</button>
                            <button id="btnDEMO" name="btnDEMO" type="button" class="btn btn-success">DEMO</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section styles
{
    <style>

        .custom-file-input:lang(en) ~ .custom-file-label::after {
            content: "上傳";
        }

        .custom-file-label::after {
            content: "上傳";
        }
    </style>


}


@section scripts
{

    <script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script>
    <script>
        //套用DATATABLE
        $("#dataTablesId").DataTable(
            {
                ordering: true,
                order: []
            }
        );
        //檢視
        $("body").on("click", "#DetailsBtn", function ()
        {
            let id1 = this.dataset.dc;
            if (id1 == undefined)
            {
                id1 = $(this).parents('tr').find('td:first-child').text();
            }
            $.getJSON("@Url.Action("Details","Parts")/" + id1, function (datas) {
                $('#ModalTitle').text('檢視料件資訊');
                $('*[name="da"]').attr('disabled', true);
                $('*[name="dta"]').attr('disabled', true);
                $('#btnSave').hide();
                $('#btnDEMO').hide();
                $('#btnUpdate').hide();
                $("#PartUnitName1").hide();
                $('#CategoryName1').hide();
                $("#partImg2Div").hide();
                $("#partImg1").show();
                $('#PartUnitName').show();
                $('#CategoryName').show();
                $("#CreatedDateDiv").show();
                $("#PartNumber").val(datas[0].PartNumber);
                $("#PartName").val(datas[0].PartName);
                $("#PartSpec").val(datas[0].PartSpec);
                $("#partImg1").attr("src", `/assets/parts/${datas[0].PartNumber}-${datas[0].PartName}.jpg`);
                $("#PartUnitName").val(datas[0].PartUnitName);
                $("#QtyPerUnit").val(datas[0].QtyPerUnit);
                $("#CategoryName").val(datas[0].CategoryName).text();
                $("#CreatedDate2").val(datas[0].CreatedDate);
            });
             $('.modal').modal('show');
        });

         //新增
          $("body").on("click", "#CreatBtn", function ()
          {
              $('#ModalTitle').text('新增料件資料');
              $('*[name="da"]').attr('disabled', false);
              $('*[name="dta"]').attr('disabled', false);
              $('input[name="da"]').val("");
              $('input[name="dta"]').val("");
              $("#PartNumber").val("");
              $("#PartName").val("");
              $("#PartSpec").val("");
              $("#partImg2").attr("src", `/images/NoImage.jpg`);
              $("#PartUnitName").val("");
              $("#QtyPerUnit").val("");
              $("#CategoryName").val("");
              $("#CreatedDate2").val("");
              $('#CategoryName1').show();
              $('#btnSave').show();
              $('#btnDEMO').show();
              $("#partImg2Div").show();
              $("#PartUnitName1").show();
              $("#CreatedDateDiv").hide();
              $('#btnUpdate').hide();
              $("#partImg1").hide();
              $('#PartUnitName').hide();
              $('#CategoryName').hide();
             $('.modal').modal('show');
        });
        //DEMO
        $("#btnDEMO").click(function ()
        {
            $("#PartNumber").val("ART525");
            $("#PartName").val("越野車手把");
            $("#PartSpec").val("22.1MM");
            $("#PartUnitName2").val(3);
            $("#QtyPerUnit").val(40);
            $("#CategoryName2").val(5);

        }); 
        //儲存資料
        $("#btnSave").click(function ()
        {
            $("#CategoryName2").attr('disabled', true);
            var PartNumber = $("#PartNumber").val();
            var PartName = $("#PartName").val();
            var PartSpec = $("#PartSpec").val();
            var PartUnitOID = $("#PartUnitName2").val();
            var QtyPerUnit = $("#QtyPerUnit").val();
            var PartCategoryOID = $("#CategoryName2").val();
            var PtImgFile = $("#PtImgFile")[0].files[0];
            var Jsondata = JSON.stringify(
                {
                    "PartNumber": PartNumber,
                    "PartName": PartName,
                    "PartSpec": PartSpec,
                    "PartUnitOID": PartUnitOID,
                    "QtyPerUnit": QtyPerUnit,
                    "PartCategoryOID": PartCategoryOID,
                    "PtImgFile": PtImgFile
                });
               Swal.fire(
                {
                title: '確定要新增資料嗎?',
                text: "確認後將儲存資料",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor:'#3085d6',
                cancelButtonColor: '#d33',
                cancelButtonText: '取消',
                confirmButtonText: '儲存',
                }
            ).then((result) => {
                if (result.value)
                {
                    $.ajax({
                        url: `@Url.Action("Create", "Parts")`,
                        type: "POST",
                        data: Jsondata,
                        dataType: 'json',
                        contentType: 'application/json; charset=utf-8'

                    }).done(function () {
                        Swal.fire(
                                '儲存成功 !',
                                '此資料已成功新增',
                                'success')

                        }).fail(function () {
                            Swal.fire(
                                '儲存失敗 !',
                                '請確認資料格式是否正確',
                                'error')
                        }).always(function () {
                            setTimeout('A()', 2000);

                        });
                    }
                })
           
            @*$.ajax
            (
                {
                  url: `@Url.Action("Create","Parts")`,
                  type: "POST",
                  data: Jsondata,
                  dataType: 'json',
                  contentType: 'application/json; charset=utf-8'
                }
            ).done(function (data) {

                toastr.success("新增成功", "提示");
                  window.location.reload()
                }).fail(function (err) {
                toastr.success("新增失敗，請輸入正確格式", "警告");
                    
                  })*@

        })
        //修改
        $("body").on("click", "#EditBtn", function ()
        {
            let id1 = this.dataset.dc;
            if (id1 == undefined)
            {
                id1 = $(this).parents('tr').find('td:first-child').text();
            }
            $.getJSON("@Url.Action("Details","Parts")/" + id1, function (datas) {
                $('#ModalTitle').text('檢視料件資訊');
                $('*[name="da"]').attr('disabled', false);
                $('*[name="dta"]').attr('disabled', false);
                $('#CategoryName1').show();
                $('#btnSave').hide();
                $('#btnUpdate').show();
                $("#partImg2Div").show();
                $("#PartUnitName1").show();
                $('#btnDEMO').hide();
                $("#CreatedDateDiv").hide();
                $("#partImg1").hide();
                $('#PartUnitName').hide();
                $('#CategoryName').show();
                $('#CategoryName1').hide();
                $("#PartNumber").val(datas[0].PartNumber);
                $("#PartNumber").attr('disabled', true);
                $("#PartName").val(datas[0].PartName);
                $("#PartName").attr('disabled', true);
                $("#PartSpec").val(datas[0].PartSpec);
                $("#partImg2").attr("src", `/assets/parts/${datas[0].PartNumber}-${datas[0].PartName}.jpg`);
                $("#PartUnitName2").val(datas[0].PartUnitOID);
                $("#QtyPerUnit").val(datas[0].QtyPerUnit);
                $("#CategoryName").val(datas[0].PartCategoryOID).text();
                $("#CategoryName").attr('disabled', true);
                $("#CreatedDate2").val(datas[0].CreatedDate);
            });

             $('.modal').modal('show');
        });
         //修改資料
        $("#btnUpdate").click(function () {
            var PartNumber = $("#PartNumber").val();
            var PartName = $("#PartName").val();
            var PartSpec = $("#PartSpec").val();
            var PartUnitOID = $("#PartUnitName2").val();
            var QtyPerUnit = $("#QtyPerUnit").val();
            var PartCategoryOID = $("#CategoryName2").val();
            var PtImgFile = $("#PtImgFile")[0].files[0];
            var Jsondata = JSON.stringify(
                {
                    "PartNumber": PartNumber,
                    "PartName": PartName,
                    "PartSpec": PartSpec,
                    "PartUnitOID": PartUnitOID,
                    "QtyPerUnit": QtyPerUnit,
                    "PartCategoryOID": PartCategoryOID,
                    "PtImgFile": PtImgFile
                });
            Swal.fire(
                {
                title: '確定修改資料嗎?',
                text: "修改後舊資料將被覆蓋",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor:'#3085d6',
                cancelButtonColor: '#d33',
                cancelButtonText: '取消',
                confirmButtonText: '修改',
                }
            ).then((result) => {
                if (result.value)
                {
                    $.ajax({
                        url: `@Url.Action("Edit", "Parts")`,
                        type: "POST",
                        data: Jsondata,
                        dataType: 'json',
                        contentType: 'application/json; charset=utf-8'

                    }).done(function () {
                        Swal.fire(
                                '修改成功 !',
                                '此資料已完成修改',
                                'success')

                        }).fail(function () {
                            Swal.fire(
                                '修改失敗 !',
                                '請確認資料格式是否正確',
                                'error')
                        }).always(function () {
                            setTimeout('A()', 2000);

                        });
                    }
                })
            @*$.ajax(
                {
                    url: `@Url.Action("Edit", "Parts")`,
                    type: "POST",
                    data: Jsondata,
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8'
                }
                ).done(function (data) {
                    console.log(data)
                    alert("成功");
                    window.location.reload()
                }).fail(function (err) {
                    alert("失敗")
                    console.log(err);
                })*@

        });
        //圖片上傳
        $('#PtImgFile').on('change', function (e) {
                //取得檔案
                var files = e.target.files;
                if (files.length > 0) {
                    if (window.FormData !== undefined) {
                        var data = new FormData();

                        //可上傳多檔案
                        for (var x = 0; x < files.length; x++) {
                            data.append(files[x].name, files[x]);
                        }

                        $.ajax({
                            type: "POST",
                            url: '@Url.Action("UploadByAjax", "Parts")',
                            contentType: false,
                            processData: false,
                            data: data,
                            success: function (result) {
                                console.log(result);
                            },
                            error: function (xhr, status) {
                                console.log("上傳失敗");
                            }
                        });
                    } else {
                        alert("此瀏覽器不支援HTML5檔案上傳");
                    }
                }
            });


        //圖片切換
        $("#PtImgFile").change(function () {
            readURl(this);
        });
        function readURl(input)
        {
            if (input.files && input.files[0])
            {
                var reader = new FileReader();
                reader.onload = function (e)
                {
                    $('#partImg2').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
        //刪除
        $("body").on("click", "#DeleteBtn", function () {
            let id1 = this.dataset.dc;
            if (id1 == undefined) {
                id1 = $(this).parents('tr').find('td:first-child').text();
            }
               Swal.fire({
                title: '確定要刪除 ?',
                text: "刪除後資料將會消失 !",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor:'#3085d6',
                cancelButtonColor: '#d33',
                cancelButtonText: '取消',
                confirmButtonText: '刪除',
            }).then((result) => {
                if (result.value) {
                    $.ajax({
                        url: `@Url.Action("Delete", "Parts")`,
                        type: 'POST',
                        data: { id:id1 }

                    }).done(function () {
                        Swal.fire(
                                '刪除成功 !',
                                '此資料已被刪除',
                                'success')

                        }).fail(function () {
                            Swal.fire(
                                '刪除失敗 !',
                                '此料件已被使用',
                                'error')
                        }).always(function () {
                            setTimeout('A()', 2000);

                        });



                }
            })

            @*$.ajax(
                {
                    type: "POST",
                    url: '@Url.Action("Delete", "Parts")',
                    data: { id: id1 },
                }).done(function () {
                    toastr.success("刪除成功", "提示");
                    window.location.reload();
                }).fail(function () { toastr.error("此料件已新增為貨源清單無法刪除!!", "警告");});*@

        });
        
        $(document).ready(function () {
            $('#dataTable').DataTable();
        });

        $('#myInput').on('keyup', function () {
            table.search(this.value).draw();
        });
        function A() {
            window.location.reload();
        }

        $("a[name='click01']").click(function () {
            Swal.fire({
                title: '確定要刪除 ?',
                text: "刪除後資料將會消失 !",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor:'#3085d6',
                cancelButtonColor: '#d33',
                cancelButtonText: '取消',
                confirmButtonText: '刪除',

            }).then((result) => {
                if (result.value) {

                    let id1 = this.dataset.wc;

                    $.ajax({
                        url: `@Url.Action("Delete", "Parts")`,
                        type: 'POST',
                        data: { id:id1 }

                    }).done(function () {
                        Swal.fire(
                                '刪除成功 !',
                                '此資料已被刪除',
                                'success')

                        }).fail(function () {
                            Swal.fire(
                                '刪除失敗 !',
                                '此料件已被使用',
                                'error')
                        }).always(function () {
                            setTimeout('A()', 2000);

                        });



                }
            })
        });
    </script>


}
