@model PMSAWebMVC.Models.InventoryDtl

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>檢視</h2>

<div>
    <h4>庫存明細</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.InventoryCode)</dt>
        <dd>@Html.DisplayFor(model => model.InventoryCode)</dd>

        <dt>@Html.DisplayNameFor(model => model.WarehouseInfo.WarehouseName)</dt>
        <dd>@Html.DisplayFor(model => model.WarehouseInfo.WarehouseName)</dd>

        <dt>庫存分類名稱</dt>
        <dd>@Html.DisplayFor(model => model.InventoryCategory.InventoryCategoryName)</dd>

        <dt>貨源清單編號</dt>
        <dd>@Html.DisplayFor(model => model.SourceListID)</dd>

        <dt>料件名稱</dt>
        <dd>@Html.DisplayFor(model => model.Part.PartName)</dd>

        <dt> @Html.DisplayNameFor(model => model.UnitsOnStockOutOrder)</dt>
        <dd> @Html.DisplayFor(model => model.UnitsOnStockOutOrder)</dd>

        <dt>@Html.DisplayNameFor(model => model.UnitsOnStockInOrder)</dt>
        <dd>@Html.DisplayFor(model => model.UnitsOnStockInOrder)</dd>

        <dt>@Html.DisplayNameFor(model => model.SafetyQty)</dt>
        <dd>@Html.DisplayFor(model => model.SafetyQty)</dd>

        <dt>@Html.DisplayNameFor(model => model.UnitsInStock)</dt>
        <dd>@Html.DisplayFor(model => model.UnitsInStock)</dd>

        <dt>建檔人員</dt>
        <dd>@Html.DisplayFor(model => model.Employee.Name)</dd>

        <dt> @Html.DisplayNameFor(model => model.CreateDate)</dt>
        <dd>@Html.DisplayFor(model => model.CreateDate)</dd>

        <dt>最後修改人員</dt>
        <dd>@Html.DisplayFor(model => model.Employee1.Name)</dd>

        <dt> @Html.DisplayNameFor(model => model.LastModifiedDate)</dt>
        <dd>@Html.DisplayFor(model => model.LastModifiedDate)</dd>

    </dl>
</div>
<p>
    <a class="btn btn-primary" href='@Url.Action("Edit", new { id = Model.InventoryCode })'>
        <i class="fa fa-edit">修改</i>
    </a>|
    <a class="btn btn-warning" href='@Url.Action("Index")'>
        <i class="fa fa-mail-reply"></i>回列表
    </a>
</p>
