@using PMSAWebMVC.Models
@model IEnumerable<PMSAWebMVC.Models.Product>

@{
    ViewBag.Title = "產品首頁";
}
<style>
    .productImg 
    {
        height: 300px;
    }
    .partImg 
    {
        height: 100px;
        max-width:150px;
    }
    .PP
    {
        border: 1px solid black;
        text-align: center;
    }
    .qq
    {      
        width: 500px;
    }
    .modal-title 
    {
        font-size:x-large;
        font-weight:bold;
    }
    h4 
    {
        font-weight: bold;
    }
</style>
<h2>產品總覽</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="jumbotron">
    <h2>產品總覽</h2>
    <h6><span></span></h6>
</div>
<div class="row">
    @foreach (var product in Model)
    {
        var modalId = "modal-" + product.ProductOID;

        <div class="col-sm-6">
            <div class="img-thumbnail">
                <h3>產品編號:@product.ProductNumber</h3>
                <img class="productImg" src="@Url.Content(product.PictureAdress)" alt="商品圖片" />
                <div class="caption">
                    <p>產品名稱:@product.ProductName</p>
                    <p>
                        <a href="#" class="btn btn-primary" role="button" data-toggle="modal" data-target="#@modalId">詳細資訊</a>
                    </p>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="@modalId" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content qq">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">陸行鳥自行車</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h4>生產產品:</h4>
                        <hr />
                        <dl class="dl-horizontal">

                            <dt>
                                @Html.DisplayNameFor(model => model.ProductNumber)
                            </dt>

                            <dd>
                                @Html.DisplayFor(p => product.ProductNumber)
                            </dd>

                            <dd>
                                <img class="productImg" src="@Url.Content(product.PictureAdress)" alt="商品圖片" />
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.ProductName)
                            </dt>

                            <dd>
                                @Html.DisplayFor(p => product.ProductName)
                            </dd>

                            @*<dt>
            @Html.DisplayNameFor(model => model.PictureAdress)
        </dt>*@

                            <dt>
                                @Html.DisplayNameFor(model => model.PictureDescription)
                            </dt>

                            <dt>
                                產品使用料件:
                            </dt>
                        </dl>
                        
                        <div>
                           
                            @for (int i = 0; i < product.ProductPart.Count; i += 2)
                            {
                                var productPart1 = product.ProductPart.ToArray()[i];
                                var productPart2 = new ProductPart();

                                if (i + 1 < product.ProductPart.Count)
                                {
                                    productPart2 = product.ProductPart.ToArray()[i + 1];
                                }

                                <div class="row">
                                    <div class="col-sm PP">
                                        <div>
                                            @productPart1.Part.PartName
                                        </div>
                                        <img class="partImg" src="@Url.Content(productPart1.Part.PictureAdress)" alt="商品圖片" />
                                    </div>

                                    @if (i + 1 < product.ProductPart.Count)
                                    {
                                        <div class="col-sm PP">
                                            <div>
                                                @productPart2.Part.PartName
                                            </div>
                                            <img class="partImg" src="@Url.Content(productPart2.Part.PictureAdress)" alt="商品圖片" />
                                        </div>
                                    }

                                </div>
                            }


                            @*@foreach (var productPart in product.ProductPart)
            {
                <span>@productPart.Part.PartName</span>
                <img class="partImg" src="@Url.Content(productPart.Part.PictureAdress)" alt="商品圖片" />
            }*@
                        </div>
                    </div>
                    @*<div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>*@
                </div>
            </div>
        </div>
    }
</div>

