@using PMSAWebMVC.Models
@*@model IEnumerable<PMSAWebMVC.Models.Product>*@
@model IEnumerable<PMSAWebMVC.Controllers.ProductsController.ProductsView> 
@{
    ViewBag.Title = "產品首頁";
}
<style>
    .productImg {
        height: 300px;
    }

    .partImg {
        height: 100px;
        max-width: 150px;
    }

    .PP {
        border: 1px solid black;
        text-align: center;
    }

    .qq {
        width: 500px;
    }

    .modal-title {
        font-size: x-large;
        font-weight: bold;
    }

    h4 {
        font-weight: bold;
    }
</style>
<h2>產品總覽</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="jumbotron">
    <h2>產品總覽</h2>
    <h6><span></span></h6>
</div>
<div class="row">
    @foreach (var product in Model)
    {
        var modalId = "modal-" + product.ProductOID;

        <div class="col-sm-6">
            <div class="img-thumbnail">
                <h3>產品編號:@product.ProductNumber</h3>
                <img class="productImg" src="@Url.Content(product.ProductPictureAdress)" alt="商品圖片" />
                <div class="caption">
                    <p>產品名稱:@product.ProductName</p>
                    <p>
                        <a href="#" id="DetailsBtn" class="btn btn-primary" role="button" data-toggle="modal" data-target="#@modalId" data-dc="@product.ProductNumber">詳細資訊</a>
                    </p>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="@modalId" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content qq">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">陸行鳥自行車</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h4>生產產品:</h4>
                        <hr />
                        <dl class="dl-horizontal">

                            <dt>
                                @Html.DisplayNameFor(model => model.ProductNumber)
                            </dt>

                            <dd>
                                @Html.DisplayFor(p => product.ProductNumber)
                            </dd>

                            <dd>
                                <img class="productImg" src="@Url.Content(product.ProductPictureAdress)" alt="商品圖片" />
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.ProductName)
                            </dt>

                            <dd>
                                @Html.DisplayFor(p => product.ProductName)
                            </dd>

                            @*<dt>
                                @Html.DisplayNameFor(model => model.PictureDescription)
                            </dt>*@

                            <dt>
                                產品使用料件:
                            </dt>

                        </dl>
                        <div class="form-group">
                            <label class="required" for="CategoryName1">輪組</label>
                           
                                <img style="height:200px; width:200px;" id="partImg1" src="@Url.Content(product.ProductPartPictureDescription)" alt="" />
                            




                        </div>
                        <div class="form-group">
                            <label class="required" for="PartSpec">傳動系統</label>
                            <img style="height:200px; width:200px;" id="partImg2" src="" alt="" />

                        </div>
                        <div class="form-group">
                            <label class="required" for="PartSpec">煞車系統</label>
                            <img style="height:200px; width:200px;" id="partImg2" src="" alt="" />

                        </div>
                        <div class="form-group">
                            <label class="required" for="PartSpec">配件裝置</label>
                            <img style="height:200px; width:200px;" id="partImg2" src="" alt="" />

                        </div>
                        <div class="form-group">
                            <label class="required" for="PartSpec">車體裝置</label>
                            <img style="height:200px; width:200px;" id="partImg2" src="" alt="" />

                        </div>
                        @*<div>

                            @for (int i = 0; i < product.ProductPart.Count; i += 2)
                            {
                                var productPart1 = product.ProductPart.ToArray()[i];
                                var productPart2 = new ProductPart();

                                if (i + 1 < product.ProductPart.Count)
                                {
                                    productPart2 = product.ProductPart.ToArray()[i + 1];
                                }

                                <div class="row">
                                    <div class="col-sm PP">
                                        <div>
                                            @productPart1.Part.PartName
                                        </div>
                                        <img class="partImg" src="@Url.Content(productPart1.Part.PictureAdress)" alt="商品圖片" />
                                    </div>

                                    @if (i + 1 < product.ProductPart.Count)
                                    {
                                        <div class="col-sm PP">
                                            <div>
                                                @productPart2.Part.PartName
                                            </div>
                                            <img class="partImg" src="@Url.Content(productPart2.Part.PictureAdress)" alt="商品圖片" />
                                        </div>
                                    }

                                </div>*@
                        }


                        @*@foreach (var productPart in product.ProductPart)
                            {
                                <span>@productPart.Part.PartName</span>
                                <img class="partImg" src="@Url.Content(productPart.Part.PictureAdress)" alt="商品圖片" />
                            }*@
                    </div>
                </div>

            </div>
        </div>
        @*</div>*@
    }
</div>

@section scripts
{
    //檢視
    $("#DetailsBtn").on("click" , function ()
    {
    let id1 = this.dataset.dc;
    @*if (id1 == undefined)
        {
        id1 = $(this).parents('tr').find('td:first-child').text();
        }*@
    $.getJSON("@Url.Action("Details", "Products")/" + id1, function (datas) {
    $('#ModalTitle').text('檢視料件資訊');
    $('*[name="da"]').attr('disabled', true);
    $('*[name="dta"]').attr('disabled', true);
    $('#btnSave').hide();
    $('#btnUpdate').hide();
    $("#partImg2Div").hide();
    $("#partImg1").show();
    $('#PartUnitName').show();
    $('#CategoryName').show();
    $("#CreatedDateDiv").show();
    $("#PartNumber").val(datas[0].PartNumber);
    $("#PartName").val(datas[0].PartName);
    $("#PartSpec").val(datas[0].PartSpec);
    $("#partImg1").attr("src", `/assets/parts/${datas[0].PartNumber}-${datas[0].PartName}.jpg`);
    $("#PartUnitName").val(datas[0].PartUnitName);
    $("#QtyPerUnit").val(datas[0].QtyPerUnit);
    $("#CategoryName").val(datas[0].CategoryName).text();
    $("#CreatedDate2").val(datas[0].CreatedDate);
    });
    $('.modal').modal('show');
    });


}