@model PMSAWebMVC.ViewModels.BuyerSupAccount.BuyerSupAcc_Parent

@{
    ViewBag.Title = "新增供應商帳號";
}
@section styles{
    <style>
        @@keyframes fadeinShowBody {
            0% {
                opacity: 0;
            }

            20% {
                opacity: 0.8;
            }

            100% {
                opacity: 1;
            }
        }

        @@keyframes fadeinShow {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }

        body {
            /*animation: 0.3s fadeinShowBody 0.3s both;*/
        }
        /*標題 包在.wrapall中使用*/
        .wrapall h2 {
            font-weight: 500;
            color: #909399;
            letter-spacing: 2px;
            margin-bottom: 0px;
        }

        .wrapall h6 {
            font-size: 13px;
            letter-spacing: 5px;
            margin-left: 3px;
            margin-bottom: 10px;
            font-weight: 500;
            color: #C0C4CC;
        }

        .wrapall h5 {
            margin: 0;
        }

        .wrapall {
            animation: 0.4s fadeinShow 0.3s both;
        }
        /*input ======================*/
        .form-group label {
            margin: 0;
            margin-bottom: 2px;
            /*font-weight: 600;*/
        }

        .disabled {
            background-color: none;
            border: 0;
            font-size: 15px;
            padding: 0;
            padding-left: 2px;
            height: auto;
            color: #909399;
        }

        .row .left, .row .right {
            /*box-shadow: 0 0 3px #909399;*/
            border: 1px solid #E4E7ED;
            background-color: #F4F4F5;
            margin: 10px;
            padding: 20px;
        }

        .supCompanyInfoDiv .form-group {
            background-color: white;
            border: 1px solid #DCDFE6;
            box-shadow: 0 0 2px #DCDFE6;
            border-left: 4px solid #606266;
            padding: 5px;
        }

        .row {
            counter-reset: section;
        }

            .row h4 {
                font-size: 18px;
                margin-bottom: 20px;
                border-bottom: 2px solid #007bff;
                padding-bottom: 5px;
                color: #007bff;
                font-weight: 800 !important;
            }

                .row h4::before {
                    counter-increment: section;
                    display: inline-block;
                    content: counter(section);
                    background-color: #007bff;
                    color: white;
                    font-size: 16px;
                    border-radius: 10px;
                    text-align: center;
                    width: 20px;
                    height: 20px;
                    margin-right: 3px;
                    transform: translateY(-2px)
                }

        .card-header h5 {
            font-size: 18px;
            margin: 0;
        }
    </style>
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="@Url.Action("Index")"><i class="fas fa-user"></i> 供應商帳號總覽</a></li>
        <li class="breadcrumb-item active" aria-current="page">新增供應商帳號</li>
    </ol>
</nav>
<div class="wrapall">
    <h2>新增供應商帳號</h2>
    <h6>新增、啟用/停用</h6>
    <div class="card">
        <div class="card-body">
            <div class="row" style="margin: 12px;">
                <div class="col-lg-5 col-md-11 col-sm-11 mb-3">
                    <h4>先選擇供應商公司</h4>
                    <div class="left" style="margin:0">
                        <select id="SupNameCode" class="form-control col-lg-9">
                            <option selected disabled>---- 請選擇 ----</option>
                        </select>
                        <form class="supCompanyInfoDiv mt-4 fade" action="@Url.Action("CreateSupInfo","BuyerSupAccount")" method="post">
                            <p id="pNoCompany" class="text-danger fade d-none">尚無公司可供新增聯絡人，請先新增公司</p>
                            <div class="form-group">
                                @Html.LabelFor(model => model.SupInfoModel.SupplierName)
                                @Html.TextBoxFor(model => model.SupInfoModel.SupplierName, new { @class = "form-control disabled col-lg-12" })
                                @Html.ValidationMessageFor(m => m.SupInfoModel.SupplierName, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.SupInfoModel.TaxID)
                                @Html.TextBoxFor(model => model.SupInfoModel.TaxID, new { @class = "form-control disabled col-lg-12" })
                                @Html.ValidationMessageFor(m => m.SupInfoModel.TaxID, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.SupInfoModel.Address)
                                @Html.TextBoxFor(model => model.SupInfoModel.Address, new { @class = "form-control disabled col-lg-12" })
                                @Html.ValidationMessageFor(m => m.SupInfoModel.Address, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.SupInfoModel.Email)
                                @Html.TextBoxFor(model => model.SupInfoModel.Email, new { @class = "form-control disabled col-lg-12" })
                                @Html.ValidationMessageFor(m => m.SupInfoModel.Email, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.SupInfoModel.Tel)
                                @Html.TextBoxFor(model => model.SupInfoModel.Tel, new { @class = "form-control disabled col-lg-12" })
                                @Html.ValidationMessageFor(m => m.SupInfoModel.Tel, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.SupInfoModel.SupplierRatingOID)
                                @Html.DropDownListFor(model => model.SupInfoModel.SupplierRatingOID,new List<SelectListItem>() { new SelectListItem() { Text = "1", Value = "1", Selected = true },
                                                                                                                                 new SelectListItem() { Text = "2", Value = "2", Selected = false },
                                                                                                                                 new SelectListItem() { Text = "3", Value = "3", Selected = false },
                                                                                                                                        }, new { @class = "form-control col-lg-12" })
                            </div>
                            <button id="btnNoCompany" type="submit" class="btn btn-primary fade">確認新增公司</button>
                        </form>
                    </div>
                </div>
                <div class="col-lg-5 col-md-11 col-sm-11">
                    <h4>再新增供應商帳號</h4>
                    <div class="right" style="margin:0">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <form action="@Url.Action("Create","BuyerSupAccount")" method="post">
                            <div class="form-group">
                                @Html.LabelFor(model => model.BuyerSupAccount_CreateViewModel.SupplierCode)
                                @Html.TextBoxFor(model => model.BuyerSupAccount_CreateViewModel.SupplierCode, new { @class = "form-control disabled col-lg-6" })
                                @Html.ValidationMessageFor(m => m.BuyerSupAccount_CreateViewModel.SupplierCode, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.BuyerSupAccount_CreateViewModel.SupplierName)
                                @Html.TextBoxFor(model => model.BuyerSupAccount_CreateViewModel.SupplierName, new { @class = "form-control disabled col-lg-6" })
                                @Html.ValidationMessageFor(m => m.BuyerSupAccount_CreateViewModel.SupplierName, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.BuyerSupAccount_CreateViewModel.ContactName)
                                @Html.TextBoxFor(model => model.BuyerSupAccount_CreateViewModel.ContactName, new { @class = "form-control col-lg-6" })
                                @Html.ValidationMessageFor(m => m.BuyerSupAccount_CreateViewModel.ContactName, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.BuyerSupAccount_CreateViewModel.Email)
                                @Html.TextBoxFor(model => model.BuyerSupAccount_CreateViewModel.Email, new { @class = "form-control col-lg-6" })
                                @Html.ValidationMessageFor(m => m.BuyerSupAccount_CreateViewModel.Email, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.BuyerSupAccount_CreateViewModel.Mobile)
                                @Html.TextBoxFor(model => model.BuyerSupAccount_CreateViewModel.Mobile, new { @class = "form-control col-lg-6" })
                                @Html.ValidationMessageFor(m => m.BuyerSupAccount_CreateViewModel.Mobile, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.BuyerSupAccount_CreateViewModel.Tel)
                                @Html.TextBoxFor(model => model.BuyerSupAccount_CreateViewModel.Tel, new { @class = "form-control col-lg-6" })
                                @Html.ValidationMessageFor(m => m.BuyerSupAccount_CreateViewModel.Tel, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <div class="editAcc">
                                    <label class="d-block">
                                        編輯帳號狀態
                                    </label>
                                    <div class="setAcc">
                                        <span>
                                            <label for="AccountStatusSwitch">
                                                停用
                                            </label>
                                        </span>
                                        <span class="custom-control custom-switch d-inline-block">
                                            <span>
                                                <input type="checkbox" name="AccStatus" class="custom-control-input" id="AccountStatusSwitch">
                                                <label class="custom-control-label" for="AccountStatusSwitch">
                                                    啟用
                                                </label>
                                            </span>
                                        </span>
                                    </div>
                                    <div id="lert" class="alert alert-warning fade" role="alert" style="font-size: 16px; padding: 5px">
                                        <strong>注意!</strong>啟用將直接 Emial 帳密給此供應商聯絡人
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">確認新增</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script>
        $.getJSON(
            '@Url.Action("getAllSupInfoNoContactOnlySupInfoToIndexAjax")',
            function (data) {
                data.forEach(x => {
                    $("#SupNameCode").append(`<option value="${x.SupplierCode}">${x.SupplierName} (${x.SupplierCode})</option>`);
                })
                console.log(data)
                //NoCompany
                if (data.length == 0) {
                    $(".supCompanyInfoDiv").addClass("show");
                    //form-group
                    $(".supCompanyInfoDiv .form-group input").removeClass("disabled");
                    $("#SupInfoModel_SupplierCode").focus();
                    //pNoCompany
                    $("#pNoCompany").removeClass('d-none').addClass("show");
                    $("#btnNoCompany").addClass("show");
                }
            }
        )
        $("#SupNameCode").change(function () {
            console.log($("#SupNameCode").val())
        $.getJSON(
            '@Url.Action("getSupInfoBySupCodeToIndexAjax")',
            { id: $("#SupNameCode").val()},
            function (data) {
                console.log(data)
                data.forEach(x => {
                    $("#SupInfoModel_SupplierCode").val(x.SupplierCode);
                    $("#SupInfoModel_SupplierName").val(x.SupplierName);
                    $("#SupInfoModel_TaxID").val(x.TaxID);
                    $("#SupInfoModel_Address").val(x.Address);
                    $("#SupInfoModel_Email").val(x.Email);
                    $("#SupInfoModel_Tel").val(x.Tel);
                    $("#SupInfoModel_SupplierRatingOID").val(x.SupplierRatingOID);
                    //BuyerSupAccount_CreateViewModel_SupplierCode
                    $("#BuyerSupAccount_CreateViewModel_SupplierCode").val(x.SupplierCode);
                    $("#BuyerSupAccount_CreateViewModel_SupplierName").val(x.SupplierName);
                })
                $(".supCompanyInfoDiv").addClass("show");
                $("#BuyerSupAccount_CreateViewModel_ContactName").focus();
            }
        )
        });
        $(".left form button[type='submit']").submit(function () {
            console.log("hi")
            console.log($(".right form").serializeArray())
        })

        $(".right form button[type='submit']").submit(function () {
            console.log("hi")
            console.log($(".right form").serializeArray())
        })

        $(document).ready(function () {
            if ($('#AccountStatusSwitch').prop('checked') == true) {
                $('#lert').addClass('show');
            } else {
                $('#lert').removeClass('show');
            }
            $('#AccountStatusSwitch').change(() => {
                console.log("sssss")
                if ($('#AccountStatusSwitch').prop('checked') == true) {
                    $('#lert').addClass('show');
                } else {
                    $('#lert').removeClass('show');
                }
            })
        })
    </script>
}