@model PMSAWebMVC.ViewModels.BuyerSupAccount.BuyerSupAccountViewModel

@{
    ViewBag.Title = "管理供應商帳號";
    var SuccessMsg = TempData["Success"];
}

@section styles
{

    <style>
        @@keyframes fadeinShowBody {
            0% {
                opacity: 0;
            }

            20% {
                opacity: 0.8;
            }

            100% {
                opacity: 1;
            }
        }

        @@keyframes fadeinShow {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }

        table.dataTable tbody th, table.dataTable tbody td {
            vertical-align: middle;
        }

        body {
            /*animation: 0.3s fadeinShowBody 0.3s both;*/
        }
        /*標題 包在.wrapall中使用*/
        .wrapall h2 {
            font-weight: 500;
            color: #909399;
            letter-spacing: 2px;
            margin-bottom: 0px;
        }

        .wrapall h6 {
            font-size: 13px;
            letter-spacing: 5px;
            margin-left: 3px;
            margin-bottom: 10px;
            font-weight: 500;
            color: #C0C4CC;
        }

        .wrapall {
            animation: 0.4s fadeinShow 0.3s both;
        }

        /*===================sorting*/
        table.dataTable.order-column tbody tr > .sorting_1, table.dataTable.order-column tbody tr > .sorting_2, table.dataTable.order-column tbody tr > .sorting_3, table.dataTable.display tbody tr > .sorting_1, table.dataTable.display tbody tr > .sorting_2, table.dataTable.display tbody tr > .sorting_3 {
            background-color: transparent;
            border-left: 2px solid #28A2FC !important;
        }

        /*================*/
        table.table th, table.table td {
            padding-top: 0.8rem;
            padding-bottom: 0.7rem;
        }

        table.dataTable tbody th, table.dataTable tbody td {
            /* padding: 8px 10px; */
            padding: 12px;
        }

        table.dataTable.dtr-column > tbody > tr > td.control:before {
            top: calc( 60% - 1px);
        }

        table.dataTable {
            border-collapse: collapse !important;
            /*border: 0;*/
        }

        th {
            background-color: #28A2FC;
            color: white;
            /*border: 0px;*/
            box-sizing: border-box;
        }

        .table-bordered th, .table-bordered td {
            /*border: 0px;*/
        }

        .table thead th {
            border-bottom: 4px double #28A2FC;
        }

        tbody tr {
            border-bottom: 1px solid #E4E7ED;
        }

        button i {
            margin-top: 0px !important;
        }
        /*input ======================*/
        .form-group label {
            margin: 0;
            margin-bottom: 2px;
            font-weight: 600;
        }

        .disabled {
            background-color: none;
            border: 0;
            font-size: 15px;
            padding: 0;
            padding-left: 2px;
            height: auto;
            color: #909399;
        }

        .btn.btn-outline-secondary {
            margin-right: 10px;
        }
        /*badge ============*/
        td h5 {
            margin: 0;
            display: flex;
            align-items: center;
        }
        /*========*/
        #Role .custom-control-label {
            font-weight: 500 !important;
            margin-top: 5px !important;
        }

        .editAcc span label {
            font-weight: 500 !important;
        }

        .editAcc label.d-block {
            margin-bottom: 5px !important;
        }

        .editAcc {
            margin-top: 20px;
        }

        .set {
            /*border: 3px double gray !important;*/
            box-shadow: 0 0 3px #aaa;
            margin-right: 10px;
            padding: 10px;
            /*border-radius: 10px;*/
            -webkit-touch-callout: none; /* iOS Safari */
            -webkit-user-select: none; /* Safari */
            -khtml-user-select: none; /* Konqueror HTML */
            -moz-user-select: none; /* Old versions of Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
        }

        .modal-header {
            background-color: #eee;
        }

        .modal-footer {
            background-color: #eee;
        }

        .card-header {
            display: flex;
            flex-direction: row;
            padding: 0;
        }

            .card-header h5 {
                font-size: 18px;
                margin: 0;
            }

        .card-body {
            padding-top: 0px;
        }

        #All.tag,
        #Non.tag {
            box-shadow: none;
            outline: none !important;
            border-bottom: 2px solid #28A2FC;
            background-color: #E4E7ED;
        }

            #All.tag::before,
            #Non.tag::before {
                content: '';
                display: inline-block;
                width: 10px;
                height: 10px;
                border-radius: 5px;
                background-color: #67C23A;
                margin-right: 10px;
            }
        .btn-outline-secondary {
            border-color: transparent !important;
        }

        .table thead th {
            border-bottom: 3px double #28A2FC;
        }
    </style>
}
<div class="wrapall">
    <h2>供應商帳號管理</h2>
    <h6>查詢、啟用供應商帳號、重寄密碼</h6>

    <a class="btn btn-warning mb-3" href="@Url.Action("Create","BuyerSupAccount")"><i class="fas fa-user-plus"></i> 新增帳號</a>

    <div class="card">
        <div class="card-header">
            @if (User.IsInRole("Manager"))
            {
                <button type="button" id="All" style="height: 50px; width:100%; justify-content: center; border-right: 1px solid #E4E7ED; border-radius: 0;" class="btn col-md-6 tag">
                    <i class="fas fa-user-friends"></i>
                    供應商帳號總覽
                </button>
                <button type="button" id="Non" style="height: 50px; width:100%; justify-content: center; border-radius: 0;" class="btn col-md-6">
                    <i class="fas fa-user-tag"></i>
                    專屬供應商帳號總覽
                </button>
            }
            else
            {
                <h5 style="font-size: 16px; margin: 15px; padding-left: 10px;">
                    <i class="fas fa-user-tag"></i>
                    專屬供應商帳號總覽
                </h5>
            }
        </div>
        <div class="card-body">
            <div class="table-responsive" style="width:98%; padding: 10px">
                <table class="table table-striped table-border nowrap hover" id="Table" style="width:100%;">
                    <thead>
                        <tr role="row">
                            <th data-priority="1"></th>
                            <th>
                                @Html.DisplayNameFor(model => model.SupplierCode)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.SupplierName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.SupplierAccountID)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ContactName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Email)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.AccountStatus)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CreatorEmployeeID)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Mobile)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Tel)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ModifiedDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CreateDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.SendLetterDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.LastPasswordChangedDate)
                            </th>
                            <th data-priority="1">動作</th>
                        </tr>
                    </thead>
                    <tbody id="tb"></tbody>
                </table>
            </div>
        </div>
        <div class="card-footer small text-muted"></div>
    </div>
</div>
<!-- 修改 Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">供應商帳號資料</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="editOfSupform" action="@Url.Action("updateEmployeeUsersAtIndex","UsersAdmin")" method="post">
                @Html.AntiForgeryToken()
                <div class="modal-body m-1 ml-lg-3 mr-lg-3">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="row">
                                <!--- 左2 --->
                                <div class="col-12 col-sm-6">
                                    <div class="row">
                                        <div class="col-4 col-sm-3">
                                            <h1 style="transform: translateY(-4px)"><i class="far fa-id-card"></i></h1>
                                        </div>
                                        <!------>
                                        <div class="col-8 col-sm-9">
                                            <div class="emp">
                                                <div class="form-group">
                                                    <label for="ContactName">
                                                        @Html.DisplayNameFor(model => model.ContactName)
                                                    </label>
                                                    <input type="text" class="form-control disabled" name="ContactName" id="ContactName" value="">
                                                </div>
                                                <div class="form-group">
                                                    <label for="SupplierAccountID">
                                                        @Html.DisplayNameFor(model => model.SupplierAccountID)
                                                    </label>
                                                    <input type="text" class="form-control disabled" name="SupplierAccountID" id="SupplierAccountID" value="">
                                                </div>
                                                <div class="form-group">
                                                    <label for="Email">
                                                        @Html.DisplayNameFor(model => model.Email)
                                                    </label>
                                                    <input type="text" class="form-control disabled" name="Email" id="Email" value="">
                                                </div>
                                                <div class="form-group">
                                                    <label for="Mobile">
                                                        @Html.DisplayNameFor(model => model.Mobile)
                                                    </label>
                                                    <input type="text" class="form-control disabled" name="Mobile" id="Mobile" value="">
                                                </div>
                                                <div class="form-group">
                                                    <label for="Tel">
                                                        @Html.DisplayNameFor(model => model.Tel)
                                                    </label>
                                                    <input type="text" class="form-control disabled" name="Tel" id="Tel" value="">
                                                </div>
                                                <!------>
                                                <div class="send">
                                                    <hr />
                                                    <div class="form-group">
                                                        <label for="SendLetterDate">
                                                            @Html.DisplayNameFor(model => model.SendLetterDate)
                                                        </label>
                                                        <input type="text" class="form-control disabled" name="SendLetterDate" id="SendLetterDate">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="LastPasswordChangedDate">
                                                            @Html.DisplayNameFor(model => model.LastPasswordChangedDate)
                                                        </label>
                                                        <input type="text" class="form-control disabled" name="LastPasswordChangedDate" id="LastPasswordChangedDate">
                                                    </div>
                                                </div>
                                            </div>
                                            <!------>
                                        </div>
                                    </div>
                                </div>
                                <!--- 右2 --->
                                <div class="col-12 col-sm-6">
                                    <div class="row">
                                        <div class="col-4 col-sm-3">
                                            <h2 style="transform: translateY(5px)"><i class="fas fa-user-clock"></i></h2>
                                        </div>
                                        <!------>
                                        <div class="col-8 col-sm-9">
                                            <div class="Acc">
                                                <div class="form-group">
                                                    <label for="AccountStatus">
                                                        @Html.DisplayNameFor(model => model.AccountStatus)
                                                    </label>
                                                    <div id="AccountStatus"></div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="ModifiedDate">
                                                        @Html.DisplayNameFor(model => model.ModifiedDate)
                                                    </label>
                                                    <input type="text" class="form-control disabled" name="ModifiedDate" id="ModifiedDate">
                                                </div>
                                                <div class="form-group">
                                                    <label for="CreateDate">
                                                        @Html.DisplayNameFor(model => model.CreateDate)
                                                    </label>
                                                    <input type="text" class="form-control disabled" name="CreateDate" id="CreateDate">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="set row">
                                        <div class="col-4 col-sm-3">
                                            <h2 style="transform: scale(1.1)"><i class="fas fa-cog"></i></h2>
                                        </div>
                                        <div class="col-8 col-sm-9">
                                            <div class="form-group">
                                                <div class="editAcc">
                                                    <label class="d-block">
                                                        編輯帳號狀態
                                                    </label>
                                                    <div class="setAcc">
                                                        <span>
                                                            <label for="AccountStatusSwitch">
                                                                停用
                                                            </label>
                                                        </span>
                                                        <span class="custom-control custom-switch d-inline-block">
                                                            <span>
                                                                <input type="checkbox" name="AccStatus" class="custom-control-input" id="AccountStatusSwitch">
                                                                <label class="custom-control-label" for="AccountStatusSwitch">
                                                                    啟用
                                                                </label>
                                                            </span>
                                                        </span>
                                                    </div>
                                                    <div id="lert" class="alert alert-warning fade" role="alert" style="font-size: 12px; padding: 5px">
                                                        <strong>注意!</strong>角色會重設為<strong>新進職員</strong>
                                                    </div>
                                                    <div id="sendResetMaildiv" class="custom-control custom-checkbox d-inline-block fade">
                                                        <input type="checkbox" class="custom-control-input" id="sendResetMail" name="sendResetMail">
                                                        <label class="custom-control-label" for="sendResetMail">將啟用帳戶，要重設密碼並寄 Email 嗎?</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-primary" id="updateConfirm" data-dismiss="modal">確定修改</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts{
    @if (User.IsInRole("Manager"))
    {
<script type="text/javascript">
        var url = '@Url.Action("getAllSupAccToIndexAjax", "BuyerSupAccount")';
        $("#Table").ready(() => {
            var columns = [];
            columns = [
                {
                    "data": null,
                    "defaultContent": ""
                },
                { "data": "SupplierCode" },
                { "data": "SupplierName" },
                { "data": "SupplierAccountID" },
                { "data": "ContactName" },
                {
                    "data": "Email",
                    "render": function (d) {
                        if (d == null) {
                            return "-";
                        }
                        return d;
                    }
                },
                {
                    "data": "AccountStatus",
                    "render": function (d) {
                        if (d == null) {
                            return "-";
                        } else if (d == "D") {
                            return `<h5><span class="badge badge-danger">停用</span></h5>`
                        } else if (d == "E") {
                            return `<h5><span class="badge badge-primary">啟用</span></h5>`
                        } else if (d == "R") {
                            return `<h5><span class="badge badge-warning">重設</span></h5>`
                        }
                        return d;
                    }
                },
                {
                    "data": "CreatorEmployeeID",
                    "render": function (d) {
                        if (d == null) {
                            return "-";
                        }
                        return d;
                    }
                },
                {
                    "data": "Mobile",
                    "render": function (d) {
                        if (d == null) {
                            return "-";
                        }
                        return d;
                    }
                },
                {
                    "data": "Tel",
                    "render": function (d) {
                        if (d == null) {
                            return "-";
                        }
                        return d;
                    }
                },
                {
                    "data": "ModifiedDate",
                    "render": function (d) {
                        if (d == null) {
                            return "-";
                        } else {
                            var str = d.slice(1, 20);
                            d = str.split("T").join(" ");
                        }
                        return d;
                    }
                },
                {
                    "data": "CreateDate",
                    "render": function (d) {
                        if (d == null) {
                            return "-";
                        } else {
                            var str = d.slice(1, 20);
                            d = str.split("T").join(" ");
                        }
                        return d;
                    }
                },
                {
                    "data": "SendLetterDate",
                    "render": function (d) {
                        if (d == null) {
                            return "-";
                        } else {
                            var str = d.slice(1, 20);
                            d = str.split("T").join(" ");
                        }
                        return d;
                    }
                },
                {
                    "data": "LastPasswordChangedDate",
                    "render": function (d) {
                        if (d == null) {
                            return "-";
                        } else {
                            var str = d.slice(1, 20);
                            d = str.split("T").join(" ");
                        }
                        return d;
                    },
                    "defaultContent": "-"
                },
                {
                    "data": "actionbtn",
                    "orderable": false,
                    "render": function () {
                        var frag = $(document.createDocumentFragment());
                        var str = `
                                <button class="btn editBtn btn-outline-secondary btn-icon" data-toggle="tooltip" title="啟用停用"><i class="far fa-edit"></i></button>
                                <button class="btn deleteBtn btn-outline-secondary btn-icon" data-toggle="tooltip" title="重設密碼"><i class="far fa-envelope"></i></button>`
                        frag.append(str);
                        $("td.action-btn").html(frag);
                    }
                }
            ];
            var oTable = $('#Table').DataTable({
                dom: "<'row'<'col-sm-12 col-md-5 mb-2 mt-2'B>><'row'<'col-sm-12 col-md-5'l><'col-sm-12 col-md-7'f>><t><'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
                buttons: [
                    'copy', 'csv', 'excel', 'print',
                    // {
                    //        text: '匯入 Excel',
                    //        attr:  {
                    //            "data-toggle": 'modal',
                    //            "data-target": '#importModal'
                    //        }
                    //}
                ],
                language: {
                    buttons: {
                        copy: "複製",
                        print: "列印",
                        copyTitle: '已複製到剪貼簿',
                        copySuccess: {
                            _: '%d 行已複製',
                            1: '1 行已複製'
                        }
                    }
                },
                ordering: true,
                //預設第1欄會有排序按鈕，需指定其他排序欄位才會消失
                order: [],
                responsive: {
                    details: {
                        type: 'column',
                        target: 0
                    }
                },
                "columnDefs": [{
                        className: 'control',
                        orderable: false,
                        targets: 0
                    },
                    {
                        defaultContent: `
                                <button class="btn editBtn btn-outline-secondary btn-icon" data-toggle="tooltip" title="啟用停用"><i class="far fa-edit"></i></button>
                                <button class="btn deleteBtn btn-outline-secondary btn-icon" data-toggle="tooltip" title="重設密碼"><i class="far fa-envelope"></i></button>`,
                        orderable: false,
                        className: 'action-btn',
                        targets: -1
                    },
                ],
                "ajax": {
                    "url": url,
                    "type": "GET",
                    "dataSrc": ""
                },
                "columns": columns
                },
            )
            oTable.column(-1).visible(false);

            $("#Non").click(() => {
                    oTable.column(-1).visible(true);
                oTable.ajax.url('@Url.Action("getManagerAllSupAccToIndexAjax", "BuyerSupAccount")').load();
            })
            $("#All").click(() => {
                oTable.ajax.url(url).load();
                oTable.column(-1).visible(false);
            })
            //抓 table 裡按鈕請 如此 $("tbody").on()
            $("tbody").on('click', '.editBtn', function (e) {

                //SupAccID
                console.log($(this).closest('tr').find('td:eq(1)').find('td').remove().end().text());
                $.getJSON(
                    '@Url.Action("getAllSupAccBySupCodeToIndexAjax")',
                    { id: $(this).closest('tr').find('td:eq(1)').find('td').remove().end().text() },
                    function(x){
                        console.log(x)
                        $("#ContactName").val(x.ContactName);
                        $("#SupplierAccountID").val(x.SupplierAccountID);
                        $("#Email").val(x.Email);
                        $("#Mobile").val(x.Mobile);
                        $("#Tel").val(x.Tel);
                        $("#ModifiedDate").val(x.ModifiedDate == null ? '-' : () => { var str = x.ModifiedDate.slice(1, 20); x.ModifiedDate = str.split("T").join(" "); return x.ModifiedDate });
                        $("#CreateDate").val(x.CreateDate == null ? '-' : () => { var str = x.CreateDate.slice(1, 20); x.CreateDate = str.split("T").join(" "); return x.CreateDate });
                        $("#SendLetterDate").val(x.SendLetterDate == null ? '-' : () => { var str = x.SendLetterDate.slice(1, 20); x.SendLetterDate = str.split("T").join(" "); return x.SendLetterDate });
                        $("#LastPasswordChangedDate").val(x.LastPasswordChangedDate == null ? '-' : () => { var str = x.LastPasswordChangedDate.slice(1, 20); x.LastPasswordChangedDate = str.split("T").join(" "); return x.LastPasswordChangedDate });
                        function getAccountStatus() {
                            if (x.AccountStatus == null) {
                                return "-";
                            } else if (x.AccountStatus == "D") {
                                $("#AccountStatusSwitch").prop('checked', false);
                                return `<h5><span class="badge badge-danger">停用</span></h5>`
                            } else if (x.AccountStatus == "E") {
                                $("#AccountStatusSwitch").prop('checked', true);
                                return `<h5><span class="badge badge-primary">啟用</span></h5>`
                            } else if (x.AccountStatus == "R") {
                                $("#AccountStatusSwitch").prop('checked', true);
                                return `<h5><span class="badge badge-warning">重設</span></h5>`
                            }
                        }
                        $("#AccountStatus").html(getAccountStatus());
                    })

                $('#editModal').modal('show');
                //post 修改 sa 資料
                var doPost = $('#updateConfirm').click(function (e) {
                    //防止當掉時重複按
                    $(this).off('click', doPost);
                    e.preventDefault();
                    var formData = {
                        __RequestVerificationToken: $('#editOfSupform').serializeArray()[0].value,
                        SupId: $('#editOfSupform').serializeArray()[2].value,
                        AccStatus: $('input[name="AccStatus"]').prop("checked"),
                        sendResetMail: $('#sendResetMail').prop("checked")
                    }
                    console.log(formData)
                    //console.log(formData) 不知為啥這裡會重複提交
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("updateSupAccUsersAtIndex", "BuyerSupAccount")',
                        data: formData,
                        success: function (result) {
                                    toastr.options = {
                                      "closeButton": true,
                                      "debug": false,
                                      "newestOnTop": false,
                                      "progressBar": false,
                                      "positionClass": "toast-top-right",
                                      "preventDuplicates": false,
                                      "onclick": null,
                                      "showDuration": "300",
                                      "hideDuration": "1000",
                                      "timeOut": "5000",
                                      "extendedTimeOut": "1000",
                                      "showEasing": "swing",
                                      "hideEasing": "linear",
                                      "showMethod": "fadeIn",
                                      "hideMethod": "fadeOut"
                                    }
                                    toastr.success(`${formData.SupId} 更新成功!`)
                            //更新datatable
                            oTable.ajax.reload();
                        },
                        error: function (result) {
                                    toastr.options = {
                                        "closeButton": true,
                                        "debug": false,
                                        "newestOnTop": false,
                                        "progressBar": false,
                                        "positionClass": "toast-top-right",
                                        "preventDuplicates": false,
                                        "onclick": null,
                                        "showDuration": "300",
                                        "hideDuration": "1000",
                                        "timeOut": "5000",
                                        "extendedTimeOut": "1000",
                                        "showEasing": "swing",
                                        "hideEasing": "linear",
                                        "showMethod": "fadeIn",
                                        "hideMethod": "fadeOut"
                                    }
                                    toastr.error(`${formData.SupId} 更新失敗，請檢查網路連線後再試一次。`)
                            console.log(result)
                        }
                    })
                })
            })

            //重設密碼寄信按鈕
            $("tbody").on('click', '.deleteBtn', function (e) {
                console.log(e.currentTarget);
                console.log($(this).closest('tr').find('td:eq(3)').find('td').remove().end().text() )
                var supId = $(this).closest('tr').find('td:eq(3)').find('td').remove().end().text();
                Swal.fire({
                  title: `重設帳號: ${supId} ?`,
                  text: "確定後將重設密碼並寄出帳密",
                  type: 'warning',
                  showCancelButton: true,
                  confirmButtonColor: '#28A2FC',
                  cancelButtonColor: '#E8296C',
                    confirmButtonText: '確定發送',
                    cancelButtonText: '取消'
                }).then((result) => {
                  if (result.value) {  $.ajax({
                    type: "POST",
                    url: '@Url.Action("sendMail", "BuyerSupAccount")',
                    data: { Id: supId },
                    success: function (result) {
                            toastr.options = {
                              "closeButton": true,
                              "debug": false,
                              "newestOnTop": false,
                              "progressBar": false,
                              "positionClass": "toast-top-right",
                              "preventDuplicates": false,
                              "onclick": null,
                              "showDuration": "300",
                              "hideDuration": "1000",
                              "timeOut": "5000",
                              "extendedTimeOut": "1000",
                              "showEasing": "swing",
                              "hideEasing": "linear",
                              "showMethod": "fadeIn",
                              "hideMethod": "fadeOut"
                            }
                            toastr.success(`${supId} 發送成功!`)
                            //更新datatable
                            oTable.ajax.reload();
                        },
                        error: function (result) {
                            toastr.options = {
                                "closeButton": true,
                                "debug": false,
                                "newestOnTop": false,
                                "progressBar": false,
                                "positionClass": "toast-top-right",
                                "preventDuplicates": false,
                                "onclick": null,
                                "showDuration": "300",
                                "hideDuration": "1000",
                                "timeOut": "5000",
                                "extendedTimeOut": "1000",
                                "showEasing": "swing",
                                "hideEasing": "linear",
                                "showMethod": "fadeIn",
                                "hideMethod": "fadeOut"
                            }
                            toastr.error('發送失敗，請檢查網路連線後再試一次。')
                            console.log(result)
                        }
                    })
                    Swal.fire({
                      title: `已發送!`,
                      text: `已將 ${supId} 重設密碼發送至該信箱`,
                      type: 'success',
                      confirmButtonColor: '#28A2FC'
                    })
                  }
                })
            })
        });

        $("#All").click(function (e) {
            $(this).addClass("tag");
            $("#Non").removeClass("tag");
        })
        $("#Non").click(function (e) {
            $(this).addClass("tag");
            $("#All").removeClass("tag");
        })
        $(document).ready(function () {
            var SuccessMsg = '@SuccessMsg'
            if(SuccessMsg){
                toastr.options = {
                    "closeButton": true,
                    "debug": false,
                    "newestOnTop": false,
                    "progressBar": false,
                    "positionClass": "toast-top-right",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "timeOut": "5000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                }
                toastr.success(SuccessMsg)
            }

            $('#AccountStatusSwitch').change(() => {
                if ($('#AccountStatusSwitch').prop('checked') == false) {
                    $('#lert').addClass('show');
                    //$('#sendResetMaildiv').addClass('d-none');
                    //$('#sendResetMaildiv').removeClass('d-inline-block');
                    $('#sendResetMaildiv').removeClass('show');
                } else {
                    $('#lert').removeClass('show');
                    //$('#sendResetMaildiv').removeClass('d-none');
                    $('#sendResetMaildiv').addClass('show');
                    //$('#sendResetMaildiv').addClass('d-inline-block');
                }
            })

            //防止重複ajax......
            var pendingRequests = {};
            // 所有ajax請求的通用前置filter
            $.ajaxPrefilter(function (options, originalOptions, jqXHR) {
                var key = generatePendingRequestKey(options);
                //請求是否已經存在
                if (!pendingRequests[key]) {
                    storePendingRequest(key, jqXHR);
                } else {
                    //如果ajax請求已經存在，下一次相同的請求則取消，防止重複請求
                    jqXHR.abort();
                }
                //ajax請求完成時，從臨時物件中清除請求對應的資料
                var complete = options.complete;
                options.complete = function (jqXHR, textStatus) {
                    //延時1000毫秒刪除請求資訊，表示同Key值請求不能在此時間段內重複提交
                    setTimeout(function () {
                        delete pendingRequests[jqXHR.pendingRequestKey];
                    }, 1000);
                    if ($.isFunction(complete)) {
                        complete.apply(this, arguments);
                    }
                }
                /**
                * 將ajax請求儲存到臨時物件中，用於根據key判斷請求是否已經存在
                */
                function storePendingRequest(key, jqXHR) {
                    pendingRequests[key] = jqXHR;
                    jqXHR.pendingRequestKey = key;
                }
                /**
                * 根據ajax請求引數構建一個臨時儲存key,此處簡單的使用url作為key，
                * 不考慮為解決請求型別為get時相同路徑引起的快取問題，採用隨機碼構建URL的情況
                */
                function generatePendingRequestKey(options) {
                    return options.url;
                }
            })
        })
</script>
    }
    else if (User.IsInRole("Buyer"))
    {
<script type="text/javascript">
        var url = '@Url.Action("getAllSupAccToIndexAjax", "BuyerSupAccount")';
        $("#Table").ready(() => {
            var columns = [];
            columns = [
                {
                    "data": null,
                    "defaultContent": ""
                },
                { "data": "SupplierCode" },
                { "data": "SupplierName" },
                { "data": "SupplierAccountID" },
                { "data": "ContactName" },
                {
                    "data": "Email",
                    "render": function (d) {
                        if (d == null) {
                            return "-";
                        }
                        return d;
                    }
                },
                {
                    "data": "AccountStatus",
                    "render": function (d) {
                        if (d == null) {
                            return "-";
                        } else if (d == "D") {
                            return `<h5><span class="badge badge-danger">停用</span></h5>`
                        } else if (d == "E") {
                            return `<h5><span class="badge badge-primary">啟用</span></h5>`
                        } else if (d == "R") {
                            return `<h5><span class="badge badge-warning">重設</span></h5>`
                        }
                        return d;
                    }
                },
                {
                    "data": "CreatorEmployeeID",
                    "render": function (d) {
                        if (d == null) {
                            return "-";
                        }
                        return d;
                    }
                },
                {
                    "data": "Mobile",
                    "render": function (d) {
                        if (d == null) {
                            return "-";
                        }
                        return d;
                    }
                },
                {
                    "data": "Tel",
                    "render": function (d) {
                        if (d == null) {
                            return "-";
                        }
                        return d;
                    }
                },
                {
                    "data": "ModifiedDate",
                    "render": function (d) {
                        if (d == null) {
                            return "-";
                        } else {
                            var str = d.slice(1, 20);
                            d = str.split("T").join(" ");
                        }
                        return d;
                    }
                },
                {
                    "data": "CreateDate",
                    "render": function (d) {
                        if (d == null) {
                            return "-";
                        } else {
                            var str = d.slice(1, 20);
                            d = str.split("T").join(" ");
                        }
                        return d;
                    }
                },
                {
                    "data": "SendLetterDate",
                    "render": function (d) {
                        if (d == null) {
                            return "-";
                        } else {
                            var str = d.slice(1, 20);
                            d = str.split("T").join(" ");
                        }
                        return d;
                    }
                },
                {
                    "data": "LastPasswordChangedDate",
                    "render": function (d) {
                        if (d == null) {
                            return "-";
                        } else {
                            var str = d.slice(1, 20);
                            d = str.split("T").join(" ");
                        }
                        return d;
                    },
                    "defaultContent": "-"
                },
                {
                    "data": "actionbtn",
                    "orderable": false,
                    "render": function () {
                        var frag = $(document.createDocumentFragment());
                        var str = `
                                <button class="btn editBtn btn-outline-secondary btn-icon" data-toggle="tooltip" title="啟用停用"><i class="far fa-edit"></i></button>
                                <button class="btn deleteBtn btn-outline-secondary btn-icon" data-toggle="tooltip" title="重設密碼"><i class="far fa-envelope"></i></button>`
                        frag.append(str);
                        $("td.action-btn").html(frag);
                    }
                }
            ];
            var oTable = $('#Table').DataTable({
                dom: "<'row'<'col-sm-12 col-md-5 mb-2 mt-2'B>><'row'<'col-sm-12 col-md-5'l><'col-sm-12 col-md-7'f>><t><'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
                buttons: [
                    'copy', 'csv', 'excel', 'print',
                    // {
                    //        text: '匯入 Excel',
                    //        attr:  {
                    //            "data-toggle": 'modal',
                    //            "data-target": '#importModal'
                    //        }
                    //}
                ],
                language: {
                    buttons: {
                        copy: "複製",
                        print: "列印",
                        copyTitle: '已複製到剪貼簿',
                        copySuccess: {
                            _: '%d 行已複製',
                            1: '1 行已複製'
                        }
                    }
                },
                ordering: true,
                //預設第1欄會有排序按鈕，需指定其他排序欄位才會消失
                order: [],
                responsive: {
                    details: {
                        type: 'column',
                        target: 0
                    }
                },
                "columnDefs": [{
                        className: 'control',
                        orderable: false,
                        targets: 0
                    },
                    {
                        defaultContent: `
                                <button class="btn editBtn btn-outline-secondary btn-icon" data-toggle="tooltip" title="啟用停用"><i class="far fa-edit"></i></button>
                                <button class="btn deleteBtn btn-outline-secondary btn-icon" data-toggle="tooltip" title="重設密碼"><i class="far fa-envelope"></i></button>`,
                        orderable: false,
                        className: 'action-btn',
                        targets: -1
                    },
                ],
                "ajax": {
                    "url": url,
                    "type": "GET",
                    "dataSrc": ""
                },
                "columns": columns
                },
            )

            $("#Non").click(() => {
                oTable.ajax.url('@Url.Action("getManagerAllSupAccToIndexAjax", "BuyerSupAccount")').load();
            })
            $("#All").click(() => {
                oTable.ajax.url(url).load();
            })
            //抓 table 裡按鈕請 如此 $("tbody").on()
            $("tbody").on('click', '.editBtn', function (e) {

                //SupAccID
                console.log($(this).closest('tr').find('td:eq(1)').find('td').remove().end().text());
                var supId = $(this).closest('tr').find('td:eq(1)').find('td').remove().end().text();
                $.getJSON(
                    '@Url.Action("getAllSupAccBySupCodeToIndexAjax")',
                    { id: supId },
                    function(x){
                        console.log(x)
                        $("#ContactName").val(x.ContactName);
                        $("#SupplierAccountID").val(x.SupplierAccountID);
                        $("#Email").val(x.Email);
                        $("#Mobile").val(x.Mobile);
                        $("#Tel").val(x.Tel);
                        $("#ModifiedDate").val(x.ModifiedDate == null ? '-' : () => { var str = x.ModifiedDate.slice(1, 20); x.ModifiedDate = str.split("T").join(" "); return x.ModifiedDate });
                        $("#CreateDate").val(x.CreateDate == null ? '-' : () => { var str = x.CreateDate.slice(1, 20); x.CreateDate = str.split("T").join(" "); return x.CreateDate });
                        $("#SendLetterDate").val(x.SendLetterDate == null ? '-' : () => { var str = x.SendLetterDate.slice(1, 20); x.SendLetterDate = str.split("T").join(" "); return x.SendLetterDate });
                        $("#LastPasswordChangedDate").val(x.LastPasswordChangedDate == null ? '-' : () => { var str = x.LastPasswordChangedDate.slice(1, 20); x.LastPasswordChangedDate = str.split("T").join(" "); return x.LastPasswordChangedDate });
                        function getAccountStatus() {
                            if (x.AccountStatus == null) {
                                return "-";
                            } else if (x.AccountStatus == "D") {
                                $("#AccountStatusSwitch").prop('checked', false);
                                return `<h5><span class="badge badge-danger">停用</span></h5>`
                            } else if (x.AccountStatus == "E") {
                                $("#AccountStatusSwitch").prop('checked', true);
                                return `<h5><span class="badge badge-primary">啟用</span></h5>`
                            } else if (x.AccountStatus == "R") {
                                $("#AccountStatusSwitch").prop('checked', true);
                                return `<h5><span class="badge badge-warning">重設</span></h5>`
                            }
                        }
                        $("#AccountStatus").html(getAccountStatus());
                    })

                $('#editModal').modal('show');
                //post 修改 sa 資料
                var doPost = $('#updateConfirm').click(function (e) {
                    //防止當掉時重複按
                    $(this).off('click', doPost);
                    e.preventDefault();
                    var formData = {
                        __RequestVerificationToken: $('#editOfSupform').serializeArray()[0].value,
                        SupId: $('#editOfSupform').serializeArray()[2].value,
                        AccStatus: $('input[name="AccStatus"]').prop("checked"),
                        sendResetMail: $('#sendResetMail').prop("checked")
                    }
                    console.log(formData)
                    //console.log(formData) 不知為啥這裡會重複提交
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("updateSupAccUsersAtIndex", "BuyerSupAccount")',
                        data: formData,
                        success: function (result) {
                                    toastr.options = {
                                      "closeButton": true,
                                      "debug": false,
                                      "newestOnTop": false,
                                      "progressBar": false,
                                      "positionClass": "toast-top-right",
                                      "preventDuplicates": false,
                                      "onclick": null,
                                      "showDuration": "300",
                                      "hideDuration": "1000",
                                      "timeOut": "5000",
                                      "extendedTimeOut": "1000",
                                      "showEasing": "swing",
                                      "hideEasing": "linear",
                                      "showMethod": "fadeIn",
                                      "hideMethod": "fadeOut"
                                    }
                                    toastr.success(`${formData.SupId} 更新成功!`)
                            //更新datatable
                            oTable.ajax.reload();
                        },
                        error: function (result) {
                                    toastr.options = {
                                        "closeButton": true,
                                        "debug": false,
                                        "newestOnTop": false,
                                        "progressBar": false,
                                        "positionClass": "toast-top-right",
                                        "preventDuplicates": false,
                                        "onclick": null,
                                        "showDuration": "300",
                                        "hideDuration": "1000",
                                        "timeOut": "5000",
                                        "extendedTimeOut": "1000",
                                        "showEasing": "swing",
                                        "hideEasing": "linear",
                                        "showMethod": "fadeIn",
                                        "hideMethod": "fadeOut"
                                    }
                                    toastr.error(`${formData.SupId} 更新失敗，請檢查網路連線後再試一次。`)
                            console.log(result)
                        }
                    })
                })
            })

            //重設密碼寄信按鈕
            $("tbody").on('click', '.deleteBtn', function (e) {
                console.log(e.currentTarget);
                console.log($(this).closest('tr').find('td:eq(3)').find('td').remove().end().text() )
                var supId = $(this).closest('tr').find('td:eq(3)').find('td').remove().end().text();
                Swal.fire({
                  title: `重設帳號: ${supId} ?`,
                  text: "確定後將重設密碼並寄出帳密",
                  type: 'warning',
                  showCancelButton: true,
                  confirmButtonColor: '#28A2FC',
                  cancelButtonColor: '#E8296C',
                  confirmButtonText: '確定發送'
                }).then((result) => {
                  if (result.value) {  $.ajax({
                    type: "POST",
                    url: '@Url.Action("sendMail", "BuyerSupAccount")',
                    data: { Id: supId },
                    success: function (result) {
                            toastr.options = {
                              "closeButton": true,
                              "debug": false,
                              "newestOnTop": false,
                              "progressBar": false,
                              "positionClass": "toast-top-right",
                              "preventDuplicates": false,
                              "onclick": null,
                              "showDuration": "300",
                              "hideDuration": "1000",
                              "timeOut": "5000",
                              "extendedTimeOut": "1000",
                              "showEasing": "swing",
                              "hideEasing": "linear",
                              "showMethod": "fadeIn",
                              "hideMethod": "fadeOut"
                            }
                            toastr.success(`${supId} 發送成功!`)
                            //更新datatable
                            oTable.ajax.reload();
                        },
                        error: function (result) {
                            toastr.options = {
                                "closeButton": true,
                                "debug": false,
                                "newestOnTop": false,
                                "progressBar": false,
                                "positionClass": "toast-top-right",
                                "preventDuplicates": false,
                                "onclick": null,
                                "showDuration": "300",
                                "hideDuration": "1000",
                                "timeOut": "5000",
                                "extendedTimeOut": "1000",
                                "showEasing": "swing",
                                "hideEasing": "linear",
                                "showMethod": "fadeIn",
                                "hideMethod": "fadeOut"
                            }
                            toastr.error('發送失敗，請檢查網路連線後再試一次。')
                            console.log(result)
                        }
                    })
                    Swal.fire({
                      title: `已發送!`,
                      text: `已將 ${supId} 重設密碼發送至該信箱`,
                      type: 'success',
                      confirmButtonColor: '#28A2FC'
                    })
                  }
                })
            })
        });

        $("#All").click(function (e) {
            $(this).addClass("tag");
            $("#Non").removeClass("tag");
        })
        $("#Non").click(function (e) {
            $(this).addClass("tag");
            $("#All").removeClass("tag");
        })
        $(document).ready(function () {
            var SuccessMsg = '@SuccessMsg';
            if(SuccessMsg){
                toastr.options = {
                    "closeButton": true,
                    "debug": false,
                    "newestOnTop": false,
                    "progressBar": false,
                    "positionClass": "toast-top-right",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "timeOut": "5000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                }
                toastr.success(SuccessMsg)
            }

            $('#AccountStatusSwitch').change(() => {
                if ($('#AccountStatusSwitch').prop('checked') == false) {
                    $('#lert').addClass('show');
                    //$('#sendResetMaildiv').addClass('d-none');
                    //$('#sendResetMaildiv').removeClass('d-inline-block');
                    $('#sendResetMaildiv').removeClass('show');
                } else {
                    $('#lert').removeClass('show');
                    //$('#sendResetMaildiv').removeClass('d-none');
                    $('#sendResetMaildiv').addClass('show');
                    //$('#sendResetMaildiv').addClass('d-inline-block');
                }
            })

            //防止重複ajax......
            var pendingRequests = {};
            // 所有ajax請求的通用前置filter
            $.ajaxPrefilter(function (options, originalOptions, jqXHR) {
                var key = generatePendingRequestKey(options);
                //請求是否已經存在
                if (!pendingRequests[key]) {
                    storePendingRequest(key, jqXHR);
                } else {
                    //如果ajax請求已經存在，下一次相同的請求則取消，防止重複請求
                    jqXHR.abort();
                }
                //ajax請求完成時，從臨時物件中清除請求對應的資料
                var complete = options.complete;
                options.complete = function (jqXHR, textStatus) {
                    //延時1000毫秒刪除請求資訊，表示同Key值請求不能在此時間段內重複提交
                    setTimeout(function () {
                        delete pendingRequests[jqXHR.pendingRequestKey];
                    }, 1000);
                    if ($.isFunction(complete)) {
                        complete.apply(this, arguments);
                    }
                }
                /**
                * 將ajax請求儲存到臨時物件中，用於根據key判斷請求是否已經存在
                */
                function storePendingRequest(key, jqXHR) {
                    pendingRequests[key] = jqXHR;
                    jqXHR.pendingRequestKey = key;
                }
                /**
                * 根據ajax請求引數構建一個臨時儲存key,此處簡單的使用url作為key，
                * 不考慮為解決請求型別為get時相同路徑引起的快取問題，採用隨機碼構建URL的情況
                */
                function generatePendingRequestKey(options) {
                    return options.url;
                }
            })
        })
</script>
    }
}