@model PMSAWebMVC.Models.StockIn

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>StockIn</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StockInOID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StockInOID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remark)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddStockDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddStockDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SignStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SignStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PurchaseOrderReceive.PurchaseOrderID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PurchaseOrderReceive.PurchaseOrderID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SignFlow.OriginatorID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SignFlow.OriginatorID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StockInID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
