@model IEnumerable<PMSAWebMVC.Models.StockIn>

@{
    ViewBag.Title = "入庫總表";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>
        入庫總表
    </div>
    <div class="card-body">
        <div>
            <div style="float:left">
                <button type="button" class="btn btn-warning" id="btnAdd"><i class="fa fa-plus"></i></button>
            </div>
            <div style="float:right" id="dabtn"></div>
        </div>
        <div class="table-responsive">
            <br />
            <table class="table table-striped hover order-column nowrap text-left" id="dataTable" cellspacing="0" style="width:100%">
                <thead>
                    <tr class="bg-primary text-white text-center">
                        <th>@Html.DisplayNameFor(model => model.StockInID)</th>
                        <th>@Html.DisplayNameFor(model => model.PurchaseOrderReceiveID)</th>
                        <th>@Html.DisplayNameFor(model => model.SignStatus)</th>
                        <th>@Html.DisplayNameFor(model => model.AddStockDate)</th>
                        <th>@Html.DisplayNameFor(model => model.CreateDate)</th>
                        <th style="width:10%;">編輯</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        string stuts = "";
                        string date = item.AddStockDate.ToString();
                        string date1 = item.CreateDate.ToShortDateString();
                        switch (item.SignStatus)
                        {
                            case "Y":
                                stuts = "同意";
                                break;
                            case "N":
                                stuts = "拒絕";
                                break;
                            case "S":
                                stuts = "簽核中";
                                break;
                        }
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.StockInID)</td>
                            <td>@Html.DisplayFor(modelItem => item.PurchaseOrderReceiveID)</td>
                            <td>@Html.DisplayFor(modelItem => stuts)</td>
                            <td>@Html.DisplayFor(modelItem => date)</td>
                            <td>@Html.DisplayFor(modelItem => date1)</td>
                            <td class="table-data-feature">
                                <span data-toggle="modal" data-target=".bd-example-modal-lg">
                                    <button name="click03" class="btn btn-outline-secondary btn-icon" data-toggle="tooltip" title="檢視" data-dc="@item.StockInID">
                                        <i class="far fa-eye"></i>
                                    </button>
                                </span>
                                <span data-toggle="modal" data-target=".bd-example-modal-lg">
                                    <button name="click04" class="btn btn-outline-secondary btn-icon" data-toggle="tooltip" title="編輯" data-dc="@item.StockInID">
                                        <i class="far fa-edit"></i>
                                    </button>
                                </span>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>

<style>
    .modal-header {
        padding: 15px;
        border-bottom: 1px solid #e5e5e5;
        background-color: blueviolet;
    }

    .modal-title {
        color: white;
    }

    .required:after {
        margin: 2px;
        content: '*';
        color: red;
    }

    #bt {
        border-style: none;
    }
</style>

@section scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script>
        $(document).ready(function () {
            var table = $('#dataTable').DataTable({
                buttons: [
                    'excel', 'pdf'
                ]
            });
            table.buttons().container().appendTo($('.col-sm-6:eq(0)', table.buttons().container().appendTo($('#dabtn'))));
        });

        $('#myInput').on('keyup', function () {
            table.search(this.value).draw();
        });

        //新增
        $(document).on('click', "#btnAdd", function () {
            let id1 = 'POR-20191023-001';
            var table = $('#dataTable').DataTable();
            var cell4 = '&nbsp;<span data-toggle="modal" data-target=".bd-example-modal-lg"><button id="bt" name="click03" class="btn btn-outline-secondary btn-icon" data-toggle="tooltip" title="檢視"><i class="far fa-eye"></i></button></span> &nbsp;<span data-toggle="modal" data-target=".bd-example-modal-lg"><button id="bt" name="click04" class="btn btn-outline-secondary btn-icon" data-toggle="tooltip" title="編輯"><i class="far fa-edit"></i></button></span>'
            $.ajax({
                    url: '@Url.Action("Create", "StockIns")',
                    contentType: 'application/json; charset=utf-8'
            }).done(function (response) {
                if (response.status) {
                    toastr.success(response.message, "通知");
                    table.row.add([response.inid1, response.orid1, response.sstus1, "", response.crdate1, cell4]).draw(false);
                } else {
                    toastr.error(response.message, "警告");
                }
            }).fail(function (response) {
                toastr.error(response.message, "警告");
            })

        });

        //檢視
        $(document).on('click', "button[name = 'click03']", function () {
            let id1 = this.dataset.dc;
            if(id1 == undefined){
                id1 = $(this).parents('tr').find('td:first-child').text();
            }
            $.getJSON("@Url.Action("Details", "StockIns")/" + id1, function (datas) {
                $('#ModalTitle').text('檢視入庫總表');
                $('*[name="da"]').attr('disabled', true);
                $('*[name="dta"]').attr('disabled', true);
                $('#btnUpdate').hide();
                $("#StockInID").val(datas[0].StockInID);
                $("#PurchaseOrderReceiveID").val(datas[0].PurchaseOrderReceiveID);
                $("#SignStatus").val(datas[0].datastust);
                $("#AddStockDate").val(datas[0].AddStockDate);
                $("#Remark").val(datas[0].Remark);
                $("#CreateEmployeeID").val(datas[0].CreateEmployeeID);
                $("#CreateDate").val(datas[0].date);
            })
        });

        //更新
        $(document).on('click', "button[name = 'click04']", function () {
            let id1 = this.dataset.dc;
            if(id1 == undefined){
                id1 = $(this).parents('tr').find('td:first-child').text();
            }
            $.getJSON("@Url.Action("Details", "StockIns")/" + id1, function (datas) {
                $('#ModalTitle').text('修改入庫總表');
                $('*[name="da"]').attr('disabled', false);
                $('*[name="dta"]').attr('disabled', true);
                $('#btnUpdate').show();
                $("#StockInID").val(datas[0].StockInID);
                $("#PurchaseOrderReceiveID").val(datas[0].PurchaseOrderReceiveID);
                $("#SignStatus").val(datas[0].datastust);
                $("#AddStockDate").val(datas[0].AddStockDate);
                $("#Remark").val(datas[0].Remark);
                $("#CreateEmployeeID").val(datas[0].CreateEmployeeID);
                $("#CreateDate").val(datas[0].date);
            })
        });

        $('#btnUpdate').click(function () {
            var stockinObj = {
                    StockInID:$("#StockInID").val(),
                    PurchaseOrderReceiveID:$("#PurchaseOrderReceiveID").val(),
                    SignStatus:$("#SignStatus").val(),
                    CreateEmployeeID:$("#CreateEmployeeID").val(),
                    CreateDate:$("#CreateDate").val(),
                    Remark:$("#Remark").val()
                }
                $.ajax({
                    url: '@Url.Action("Edit", "StockIns")',
                    dataType: 'json',
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(stockinObj)
                }).done(function (response) {
                    if (response.status) {
                        toastr.success(response.message, "通知");
                    }
                }).fail(function(response){
                    toastr.error(response.message, "警告");
                })
            $('#StockInModal').modal('hide');
        })

    </script>

}


<!--Modal-->
<div class="modal fade bd-example-modal-lg" id="StockInModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalTitle"></h5>
            </div>
            <div class="modal-body">
                <form id="addForm">
                    <div class="form-group">
                        <label for="StockInID" name="dta">@Html.DisplayNameFor(model => model.StockInID)</label>
                        <input type="text" class="form-control" id="StockInID" name="dta">
                    </div>
                    <div class="form-group">
                        <label for="PurchaseOrderReceiveID">@Html.DisplayNameFor(model => model.PurchaseOrderReceiveID)</label>
                        <br />
                        <input type="text" class="form-control" id="PurchaseOrderReceiveID" name="dta">
                    </div>
                    <div class="form-group" name="dta">
                        <label for="SignStatus">@Html.DisplayNameFor(model => model.SignStatus)</label>
                        <input type="text" class="form-control" id="SignStatus" name="dta">
                    </div>
                    <div class="form-group">
                        <label for="AddStockDate">@Html.DisplayNameFor(model => model.AddStockDate)</label>
                        <br />
                        <input type="text" class="form-control" id="AddStockDate" name="dta">
                    </div>
                    <div class="form-group">
                        <label for="Remark" name="dta">@Html.DisplayNameFor(model => model.Remark)</label>
                        <input type="text" class="form-control" id="Remark" name="da">
                    </div>
                    <div class="form-group">
                        <label for="CreateEmployeeID">@Html.DisplayNameFor(model => model.CreateEmployeeID)</label>
                        <br />
                        <input type="text" class="form-control" id="CreateEmployeeID" name="dta">
                    </div>
                    <div class="form-group" name="dta">
                        <label for="CreateDate">@Html.DisplayNameFor(model => model.CreateDate)</label>
                        <input type="text" class="form-control" id="CreateDate" name="dta">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="btnClose" type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                <button id="btnUpdate" type="button" class="btn btn-success">修改</button>
            </div>
        </div>
    </div>
</div>