@model PMSAWebMVC.Models.SupplierStock

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SupplierStock</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PartNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PartNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PartName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PartName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PartSpec)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PartSpec)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InventoryCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InventoryCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitsInStock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitsInStock)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitsOnStockOutOrder)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitsOnStockOutOrder)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitsOnStockInOrder)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitsOnStockInOrder)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Shelf_life)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Shelf_life)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateEmployeeID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateEmployeeID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastModifiedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastModifiedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastModifiedEmployeeID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastModifiedEmployeeID)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
