@model IEnumerable<PMSAWebMVC.Models.SourceList>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
    <h2>庫存管理</h2>&nbsp;
    <h2 class="align-content-xl-end">@ViewBag.supplierName</h2>
</nav>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <i class="fas fa-table"></i>
        <h6 class="m-0 font-weight-bold text-primary">庫存管理</h6>
    </div>
    <div class="card-body">
        <div class="dataTables_wrapper">
            <table class="nowrap dataTable dtr-column collapsed" id="dataTable" cellspacing="0" style="width:100%">
                <thead>
                    <tr role="row">

                        <th>
                            @Html.DisplayNameFor(model => model.SourceListID)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PartNumber)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.QtyPerUnit)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.UnitPrice)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.UnitsOnOrder)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.UnitsInStock)
                        </th>
                        <th>
                            調整庫存
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.SourceListID)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PartNumber)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.QtyPerUnit)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.UnitPrice)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.UnitsOnOrder)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.UnitsInStock)
                        </th>
                        <th>
                            調整庫存
                        </th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
@section scripts
        {
    <script>
            $(document).ready(function () {
                dataTableDisplay();
                ClickUpdateButton()
        });
        /////////////////////////////////////////////
        let table;
        //dataTable顯示方法
            function dataTableDisplay() {
              if ($.fn.DataTable.isDataTable("#dataTable")) {
                    $("#dataTable").DataTable().destroy();
                }
              //  $.fn.dataTable.ext.errMode = 'throw';
         table=        $('#dataTable').DataTable({
                  "ajax": {
                        "url":  `@Url.Action("GetSourcelistBySupplierCode", "SupplierStocks")`,
                        "type": "GET",
                        "dataType": "json",
                      "data": { "supplierCode": "@ViewBag.supplierCode" },
                        "contentType": "application/json;charset=utf-8",
                        "cache": true
                    },
                    responsive: {
                        details: {
                            type: 'column',
                           target:-1
                        }
                    },
                    columnDefs: [
                        {
                            className: 'control',
                            orderable: false,
                            targets: -1,
                        }
                    ],
                    "columns": [
                        { "data": "SourceListID" },
                        { "data": "PartNumber" },
                        { "data": "QtyPerUnit" },
                        { "data": "UnitPrice", render: $.fn.dataTable.render.number(',', '.', 0, '$') },
                        { "data": "UnitsOnOrder" },
                        { "data": "UnitsInStock"},
                        {
                            "data": "SourceListID",
                            "render": function (data, type, row, meta) {
                                return '<button class="btn btn-primary"' + 'name="UpdateStock"' + 'id="' + data + '">調整庫存</button>';
                            }
                        },
                        {
                            "data": "SourceListID",
                            orderable: false,
                            className: 'control',
                            render: function (data, type, row, meta) {
                                return '';
                            }
                        }
                    ],
                    fixedColumns: {
                        leftColumns: 2,
                    },
                    "lengthMenu": [[10, 25, 50, 75, 100, -1], [10, 25, 50, 75, 100, "All"]],
                    "order": [[1, "asc"]],
                    "sDom": '<"wraptop"<"top fl"fl><"top"p>>',
                    "autoWidth": false
                });
        }
        /////////////////////////////////////////////////////
        //調整庫存按鈕
        function ClickUpdateButton() {
                $(document).on('click', "button[name='UpdateStock']", async function () {
                    let td = $(this).parent('td');
                    let tr = td.parent('tr');
                    let stock = tr.children('td:nth-child(6)').text();
                    let id = $(this).prop('id');
                     const { value: formValues } = await Swal.fire({
                        title: '庫存數量修改',
                        html:
                            '<Label swal-label>PartNumber</Label>' +
                             `<input id="stock" class="swal2-input" value="${stock}">`,
                         showCancelButton: true,
                         cancelButtonColor: '#d33',
                         cancelButtonText:'取消',
                        focusConfirm: false,
                        preConfirm: () => {
                            return [
                                document.getElementById('stock').value,
                            ]
                        }
                    });
                    //呼叫UpdateStock方法修改庫存
                    if (formValues && parseInt(formValues[0]) >= 0) {
                        let uisChange = parseInt(formValues[0]);
                        let jsondata = JSON.stringify({ SourceListID: id, UnitsInStock: uisChange });
                        $.ajax({
                            url: "@Url.Action("UpdateStock", "SupplierStocks")",
                            type: "POST",
                            data: jsondata,
                            contentType: "application/json",
                            dataType: "JSON"
                        }).done(function (res) {
                            if (res.status == "saved") {
                               // alert("庫存已修改");
                                dataTableDisplay();
                                toastr.success(res.message,"通知");
                              //  table.row(tr).cell(':eq(6)').data(uisChange).draw();
                            }
                            if (res.status == "savefail") {
                            //    alert("庫存修改失敗，庫存不得小於零");
                                toastr.error(res.message, "通知");
                            }
                        }).fail(function (err) {
                            alert("ajax fail  " + err.responseJSON);
                            });
                    }
                    else {
                        toastr.error("庫存不得小於零", "警告");
                    }
                });
        }
        ///////////////////////////////////////////////////
    </script>
}









<!-- DataTables Example---------------------------------------------------------------------------------------------------------------- -->
@*<div class="card mb-3">
            <div class="card-header">
                <i class="fas fa-table"></i>
                Data Table Example
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered" id="dataTable" cellspacing="0" style="width:100%">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.SourceListOID)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.PartNumber)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Batch)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Discount)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.DiscountBeginDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.DiscountEndDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CreateDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.UnitsInStock)
                                </th>
                                <th>
                                    編輯
                                </th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.SourceListOID)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.PartNumber)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Batch)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Discount)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.DiscountBeginDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.DiscountEndDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CreateDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.UnitsInStock)
                                </th>
                                <th>
                                    編輯
                                </th>
                            </tr>
                        </tfoot>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SourceListOID)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PartNumber)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Batch)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Discount)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DiscountBeginDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DiscountEndDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CreateDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => item.UnitsInStock)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new { id = item.SourceListOID }) |
                                        @Html.ActionLink("Details", "Details", new { id = item.SourceListOID }) |
                                        @Html.ActionLink("Delete", "Delete", new { id = item.SourceListOID })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
        </div>
        @section scripts
    {
            <script>
                $(document).ready(function () {
                    $('#dataTable').DataTable();
                });
            </script>

        }*@
