@*<ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("中文", "SetLanguage", "Account", new { cultureName = "zh-TW" })
        </li>
        <li>
            @Html.ActionLink("日本語", "SetLanguage", "Account", new { cultureName = "ja" }, new { @class = "btn btn-primary", @id = "navbrand" })
        </li>
        <li>
            @Html.ActionLink("English", "SetLanguage", "Account", new { cultureName = "en-US" }, new { @class = "btn btn-primary", @id = "navbrand" })
        </li>
    </ul>*@

<div class="d-flex mt-5 pt-3 align-items-center justify-content-center flex-wrap">
    <a class="nav-link" style="font-size: 12px;padding:0 15px 0 12px;color:#ffbb33;" href="@Url.Action("SetLanguage", "Account", new { cultureName = "zh-TW" })">
        <span>中文</span>
    </a>
    <a class="nav-link" style="font-size: 12px;padding:0 15px 0 12px;color:#ffbb33;" href=" @Url.Action("SetLanguage", "Account", new { cultureName = "ja" })">
        <span>日本語</span>
    </a>
    <a class="nav-link" style="font-size: 12px;padding:0 15px 0 12px;color:#ffbb33;" href="@Url.Action( "SetLanguage", "Account", new { cultureName = "en-US" })">
        <span>English</span>
    </a>
</div>