@using PMSAWebMVC.Models;
@using Microsoft.AspNet.Identity;
<!DOCTYPE html>
<html>
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/form")
    @Styles.Render("~/Content/DataTables")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", required: false)
    <!-- Optional: include a polyfill for ES6 Promises for IE11 -->
    @*<script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script>*@
</head>
<body id="page-top">
    <div id="wrapper">
        <button class="btn btn-link btn-sm text-white" id="sidebarToggleMobile" href="#" style="position:absolute; top: 10px;">
            <i class="fas fa-bars"></i>
        </button>
        <!-- Sidebar -->
        <div class="sidebar-content sidebar navbar-nav navbar-light" style="z-index:9999">
            <!-- Navbar -->
            <nav class="sidebar-wrapper navbar navbar-expand navbar-dark sidebar-menu sidebar nav">
                <div class="sidebar-menu">
                    <ul>
                        <li>
                            <button class="navbtn btn btn-link btn-sm text-white" id="sidebarToggle" href="#">
                                <i class="fas fa-bars"></i>
                            </button>
                            <div class="sidebar-brand nav-item" style="height:40px;">
                                <a class="navbar-brand d-none" id="navbrand" href="@Url.Action("Index", "Home")"><i class="fas fa-bicycle"></i> @PMSAWebMVC.Resources.AppResource.chokobo</a>
                            </div>
                        </li>
                        <li class="sidebar-dropdown nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <div id="userwrap">
                                    <div style="display:flex; flex-direction:row !important;">
                                        <div style="width:40px;">
                                            <i class="fas fa-user-circle fa-fw pb-2" style="font-size: 40px;margin-top:10px;"></i>
                                        </div>
                                        @if (Request.IsAuthenticated)
                                        {
                                            <div class="userwrap d-none" style="margin-left:10px;">
                                                <span style="display:block;">@User.Identity.GetTitle()</span>
                                                <span style="display:block;">@User.Identity.GetRealName()</span>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </a>
                            <div class="sidebar-submenu dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">基本資料設定</a>
                                <a class="dropdown-item" href="#">重設密碼</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" style="font-weight: 600;letter-spacing:2px;" href="@Url.Action( "LogOff", "Account")"><i class="fas fa-power-off"></i>登出</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("Index", "Home")" class="nav-link">
                                <i class="fas fa-fw fa-tachometer-alt"></i>
                                <span>首頁</span>
                            </a>
                        </li>
                        @if (User.IsInRole("Supplier"))
                        {
                            <li class="sidebar-dropdown nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-fw fa-folder"></i>
                                    <span>@PMSAWebMVC.Resources.AppResource.Supplier</span>
                                </a>
                                <div class="sidebar-submenu dropdown-menu" aria-labelledby="pagesDropdown">
                                    @*<h6 class="dropdown-header">@PMSAWebMVC.Resources.AppResource.InventoryManagementSupplier</h6>*@
                                    @Html.ActionLink(PMSAWebMVC.Resources.AppResource.ShipNotice, "Index", "ShipNotices", null, new { @class = "dropdown-item" })
                                    @Html.ActionLink(PMSAWebMVC.Resources.AppResource.InventoryManagementSupplier, "Index", "SupplierStocks", null, new { @class = "dropdown-item" })
                                    @*<a class="dropdown-item" href="~/Views/SupplierShipments/Index.cshtml">庫存管理(供應商)</a>*@
                                </div>
                            </li>
                        }
                        @if (User.IsInRole("Warehouse"))
                        {
                            <li class="sidebar-dropdown nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-fw fa-folder"></i>
                                    <span>@PMSAWebMVC.Resources.AppResource.Inventory</span>
                                </a>
                                <div class="sidebar-submenu dropdown-menu" aria-labelledby="pagesDropdown">
                                    @*<h6 class="dropdown-header">@PMSAWebMVC.Resources.AppResource.Inventory</h6>*@
                                    <a class="dropdown-item" href="@Url.Action("Index", "WarehouseInfoes")">@PMSAWebMVC.Resources.AppResource.WarehouseInfoes</a>
                                    <a class="dropdown-item" href="@Url.Action("Index", "InventoryDtls")">@PMSAWebMVC.Resources.AppResource.InventoryDtls</a>
                                </div>
                            </li>
                        }
                        @if (User.IsInRole("Admin"))
                        {
                            <li class="sidebar-dropdown nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-fw fa-folder"></i>
                                    <span>管理員</span>
                                </a>
                                <div class="sidebar-submenu dropdown-menu" aria-labelledby="pagesDropdown">
                                    @*<h6 class="dropdown-header">管理員</h6>*@
                                    <a class="dropdown-item" href="@Url.Action("Create", "RolesAdmin")">角色管理</a>
                                    <a class="dropdown-item" href="@Url.Action("Create", "UsersAdmin")">採購員帳號管理</a>
                                </div>
                            </li>
                        }
                        @if (User.IsInRole("Buyer"))
                        {
                            <li class="sidebar-dropdown nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-fw fa-folder"></i>
                                    <span>@PMSAWebMVC.Resources.AppResource.PartsMangement</span>
                                </a>
                                <div class="sidebar-submenu dropdown-menu" aria-labelledby="pagesDropdown">
                                    @*<h6 class="dropdown-header">@PMSAWebMVC.Resources.AppResource.PartsMangement</h6>*@
                                    <a class="dropdown-item" href="@Url.Action("Index", "Parts")">@PMSAWebMVC.Resources.AppResource.Parts</a>
                                    <a class="dropdown-item" href="@Url.Action("Index", "Products")">@PMSAWebMVC.Resources.AppResource.Products</a>
                                </div>
                            </li>
                        }
                        @if (User.IsInRole("Buyer"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index", "SourceLists")">
                                    <i class="fas fa-fw fa-table"></i>
                                    <span>貨源清單</span>
                                </a>
                            </li>
                        }
                        @if (User.IsInRole("Buyer") || User.IsInRole("ProductionControl"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index", "PurchaseRequisitions")">
                                    <i class="fas fa-fw fa-table"></i>
                                    <span>請購單</span>
                                </a>
                            </li>
                        }
                        @if (User.IsInRole("Buyer"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index", "PurchaseOrders")">
                                    <i class="fas fa-fw fa-table"></i>
                                    <span>採購單</span>
                                </a>
                            </li>
                        }
                        <li>
                            @Html.Partial("_LanguagePartial")
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column mr-3">
            <div class="container-fluid p-3">
                <!-- Breadcrumbs-->
                <!-- Icon Cards-->
                <!-- Area Chart Example-->
                @RenderBody()
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /.content-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/js")
    @Scripts.Render("~/bundles/form")
    @Scripts.Render("~/bundles/DataTables")
    @RenderSection("scripts", required: false)
</body>
</html>