@using PMSAWebMVC.Models;
@using Microsoft.AspNet.Identity;
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/form")
    @Styles.Render("~/Content/DataTables")
    @Styles.Render("~/Content/Slick")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", required: false)
    <!-- Optional: include a polyfill for ES6 Promises for IE11 -->
    @*<script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script>*@
</head>
<body id="page-top">
    <div id="wrapper">
        <button class="navbtn btn btn-link btn-sm text-white text-decoration-none" id="sidebarToggleMobile" href="#">
            <i class="fas fa-bars"></i>
        </button>
        <!-- Sidebar -->
        <div class="sidebar-content sidebar navbar-nav navbar-light" style="z-index:500">
            <!-- Navbar -->
            <nav class="sidebar-wrapper navbar navbar-expand navbar-dark sidebar-menu sidebar nav">
                <div class="sidebar-menu">
                    <ul class="topUl">
                        <li class="d-flex align-items-center justify-content-center">
                            <button class="navbtn btn btn-link btn-sm text-white text-decoration-none" id="sidebarToggle" href="#">
                                <i class="fas fa-bars"></i>
                            </button>
                            <div class="sidebar-brand nav-item mb-0">
                                @if (User.IsInRole("Supplier"))
                                {
                                    <a class="navbar-brand d-none" id="navbrand" href="@Url.Action("Index", "SupplierHome", new { Area = "SupplierArea" })" style="font-family:'NSimSun';color:#EBEEF5;letter-spacing: 5px;"><i class="fas fa-bicycle mr-1"></i>@PMSAWebMVC.Resources.AppResource.chokobo</a>
                                }
                                else
                                {
                                    <a class="navbar-brand d-none" id="navbrand" href="@Url.Action("Index", "Home",new { Area="" })" style="font-family:'NSimSun';color:#EBEEF5;letter-spacing: 5px;"><i class="fas fa-bicycle mr-1"></i>@PMSAWebMVC.Resources.AppResource.chokobo</a>
                                }
                            </div>
                        </li>
                    </ul>
                    <ul class="middleUl">
                        <li class="sidebar-dropdown nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <div id="userwrap">
                                    <div style="display:flex; flex-direction:row !important;">
                                        <div style="width:40px;">
                                            <i class="fas fa-user-circle fa-fw pb-2" style="font-size: 40px;margin-top:10px;"></i>
                                        </div>
                                        @if (Request.IsAuthenticated)
                                        {
                                            <div class="userwrap d-none" style="margin-left:10px;">
                                                <span style="display:block;">@User.Identity.GetTitle()</span>
                                                <span style="display:block;">@User.Identity.GetRealName()</span>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </a>
                            <div class="sidebar-submenu dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">

                                @if (User.IsInRole("Buyer") || User.IsInRole("Warehouse") || User.IsInRole("Admin") || User.IsInRole("Manager") || User.IsInRole("ProductionControl"))
                                {
                                    <a class="dropdown-item" href="@Url.Action("Index", "BuyerSetting")">基本資料設定</a>
                                }

                                @if (User.IsInRole("Supplier"))
                                {
                                    <a class="dropdown-item" href="@Url.Action("Index", "SupSetting", new { Area = "SupplierArea" })">基本資料設定</a>
                                }
                                <a class="dropdown-item" href="@Url.Action("ResetPassword", "Account", new { Area = "" })">重設密碼</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            @if (User.IsInRole("Supplier"))
                            {
                                <a class="nav-link" href="@Url.Action("Index", "SupplierHome", new { Area = "SupplierArea" })"><i class="fas fa-fw fa-tachometer-alt"></i><span>首頁</span></a>
                            }
                            else
                            {
                                <a class="nav-link" href="@Url.Action("Index", "Home",new { Area="" })"><i class="fas fa-fw fa-tachometer-alt"></i><span>首頁</span></a>
                            }
                        </li>
                        @if (User.IsInRole("Supplier"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index", "Orders", new { Area = "SupplierArea" })">
                                    <i class="fas fa-fw fa-table"></i>
                                    <span>訂單管理</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index", "ShipNotices", new { Area = "SupplierArea" })">
                                    <i class="fas fa-fw fa-table"></i>
                                    <span>@PMSAWebMVC.Resources.AppResource.ShipNotice</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index", "SupplierStocks", new { Area = "SupplierArea" })">
                                    <i class="fas fa-fw fa-table"></i>
                                    <span>@PMSAWebMVC.Resources.AppResource.InventoryManagementSupplier</span>
                                </a>
                            </li>
                            @*<a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-fw fa-folder"></i>
                                    <span>@PMSAWebMVC.Resources.AppResource.Supplier</span>
                                </a>*@
                            @*<div class="sidebar-submenu dropdown-menu" aria-labelledby="pagesDropdown">
                                @Html.ActionLink("訂單管理", "Index", "Orders", new { Area = "SupplierArea" }, new { @class = "dropdown-item" })
                                @Html.ActionLink(PMSAWebMVC.Resources.AppResource.ShipNotice, "Index", "ShipNotices", new { Area = "SupplierArea" }, new { @class = "dropdown-item" })
                                @Html.ActionLink(PMSAWebMVC.Resources.AppResource.InventoryManagementSupplier, "Index", "SupplierStocks", new { Area = "SupplierArea" }, new { @class = "dropdown-item" })
                                @*<a class="dropdown-item" href="~/Views/SupplierShipments/Index.cshtml">庫存管理(供應商)</a>*@
                            @* </div>*@

                        }
                        @if (User.IsInRole("Warehouse"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index", "WarehouseInfoes")">
                                    <i class="fas fa-fw fa-table"></i>
                                    <span>@PMSAWebMVC.Resources.AppResource.WarehouseInfoes</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index", "InventoryDtls")">
                                    <i class="fas fa-fw fa-table"></i>
                                    <span>@PMSAWebMVC.Resources.AppResource.InventoryDtls</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index", "StockIns",new { Area=""})">
                                    <i class="fas fa-fw fa-table"></i>
                                    <span>入庫單</span>
                                </a>
                            </li>
                        }
                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index", "RolesAdmin")">
                                    <i class="fas fa-fw fa-table"></i>
                                    <span>角色管理</span>
                                </a>
                            </li>
                            <li class="nav-item pagesDropdown">
                                <a class="nav-link" href="@Url.Action("Index", "UsersAdmin")">
                                    <i class="fas fa-fw fa-table"></i>
                                    <span>採購方帳號管理</span>
                                </a>
                                <div class="sidebar-submenu dropdown-menu" aria-labelledby="pagesDropdown">
                                    @*<h6 class="dropdown-header">管理員</h6>*@
                                    <a class="dropdown-item" href="@Url.Action("Index", "RolesAdmin",new { Area=""})">角色管理</a>
                                    <a class="dropdown-item" href="@Url.Action("Index", "UsersAdmin",new { Area=""})">採購員帳號管理</a>
                                </div>
                            </li>
                        }
                        @if (User.IsInRole("Buyer"))
                        {
                            <li class="sidebar-dropdown nav-item dropdown pagesDropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-fw fa-folder"></i>
                                    <span>供應商管理</span>
                                </a>
                                <div class="sidebar-submenu dropdown-menu" aria-labelledby="pagesDropdown">
                                    @*<h6 class="dropdown-header">@PMSAWebMVC.Resources.AppResource.PartsMangement</h6>*@
                                    <a class="dropdown-item" href="@Url.Action("Index", "SupInfoCompany",new { Area=""})">供應商公司</a>
                                    <a class="dropdown-item" href="@Url.Action("Index", "BuyerSupAccount",new { Area=""})">供應商帳號</a>
                                </div>
                            </li>
                        }
                        @if (User.IsInRole("Buyer"))
                        {
                            <li class="sidebar-dropdown nav-item dropdown pagesDropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-fw fa-folder"></i>
                                    <span>@PMSAWebMVC.Resources.AppResource.PartsMangement</span>
                                </a>
                                <div class="sidebar-submenu dropdown-menu" aria-labelledby="pagesDropdown">
                                    @*<h6 class="dropdown-header">@PMSAWebMVC.Resources.AppResource.PartsMangement</h6>*@
                                    <a class="dropdown-item" href="@Url.Action("Index", "Parts",new { Area=""})">@PMSAWebMVC.Resources.AppResource.Parts</a>
                                    <a class="dropdown-item" href="@Url.Action("Index", "Products",new { Area=""})">@PMSAWebMVC.Resources.AppResource.Products</a>
                                </div>
                            </li>
                        }
                        @if (User.IsInRole("Buyer"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index", "SourceLists",new { Area=""})">
                                    <i class="fas fa-fw fa-table"></i>
                                    <span>貨源清單</span>
                                </a>
                            </li>
                        }
                        @if (User.IsInRole("Buyer") || User.IsInRole("ProductionControl"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index", "PurchaseRequisitions",new { Area=""})">
                                    <i class="fas fa-fw fa-table"></i>
                                    <span>請購單</span>
                                    <span id="prSignAlertIcon" class="d-none" data-toggle="tooltip" title="您有尚未簽核的請購單">
                                        <i class="fas fa-clipboard-check bg-transparent text-danger"></i>
                                    </span>
                                </a>
                            </li>
                        }
                        @if (User.IsInRole("Buyer"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index", "PurchaseOrders",new { Area=""})">
                                    <i class="fas fa-fw fa-table"></i>
                                    <span>採購單</span>
                                    <span id="poSignAlertIcon" class="d-none" data-toggle="tooltip" title="您有尚未簽核的採購單">
                                        <i class="fas fa-clipboard-check bg-transparent text-danger"></i>
                                    </span>
                                </a>
                            </li>
                        }
                        @if (User.IsInRole("Buyer"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index", "PurchaseOrderReceives",new { Area=""})">
                                    <i class="fas fa-fw fa-table"></i>
                                    <span>進貨單</span>
                                </a>
                            </li>
                        }
                    </ul>
                </div>
                <ul id="bottomUl">
                    <li class="bottomLi">
                        @Html.Partial("_LanguagePartial")
                        <form action="@Url.Action( "LogOff", "Account",new { Area=""})" method="post" style="width: 100%;">
                            @Html.AntiForgeryToken()
                            <span class="logoff nav-item">
                                <button type="submit" class="nav-link">
                                    <i class="fas fa-sign-out-alt"></i>
                                    <span>登出</span>
                                </button>
                            </span>
                        </form>
                    </li>
                </ul>
            </nav>
        </div>
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column mr-3">
            <div class="container-fluid">
                <!-- Breadcrumbs-->
                <!-- Icon Cards-->
                <!-- Area Chart Example-->
                @RenderBody()
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /.content-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/js")
    @Scripts.Render("~/bundles/form")
    @Scripts.Render("~/bundles/DataTables")
    @Scripts.Render("~/bundles/HighCharts")
    @*bubbleChart還是需要引用此CDN*@
    @*<script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/highcharts-more.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>
        <script src="https://code.highcharts.com/modules/accessibility.js"></script>*@
    @*//////////////////////////////////////////*@
    @Scripts.Render("~/bundles/Slick")
    @RenderSection("scripts", required: false)

    @if (User.IsInRole("Buyer") && User.IsInRole("Manager"))
    {
        <script>
            $(document).ready(function () {
                querySignAlert();
            });
            async function querySignAlert() {
                while (true) {
                    //查詢未簽核的內容
                    await fetch('@Url.Action("GetSignAlert", "Home")')
                        .then(datas => {
                            return datas.json();
                        }).then(result => {
                            let spanAlert;
                            result.datas.forEach(function (item) {
                                switch (item.SignEvent) {
                                    case "PO":
                                        spanAlert = $("#poSignAlertIcon");
                                        break;
                                    case "PR":
                                        spanAlert = $("#prSignAlertIcon");
                                        break;
                                    default:
                                }
                                if (item.Count > 0) {
                                    spanAlert.removeClass("d-none").show();
                                } else {
                                    spanAlert.hide();
                                }
                            });
                        });
                    //暫停
                    await new Promise(resolve => setTimeout(resolve, 3000));
                }
            }
        </script>
    }
</body>
</html>